<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="timeForm">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Xác nhận lỗi</label>
        <div class="col-4">
          <select class="form-control">
            <option [value]="">Chọn loại chứng từ</option>
            <option [value]="">Hoạt động</option>
            <option [value]="">Không hoạt động</option>
          </select>
          <!--          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">-->
          <!--            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>-->
          <!--          </div>-->
        </div>
        <label class="col-2 col-form-label text-right">Phân loại lỗi</label>
        <div class="col-4">
          <select class="form-control">
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
          <!--          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">-->
          <!--            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mức độ rủi ro</label>
        <div class="col-4">
          <select class="form-control" disabled>
            <option value="">--Chọn--</option>
            <option [value]="'RL01'">Cao</option>
            <option [value]="'RL02'">Trung Bình</option>
            <option [value]="'RL03'">Thấp</option>
          </select>
        </div>
        <!--          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">-->
        <!--            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>-->
        <!--          </div>-->
        <label class="col-2 col-form-label text-right">Nhóm lỗi</label>
        <div class="col-4">
          <select class="form-control" disabled>
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
          <!--          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">-->
          <!--            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right ">Trạng thái khắc phục
        </label>
        <div class="col-4">
          <select class="form-control">
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
          <!--          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">-->
          <!--            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right ">Ghi chú</label>
        <div class="col-10">
          <textarea class="form-control" rows="3" placeholder="Nhập ghi chú"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="timeForm.invalid">
            <i class="far fa-save"></i> {{titleButton}}
          </button>&nbsp;
          <!--          <button type="button" class="ml-10" mat-raised-button [mat-dialog-close] cdkFocusInitial>-->
          <!--            <i class="fas fa-times"></i> Đóng-->
          <!--          </button>-->
        </div>
      </div>
    </div>
  </form>
</div>
