<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Phê duyệt mượn CT tại KSS</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>

  <form class="form" *ngIf="tblSlipBorrow">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6  ">
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Ngày mượn CT:</label>
              </div>
              <div class="col-8" style="display: flex">
                <input type="text" name="expectFromDate" [(ngModel)]="tblSlipBorrow.expectFromDate" class="form-control w-100"
                readonly  >
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Cán bộ nhận CT:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="createUsername" [(ngModel)]="tblSlipBorrow.createUsername" readonly >
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Thuộc đơn vị:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="branchCode" [(ngModel)]="tblSlipBorrow.branchCode" readonly >
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">CV KSS duyệt:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="status" [(ngModel)]="tblSlipBorrow.status" readonly>
              </div>
            </div>
          </div>

          <div class="col-6  ">
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Ngày dự kiến trả:</label>
              </div>
              <div class="col-8" style="display: flex">
                <input type="text" name="expectToDate" [(ngModel)]="tblSlipBorrow.expectToDate"  class="form-control w-100"
                readonly >
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">CMTND/ID NV:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="receiveId" [(ngModel)]="tblSlipBorrow.receiveId" readonly>
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Lý do mượn:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="reason" [(ngModel)]="tblSlipBorrow.reason" readonly >
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">GĐ KSS duyệt:</label>
              </div>
              <div class="col-8">
                <input class="form-control" name="apprStatus" [(ngModel)]="tblSlipBorrow.apprStatus" readonly >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group   row">
          <div class="col-2">
            <label for="note">Ghi chú</label>
          </div>
          <div class="col-10">
            <textarea class="form-control" id="note" style="height: auto; width: 100%"></textarea>
          </div>
        </div>
      </div>
    </div>
    <p><i>*Thông tin chứng từ cần mượn</i></p>
    <hr />
    <div class="card-body">
      <div class="container-fluid">
        <div class="form-group">
          <div class="mat-table-wrapper-dashboard"  style="margin-top: -25px ;">
            <table mat-table [dataSource]="dataSurce1">
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>
                  STT
                </th>
                <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                  {{i+1}}
                </td>
              </ng-container>
              <ng-container matColumnDef="need">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">
                  Bút toán cần mượn
                </th>
                <td mat-cell class="col-need" *matCellDef="let element" >
                  {{element.refno}}
                </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">
                  Ngày chứng từ
                </th>
                <td mat-cell class="col-date" *matCellDef="let element">
                  {{element.refDate}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
            <div class="form-group " style="display: flex; justify-content: center;">
              <div>
                <button type="submit"(click)="approval()" *ngIf="tblSlipBorrow.status == 'OPEN'" mat-raised-button style="width: 120px; margin-right: 25px;" color="primary" >
                  <mat-icon>done</mat-icon>
                  Duyệt
                </button>
              </div>
              <button type="button" *ngIf="tblSlipBorrow.status == 'OPEN' " mat-raised-button style="width: 120px" [mat-dialog-close]="'close'" cdkFocusInitial>
                <i class="fas fa-times"></i> Từ chối
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
