<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Kiểm soát sau chứng từ kế toán bởi KSS</span>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="row form-group">
      <div class="col-4 form-group">
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Chi nhánh: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Chọn chi nhánh</option>
              <option value="">Chi nhánh 1</option>
              <option value="">Chi nhánh 3</option>
              <option value="">Chi nhánh 4</option>
              <option value="">Chi nhánh 5</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Loại tiền: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Loại tiền</option>
              <option value="">VNĐ</option>
              <option value="">USA</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right" for="stqk">Số tiền quy đổi: </label>
          <div class="col-8">
            <input class="form-control" placeholder="Nhập số tiền" id="stqk">
          </div>
        </div>
      </div>
      <div class="col-4 form-group">
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Ngày bàn giao: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Chọn phòng ban hạch toán</option>
              <option value="">Phòng ban 1</option>
              <option value="">Phòng ban 2</option>
              <option value="">Phòng ban 3</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Bút toán lương: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Lựa chọn</option>
              <option value="">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right" for="unl">User nhập liệu: </label>
          <div class="col-8">
            <input class="form-control" placeholder="Nhập user nhập liệu" id="unl">
          </div>
        </div>
      </div>
      <div class="col-4 form-group">
        <div class="row form-group">
          <label class="col-4 col-form-label text-right" for="sbt">Số bút toán: </label>
          <div class="col-8">
            <input class="form-control" placeholder="Nhập số bút toán" id="sbt">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Nghiệp vụ: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Chọn Nghiệp vụ</option>
              <option value="">Loại 2</option>
              <option value="">Loại 3</option>
              <option value="">Loại 4</option>
              <option value="">Loại 5</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Ngày giao dịch: </label>
          <div class="col-8">
            <div style="display: flex">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                     placeholder="Từ">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                     placeholder="Đến">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button
        mat-raised-button
        color="primary"
        type="button">
        Tìm kiếm
      </button>
    </div>
  </kt-portlet-body>
  <kt-portlet-header [class]="'card-head-lg'" class="mt-5">
    <ng-container ktPortletTitle>

    </ng-container>
    <ng-container ktPortletTools>
      <button
        class="mr-2"
        mat-raised-button
        (click)="openCT()"
        color="primary"
        type="button">
        Chấm CT
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button" routerLink="/check-document/timekeeping-add">
        Thêm mới
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="cb">
          <th mat-header-cell *matHeaderCellDef><input type="checkbox"></th>
          <td mat-cell *matCellDef="let element"><input type="checkbox"></td>
        </ng-container>

        <ng-container matColumnDef="soBT">
          <th mat-header-cell *matHeaderCellDef width="200">Số bút toán</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>
        <ng-container matColumnDef="userC">
          <th mat-header-cell *matHeaderCellDef width="200">User chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="ngayC">
          <th mat-header-cell *matHeaderCellDef width="200">Ngày chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="tLoi">
          <th mat-header-cell *matHeaderCellDef width="200">Tổng số lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="kqTD">
          <th mat-header-cell *matHeaderCellDef width="200">KQ tự động chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="dttC">
          <th mat-header-cell *matHeaderCellDef width="200">Độ tự tin chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>
        <ng-container matColumnDef="ngayGD">
          <th mat-header-cell *matHeaderCellDef width="200">Ngày giao dịch</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="tkNo">
          <th mat-header-cell *matHeaderCellDef width="200">TK ghi nợ</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="tkCo">
          <th mat-header-cell *matHeaderCellDef width="200">TK ghi có</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="userHQ">
          <th mat-header-cell *matHeaderCellDef width="200">User hạch toán</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="userD">
          <th mat-header-cell *matHeaderCellDef width="200">User Duyệt</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="sotien">
          <th mat-header-cell *matHeaderCellDef width="200">Số tiền</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>
        <ng-container matColumnDef="sophi">
          <th mat-header-cell *matHeaderCellDef width="200">Số phí</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editTimeKeeping(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <!--            <button mat-icon-button color="primary" type="button"-->
            <!--                    (click)="deleteCategoryArea(element)">-->
            <!--              <mat-icon>delete</mat-icon>-->
            <!--            </button>&nbsp;-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
  </kt-portlet-body>
</kt-portlet>
