<kt-portlet class="mt-5">
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách tài sản đảm bảo</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addNew()">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-6   ">
          <div class="form-group row">
            <label class="col-4 col-form-label">Mã khách hàng</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Tên khách hàng</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Mã MD</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Giá trị MD</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-6 container-fluid ">
          <div class="form-group row">
            <label class="col-4 col-form-label">Chi tiết TSBĐ</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Mô tả TS</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Tần suất</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Ngày kiểm tra gần nhất</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Thời gian kiểm tra TSBĐ</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<div></div>
<kt-portlet class="mt-5">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header style="background-color: #E0E0E0;">
        <mat-panel-title>
          <mat-icon>assignment</mat-icon>
          Thông tin cập nhật kết quả kiểm tra MĐSDV GSSGN cập nhật
        </mat-panel-title>
      </mat-expansion-panel-header>
      <kt-portlet-body>
        <form action="#">
          <div class="row form-group">
            <div class="col-6 container-fluid ">
              <div class="form-group row">
                <label class="col-4 col-form-label">
                  Mã LOS</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Hồ sơ thu thập</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Hồ sơ thiếu</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Kết quả đánh giá</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Ngạch 1</option>
                    <option value="2">Ngạch 2</option>
                    <option value="2">Ngạch 3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6 container-fluid ">
              <div class="form-group row">
                <label class="col-4 col-form-label">Trạng thái</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Ngạch 1</option>
                    <option value="2">Ngạch 2</option>
                    <option value="2">Ngạch 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Mức độ rủi ro</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Ngạch 1</option>
                    <option value="2">Ngạch 2</option>
                    <option value="2">Ngạch 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Ngày kiểm tra</label>
                <div class="col-lg-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-group row">
                <label class="col-2 col-form-label">Lịch sử ghi chú</label>
                <div class="col-10">
                  <textarea class="form-control" placeholder="Ghi chú"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </kt-portlet-body>
    </mat-expansion-panel>
  </mat-accordion>
</kt-portlet>
