<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin khoản vay</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        >
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày ký HĐTD</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">21/12/2017</option>
                <option value="2">22/12/2018</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tần suất kiểm tra định kỳ</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">3 tháng</option>
                <option value="2">6 tháng</option>
                <option value="1">9 tháng</option>
                <option value="2">12 tháng</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày Phê duyệt Nghị quyết</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">21/12/2017</option>
                <option value="2">22/12/2018</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>CRO</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">PHAM THI THUY</option>
                <option value="2">DO VAN HUY</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>CVTD</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">PHAM THI THUY</option>
                <option value="2">DO VAN HUY</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>CGPD</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">PHAM THI THUY</option>
                <option value="2">DO VAN HUY</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Mã TS</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">MD231231</option>
                <option value="2">MD123123</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại TS</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">35 XE O TO</option>
                <option value="1">35 XE O TO</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Khoản vay</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Hạn mức</option>
                <option value="1">Món</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Hạng mục kiểm tra sau vay</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Tuân thủ nghị quyết</option>
            
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tóm tắt nội dung</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Hồ sơ tài chính</option>
                <option value="1">Quan hệ tín dụng</option>
                <option value="1">Khác</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Nội dung theo NQ/SP/QĐ khác/ TSHTTTL</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên chứng từ yêu cầu</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Duyệt nội dung Nghị quyết/ sản phẩm</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Phương thức kiểm soát</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Hệ thống</option>
                <option value="1">Bổ sung chứng từ</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Chế tài (nếu có)</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Thời hạn kiểm tra</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tần suất kiểm tra (Tháng)</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày giải ngân đầu tiên/Ngày giải ngân</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày cập nhật</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
                <option value="1">27/12/2018</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày thêm dữ liệu</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ghi chú</strong></label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Hoàn tất</strong></label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Mã LOS2</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Giờ nhận hồ sơ</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Chứng từ gửi/Thông tin đã kiểm tra được</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Chứng từ thiếu</strong></label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<!-- thông tin nghị quyết -->
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Đánh giá</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>

    <mat-tab-group>
      <mat-tab label="Điều kiện nghị quyết">
        <form action="#">
          <div class="form-group container row">
            <div class="col-6 ">
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Ngày ký hợp đồng tín dụng </label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Tần suất kiểm tra định kỳ </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Ngày Phê duyệt NQ </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Thời hạn kiểm tra </label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Mã LOS</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Hồ sơ nhận </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Hồ sơ thiếu </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Mức độ rủi ro</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Thấp </option>
                    <option value="2">Trung bình</option>
                    <option value="2">Cao</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Ngày trên biên bản</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Kết quả đánh giá</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Vi phạm </option>
                    <option value="2">Tuân thủ</option>
                    <option value="2">Trả về ĐVKD</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Trạng thái</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Gian lận giả mạo </option>
                    <option value="2">Có dấu hiệu rủi ro</option>
                    <option value="2">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Mức độ rủi ro</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Thấp </option>
                    <option value="2">Trung bình</option>
                    <option value="2">Cao</option>
                    <option value="2">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Chế tài áp dụng</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Lịch sử ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Điều kiện doanh thu">
        <form action="#">
          <div class="form-group container row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 ">
                  Mã LOS</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Kiểm tra hệ thống</option>
                    <option value="2">Bổ sung chứng từ</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 ">Hồ sơ nhận</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Chẵn Quý</option>
                    <option value="2">Ngày GN đầu tiên</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 ">Hồ sơ thiếu</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 ">Trạng thái</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 ">Trạng thái(1)</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Lộ trình chuyển doanh thu(4)</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Trạng thái KH(3)</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Tỷ lệ kiểm tra lộ trình(5)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Loại cam kết(6)</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ngày trên biên bản</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 required">Tỷ lệ(7)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Kỳ bắt đầu đánh giá doanh thu(8)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Dòng tiền thực hiện(10)</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Dòng tiền phải thực hiện(11)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Doanh số trong kỳ đánh giá hệ thống(12)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Doanh số trong kỳ đánh giá GSSGN(13)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Kết quả đánh giá</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Mã LOS</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Chế tài áp dụng</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Lịch sử ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Điều kiện sản phẩm">        
        <form action="#">
          <div class="form-group container row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 ">
                  Mã LOS </label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Hồ sơ nhận</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Hồ sơ thiếu</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Mức độ rủi ro</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ngày trên biên bản</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4">Kết quả đánh giá</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Trạng thái(1)</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Mức độ rủi ro</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Chế tài áp dụng</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Lịch sử ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>

    </mat-tab-group>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

