<table mat-table [dataSource]="dataSource" [ngClass]="formatElevation()">

  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'header-top-border vertical-separator': options.verticalSeparator}">
        {{options.capitalisedHeader && !options.customFieldConfig ? (column | titlecase) : getFieldConfigByKey(column, 'headerTitle')}}
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
        <div *ngIf="isFirst">
          <div class="value-cell">
            <!--<h5 >TungBT - {{element.depth}}</h5>
            <h5 style="color: green;">{{element.isExpanded}}</h5>
            <h5 style="color: red;">{{element.isVisible}}</h5>-->
            <div [innerHTML]="formatIndentation(element)"></div>
            <mat-icon [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}"
                      (click)="onNodeClick(element)">
              {{element.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
            </mat-icon>
            <div>{{element.value[column]}}</div>
          </div>
        </div>
        <div *ngIf="!isFirst && !options.customCellBuilder">
          {{element.value[column]}}
        </div>
        <div *ngIf="!isFirst && options.customCellBuilder">
          <ng-container
            *ngTemplateOutlet="customCellBuilder; context: { $implicit: element, tableDataSource: dataSource, columnName: column}"></ng-container>
        </div>
      </td>
    </ng-container>
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}"
      *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
