<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
      <ng-container ktPortletTitle>
        <span>Danh sách bài đăng</span>
      </ng-container>
  
  
    </kt-portlet-header>
    <!-- end::Header -->
    <kt-portlet-body>
    
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <label class="col-form-label">Tên đăng nhập</label>
                    </div>
                    <div class="col-sm-8">
                      <input  class="form-control" >
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <label class="col-form-label">Loại nhà</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" >
                            <option [value]="" [defaultSelected]="true">Tất cả</option>
                            <option [value]="1">Phòng trọ</option>
                            <option [value]="2">Chung Cư</option>
                            <option [value]="3">Nhà nguyên căn</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <label class="col-form-label">Trạng thái</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" >
                            <option [value]="" [defaultSelected]="true">Tất cả</option>
                            <option [value]="1">Hoạt động</option>
                            <option [value]="2">Không hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>
            
        
    

         
          
            <div class="col-sm-6 text-right mt-5">
                <button mat-raised-button color="primary" (click)="onSearch()" type="button" ngbTooltip="Tìm kiếm">
                    <mat-icon>search</mat-icon>Tìm kiếm
                </button>
            </div>
            <div class="col-sm-12 text-right mt-5">
              <button mat-raised-button color="primary" (click)="onUpdateOrAdd(0)" type="button" ngbTooltip="Tìm kiếm">
                  <mat-icon>search</mat-icon>Thêm mới
              </button>
          </div>
        </div>
    </kt-portlet-body>
  <kt-portlet-body>

    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>
        </ng-container>

    

        <ng-container matColumnDef="motelType">
          <th mat-header-cell *matHeaderCellDef>Loại bài đăng</th>
        
          <td mat-cell *matCellDef="let element">   
            <div [ngSwitch]="element.motelType">
            <div *ngSwitchCase="1">Nhà trọ</div>
            <div *ngSwitchCase="2">Chung cư</div>
            <div *ngSwitchCase="3">Nhà nguyên căn</div>
            <div *ngSwitchDefault>output2</div>
          </div> </td>
        </ng-container>
        <ng-container matColumnDef="createdDateMotel">
          <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
          <td mat-cell *matCellDef="let element"> {{element.createdDateMotel | date:'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="statusMotel">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element"> {{element.statusMotel===1 ? 'Đang hoạt động' : 'Không hoạt động' }} </td>
        </ng-container>
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
          <td mat-cell *matCellDef="let element" title="{{element.street }} , {{element.wards}} , {{element.district}} ,  {{element.province}}"> 
            {{element.street }} , {{element.wards}} , {{element.district}} ,  {{element.province}} </td>
        </ng-container>
        <ng-container matColumnDef="countView">
          <th mat-header-cell *matHeaderCellDef>Lượt xem</th>
          <td mat-cell *matCellDef="let element"> {{element.countView}} </td>
        </ng-container>
        <ng-container matColumnDef="countReport">
          <th mat-header-cell *matHeaderCellDef>Lượt Report</th>
          <td mat-cell *matCellDef="let element">      <button type="button" mat-icon-button color="primary" (click)="showDetailReport(element)">
            {{element.countReport}} <mat-icon>apps</mat-icon>
         
          </button> </td>
        </ng-container>
        <ng-container matColumnDef="uptopStatus">
          <th mat-header-cell *matHeaderCellDef>Up top</th>
          <td mat-cell *matCellDef="let element"> {{element.uptopStatus ===1 ? 'Đang UpTop' : 'Không UpTop'}} </td>
        </ng-container>

        <ng-container matColumnDef="action_btn">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="showDetailMetol(element)">
              <mat-icon>storage</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="primary" type="button"
            (click)="onUpdateOrAdd(element)">
      <mat-icon>Update</mat-icon>
    </button>&nbsp;
            <button mat-icon-button color="primary" type="button"
                    (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>



        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator #paginator
      [length]="page.totalElements"
      [pageIndex]="page.pageNumber"
      [pageSize]="page.size"
      [pageSizeOptions]="[5,10,15]"
      (page)="getServerData($event)" showFirstLastButtons></mat-paginator>    </div>
  
    </kt-portlet-body>
    <!-- end::Body -->
  
  </kt-portlet>