<kt-portlet>

  <kt-portlet-header [title]="'Kiểm soát chứng từ tổng hợp'">
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button" class="mr-3" ngbTooltip="In">
        <mat-icon>print</mat-icon>In
      </button>
      <button mat-raised-button color="primary" type="button" ngbTooltip="Xuất Excel">
        <mat-icon>picture_as_pdf</mat-icon>Xuất Excel
      </button>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <form>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Tháng in báo cáo</label>
            </div>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="dd/MM/yyyy">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Miền</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">Miền Bắc</option>
                <option [value]="'B'">Miền Trung</option>
                <option [value]="'C'">Miền Nam</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Khu vực</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">Hà Nội</option>
                <option [value]="'B'">Hải Phòng</option>
                <option [value]="'C'">Hải Dương</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Chi nhánh</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">VN0010005</option>
                <option [value]="'B'">VN0010006</option>
                <option [value]="'C'">VN0010007</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4 mt-5">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">ID User hạch toán</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="ID User hạch toán">
            </div>
          </div>
        </div>

        <div class="col-sm-12 text-center mt-5">
          <button mat-raised-button color="primary" type="button" ngbTooltip="Xuất báo cáo">
            <mat-icon>search</mat-icon>Xuất Báo Cáo
          </button>
        </div>
      </div>

    </form>
  </kt-portlet-body>
</kt-portlet>

<kt-portlet>
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">STT</th>
          <td mat-cell *matCellDef="let element"> {{element.STT}} </td>
        </ng-container>

        <ng-container matColumnDef="Userhachtoan" >
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1" >User hạch toán</th>
          <td mat-cell *matCellDef="let element"> {{element.Userhachtoan}} </td>
        </ng-container>

        <ng-container matColumnDef="tendonvi">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tên đơn vị</th>
          <td mat-cell *matCellDef="let element"> {{element.tendonvi}} </td>
        </ng-container>

        <ng-container matColumnDef="khuvuc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Khu vực</th>
          <td mat-cell *matCellDef="let element"> {{element.khuvuc}} </td>
        </ng-container>

        <ng-container matColumnDef="mien">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Miền</th>
          <td mat-cell *matCellDef="let element"> {{element.mien}} </td>
        </ng-container>

        <ng-container matColumnDef="tongbuttoan">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng bút toán</th>
          <td mat-cell *matCellDef="let element"> {{element.tongbuttoan}} </td>
        </ng-container>

        <ng-container matColumnDef="tongbuttoancham">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng bút toán chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.tongbuttoancham}} </td>
        </ng-container>

        <ng-container matColumnDef="tongloi">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.tongloi}} </td>
        </ng-container>

        <ng-container matColumnDef="tyleloi">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloi}} </td>
        </ng-container>

        <ng-container matColumnDef="soluongloihigh">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi high</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloihigh}} </td>
        </ng-container>
        <ng-container matColumnDef="tyleloihigh">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi high</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloihigh}} </td>
        </ng-container>
        <ng-container matColumnDef="soluongloimedium">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi medium</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloimedium}} </td>
        </ng-container>
        <ng-container matColumnDef="tyleloimedium">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi medium</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloimedium}} </td>
        </ng-container>
        <ng-container matColumnDef="soluongloilow">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi low</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloilow}} </td>
        </ng-container>
        <ng-container matColumnDef="tyleloilow">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi low</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloilow}} </td>
        </ng-container>
        <ng-container matColumnDef="soluongloidakhacphuc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi đã khắc phục</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloidakhacphuc}} </td>
        </ng-container>
        <ng-container matColumnDef="tyleloidakhacphuc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi đã khắc phục</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloidakhacphuc}} </td>
        </ng-container>
        <ng-container matColumnDef="soluongloikhongkhacphucduoc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi không khắc phục được</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloikhongkhacphucduoc}} </td>
        </ng-container>
        <ng-container matColumnDef="tyleloikhongkhacphucduoc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tỷ lệ lỗi không khắc phục được</th>
          <td mat-cell *matCellDef="let element"> {{element.tyleloikhongkhacphucduoc}} </td>
        </ng-container>
        <ng-container matColumnDef="soluongloichuakhacphuc">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số lượng lỗi chưa khắc phục</th>
          <td mat-cell *matCellDef="let element"> {{element.soluongloichuakhacphuc}} </td>
        </ng-container>
        <ng-container matColumnDef="hachtoansaithongtintrenchungtu">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">1. Hạch toán sai thông tin trên chứng từ</th>
          <td mat-cell *matCellDef="let element"> {{element.hachtoansaithongtintrenchungtu}} </td>
        </ng-container>
        <ng-container matColumnDef="thieumatchungtu">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">2. Thiếu/ mất chứng từ</th>
          <td mat-cell *matCellDef="let element"> {{element.thieumatchungtu}} </td>
        </ng-container>
        <ng-container matColumnDef="chukydaucuakhachhang">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">3. Chữ ký/ dấu của Khách hàng</th>
          <td mat-cell *matCellDef="let element"> {{element.chukydaucuakhachhang}} </td>
        </ng-container>
        <ng-container matColumnDef="chukycuanganhang">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">4. Chữ ký của ngân hàng</th>
          <td mat-cell *matCellDef="let element"> {{element.chukycuanganhang}} </td>
        </ng-container>
        <ng-container matColumnDef="thieusai1sothongtintrenbematchungtu">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">5. Thiếu/ sai 1 số thông tin trên bề mặt chứng từ</th>
          <td mat-cell *matCellDef="let element"> {{element.thieusai1sothongtintrenbematchungtu}} </td>
        </ng-container>
        <ng-container matColumnDef="hachtoansaithieusovoiquydinh">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">6. Hạch toán sai/ thiếu so với quy định</th>
          <td mat-cell *matCellDef="let element"> {{element.hachtoansaithieusovoiquydinh}} </td>
        </ng-container>
        <ng-container matColumnDef="loikhac">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">7. Lỗi khác</th>
          <td mat-cell *matCellDef="let element"> {{element.loikhac}} </td>
        </ng-container>
        <ng-container matColumnDef="tongsophithuthua">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng số phí thu thừa</th>
          <td mat-cell *matCellDef="let element"> {{element.tongsophithuthua}} </td>
        </ng-container>
        <ng-container matColumnDef="tongsophithuthieu">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng số phí thu thiếu</th>
          <td mat-cell *matCellDef="let element"> {{element.tongsophithuthieu}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
</kt-portlet>
