<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span><strong>Kiểm soát chứng từ chi tiết</strong> </span>
    </ng-container>
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button">
        <i class="fa fa-print"></i>In
      </button>
      <button mat-raised-button color="primary" type="button">
        <i class="fas fa-file-export"></i>Xuất Excel
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">Chi nhánh</label>
            <div class="col-8">
              <select class="form-control">
                <option value="1">All</option>
                <option value="2">VN0010005</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Loại lỗi</label>
            <div class="col-8">
              <select class="form-control">
                <option>Chọn</option>
                <option value="1">Lỗi KSS</option>
                <option value="2">Lỗi đơn vị</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Phân loại lỗi</label>
            <div class="col-8">
              <select class="form-control">
                <option>Chọn</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Tình trạng khắc phục</label>
            <div class="col-8">
              <select class="form-control">
                <option>Chọn</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">Năm tháng cần in báo cáo</label>
            <div class="col-8">
              <select class="form-control">
                <option>202012</option>
                <option value="1">202011</option>
                <option value="2">202010</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Roll</label>
            <div class="col-8">
              <select class="form-control">
                <option>Chọn</option>
                <option value="1">Chi nhánh</option>
                <option value="2">KSS</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Mức độ rủi ro</label>
            <div class="col-8">
              <select class="form-control">
                <option>Chọn</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-12 text-right">
              <button mat-raised-button type="submit"  color="primary">
                <i class="fas fa-search"></i> Xuất BC
              </button>&nbsp;
            </div>
        </div>
        </div>
       
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<br>
<kt-portlet>
  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-3">
          <p>Tên đơn vị</p>
          <p>Số bút toán phát sinh</p>
          <p>Số bút toán chấm</p>
          <p>Tổng lỗi phát sinh</p>
          <p>Tỷ lệ lỗi của đơn vị</p>
        </div>
        <div class="col-6">
          <table class="table table-bordered">
            <thead>
              <tr style="background-color:red;color:white">
                <th scope="col">User hạch</th>
                <th scope="col">Số lỗi</th>
                <th scope="col">Bút toán đã chấm</th>
                <th scope="col">Tổng số bút toán</th>
                <th scope="col">Tỷ lệ lỗi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Tổng</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-3">
          <table class="table table-bordered">
            <thead>
              <tr style="background-color:red;color:white">
                <th scope="col">Mức độ rủi ro</th>
                <th scope="col">Số lỗi</th>
                <th scope="col">Tỷ lệ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Cao</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Trung bình</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Thấp</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Tổng</th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="col-3">
        </div>
        <div class="col-6">
        </div>
        <div class="col-3">
          <table class="table table-bordered">
            <thead>
              <tr style="background-color:red;color:white">
                <th scope="col">Tình trạng khắc phục</th>
                <th scope="col">Số lỗi</th>
                <th scope="col">Tỷ lệ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Không khắc phục được</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Đã khắc phục</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Chưa khắc phục</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Tổng</th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" style="width: 100% !important">

          <ng-container matColumnDef="stt" >
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">STT</th>
            <td mat-cell *matCellDef="let row;" >{{row.stt}}</td>
          </ng-container>

          <ng-container matColumnDef="maCN">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Số bút toán</th>
            <td mat-cell *matCellDef="let element"> {{element.maCN}} </td>
          </ng-container>

          <ng-container matColumnDef="cnQL">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Ngày hạch toán</th>
            <td mat-cell *matCellDef="let element"> {{element.cnQL}} </td>
          </ng-container>

          <ng-container matColumnDef="pGD">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Loại tiền</th>
            <td mat-cell *matCellDef="let element"> {{element.pGD}} </td>
          </ng-container>

          <ng-container matColumnDef="idKH">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Số tiền giao dịch quy đổi</th>
            <td mat-cell *matCellDef="let element"> {{element.idKH}} </td>
          </ng-container>

          <ng-container matColumnDef="tenKH">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Só tiền giao dịch nguyên tệ</th>
            <td mat-cell *matCellDef="let element"> {{element.tenKH}} </td>
          </ng-container>

          <ng-container matColumnDef="phanKhuc">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">User hạch toán</th>
            <td mat-cell *matCellDef="let element"> {{element.phanKhuc}} </td>
          </ng-container>

          <ng-container matColumnDef="sanPham">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">User duyệt</th>
            <td mat-cell *matCellDef="let element"> {{element.sanPham}}</td>
          </ng-container>

          <ng-container matColumnDef="maHD">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Diễn giải</th>
            <td mat-cell *matCellDef="let element"> {{element.maHD}} </td>
          </ng-container>

          <ng-container matColumnDef="ngayGN">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Chi tiết lỗi</th>
            <td mat-cell *matCellDef="let element"> {{element.ngayGN}} </td>
          </ng-container>

          <ng-container matColumnDef="loaiKV">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Nhóm lỗi</th>
            <td mat-cell *matCellDef="let element"> {{element.loaiKV}} </td>
          </ng-container>



          <ng-container matColumnDef="trangthaiNQ">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Phân loại lỗi</th>
            <td mat-cell *matCellDef="let element"> {{element.trangthaiNQ}}</td>
          </ng-container>

          <ng-container matColumnDef="trangthaiDG">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Số phí thừa/thiếu</th>
            <td mat-cell *matCellDef="let element"> {{element.trangthaiDG}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Mức độ rủi ro</th>
            <td mat-cell *matCellDef="let element"> {{element.trangthaiDG}} </td>
          </ng-container>

          <ng-container matColumnDef="status1">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Tình trạng khắc phục</th>
            <td mat-cell *matCellDef="let element"> {{element.trangthaiDG}} </td>
          </ng-container>

          <ng-container matColumnDef="status2">
            <th mat-header-cell *matHeaderCellDef style="background-color:red;color:white">Ghi chú</th>
            <td mat-cell *matCellDef="let element"> {{element.trangthaiDG}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
    <br>
    <div class="row container-fluid">
      <div class="col-3">
        <p>Ngày KSS gửi BC cho đơn vị:</p>
        <p>Số ngày đơn vị nộp muộn chứng từ:</p>
        <p>Số ngày đơn vị gửi muộn BC kiểm soát chứng từ:</p>
      </div>
    </div>

  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
