<div class="card card-custom">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">{{getTitle()}}</h3>
      </div>
      <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
    <form class="form" [formGroup]="areaForm">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-2 col-form-label text-right required">Mã khu vực</label>
          <div class="col-10">
            <input type="text" formControlName="appCode" class="form-control" placeholder="Nhập mã khu vực"/>
            <div *ngIf="f.appCode.errors && (f.appCode.touched || f.appCode.dirty)" class="text-danger">
              <div *ngIf="f.appCode.errors.required"><span>Mã khu vực không được để trống</span></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label text-right required">Tên khu vực</label>
          <div class="col-10">
            <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên khu vực"/>
            <div *ngIf="f.appName.errors && (f.appName.touched || f.appName.dirty)" class="text-danger">
              <div *ngIf="f.appName.errors.required"><span>Tên khu vực không được để trống</span></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label text-right">Trạng thái</label>
          <div class="col-4">
            <select class="form-control"
                    formControlName="active">
              <option [value]="'A'">Hoạt động</option>
              <option [value]="'I'">Không hoạt động</option>
            </select>
            <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">
              <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button type="button" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
              <i class="fas fa-times"></i> Đóng
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="areaForm.invalid">
              <i class="far fa-save"></i> Phê duyệt
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  