.dropdown {
  width: 100%;
  display: inline-block;

  button {
    width: 100%;
    margin-right: 0.9rem;
    text-align: left;
    overflow: hidden;
    padding-right: 30px;
    text-overflow: ellipsis;

    &::after {
      position: absolute;
      right: 0.6rem;
      margin-top: 0.6rem;
    }
  }

  .dropdown-menu {
    .dropdown-container {
      padding: 0 0.6rem;
    }
  }
}

.tree-view-button {
  border: 1px solid #E5EAEE;
}

.tree-view-button:focus {
  border-color: #c6241e;
}

.tree-view-button-clear {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 10px;
}

.tree-view-button-clear:hover {
  color: #c6241e;
}
