<div class="dropdown" ngxDropdown>
  <button class="btn tree-view-button" type="button" role="button" ngxDropdownToggle>
    {{buttonLabel}}
  </button>
  <i *ngIf="haveClearBtn && buttonLabel != 'Chọn' && buttonLabel != 'Please select'" class="tree-view-button-clear flaticon2-cross icon-sm"
     (click)="clearSelection()"></i>
  <div ngxDropdownMenu aria-labelledby="dropdownMenu" (click)="$event.stopPropagation()">
    <div class="dropdown-container">
      <ngx-treeview [config]="config" [headerTemplate]="headerTemplate" [items]="items" [itemTemplate]="itemTemplate"
                    (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
      </ngx-treeview>
    </div>
  </div>
</div>
