<div class="card card-custom">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Danh sách Report</h3>
      </div>
      <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
    <div class="card-body">
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
          *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>Tài khoản Report</th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
        <ng-container matColumnDef="createDate">
          <th mat-header-cell *matHeaderCellDef>Ngày Report</th>
          <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
        </ng-container>
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef>Nội dung</th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
    </div>
    <div class="mat-table-bottom">
      <mat-paginator #paginator [pageSizeOptions]="[1, 2, 3]" showFirstLastButtons></mat-paginator>
    </div>
 </div>
 <div class="card-footer">
  <div class="d-flex justify-content-center">
    <div>
      
    
      <button type="button" class="ml-10" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
        <i class="fas fa-times"></i> Đóng
      </button>&nbsp;
      <button type="button" mat-raised-button color="primary"  >
        <i class="far fa-save"></i>   </button>
    </div>
  </div>
</div>
  </div>
  