<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách tài sản đảm bảo</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Mã khách hàng</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Tên khách hàng</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Mã MD</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Giá trị MD</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Chi tiết TSBĐ</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Mô tả TS</label>
            <div class="col-lg-7">
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Tần suất</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Loại bảo hiểm</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Ngày hết hạn bảo hiểm</label>
            <div class="col-lg-7">
              <input type="date" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </form>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header style="background-color: #e0e0e0">
          <mat-panel-title>
            <mat-icon>assignment</mat-icon>
            Thông tin cập nhật bảo hiểm tái tục
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-10" >
          <div class="mat-table-wrapper">
            <div class="mat-elevation-z8">
              <form action="#">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"> Mã LOS</label>
                      <div class="col-lg-7">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Ngày bổ sung hồ sơ bảo hiểm</label
                      >
                      <div class="col-lg-7">
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Chứng từ gửi
                      </label>
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">Ngạch 1</option>
                          <option value="2">Ngạch 2</option>
                          <option value="3">Ngạch 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Chứng từ thiếu</label
                      >
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">Ngạch 1</option>
                          <option value="2">Ngạch 2</option>
                          <option value="3">Ngạch 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Kết quả đánh giá</label
                      >
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">Tuân thủ</option>
                          <option value="2">Trả về ĐVKD/Vi phạm</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Trạng thái</label>
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">Gian lận giả mạo</option>
                          <option value="2">Có dấu hiệu rủi ro</option>
                          <option value="3">Không</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Mức độ rủi ro</label
                      >
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">Thấp</option>
                          <option value="2">Trung bình</option>
                          <option value="3">Cao</option>
                          <option value="4">Không</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Trạng thái BH</label
                      >
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">yes</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Công ty BH</label>
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">BH.AAA</option>
                          <option value="2">BH.BAOLONG</option>
                          <option value="3">BH.BAOMINH</option>
                          <option value="4">BH.BAOVIET</option>
                          <option value="5">BH.BIDV.BIC</option>
                          <option value="6">BH.BUUDIEN.PTI</option>
                          <option value="7">BH.DAUKHI.PVI</option>
                          <option value="8">BH.FUBON.VN</option>
                          <option value="9">BH.HANGKHONG</option>
                          <option value="10">BH.KHAC</option>
                          <option value="11">BH.LIBERTY</option>
                          <option value="12">BH.LIENHIEP.UIC</option>
                          <option value="13">BH.NGANHANGNONGNGHIEP.ABIC</option>
                          <option value="14">BH.QUANDOI.</option>
                          <option value="15">BH.SHBVINACOMIN.SVIC</option>
                          <option value="16">BH.TOANCAU.</option>
                          <option value="17">BH.VIENDONG.</option>
                          <option value="18">BH.XANGDAU.PJICO</option>
                          <option value="19">BH.XUANTHANH</option>
                          <option value="20">SEABANK.</option>
                          <option value="21">VCLI</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Số tiền BH</label>
                      <div class="col-lg-7">
                        <input type="text" class="form-control" placeholder="Nhập số ngày gia hạn" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Loại BH</label>
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">
                            1.BH cho HH van chuyen bang dg bien
                          </option>
                          <option value="2">
                            2.BH cho HH van chuyen bang dg bo
                          </option>
                          <option value="3">
                            3.BH cho HH v.chuyen= dg thuy noi d
                          </option>
                          <option value="4">
                            4.BH cho HH van chuyen = dg sat
                          </option>
                          <option value="5">
                            5.BH cho HH v.chuyen =dg Hang khong
                          </option>
                          <option value="6">6.BH than tau bien</option>
                          <option value="7">7.BH than tau song</option>
                          <option value="8">8.BH than tau ca</option>
                          <option value="9">
                            9.BH hoa hoan va cac RR d.biet HH
                          </option>
                          <option value="10">
                            10.BH XD va lap dat cho cong trinh
                          </option>
                          <option value="11">
                            11.BH thiet hai vat chat xe co gioi
                          </option>
                          <option value="12">
                            12.BH may moc va thiet bi dien tu
                          </option>
                          <option value="13">
                            13.BH than may bay va phu tung mbay
                          </option>
                          <option value="14">14.BH nha tu nhan</option>
                          <option value="15">15.BH chong chay no</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">
                        Ngày bắt đầu BH</label
                      >
                      <div class="col-lg-7">
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">
                        Ngày kết thúc BH</label
                      >
                      <div class="col-lg-7">
                        <input type="date" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label"
                        >Insur remarks</label
                      >
                      <div class="col-lg-7">
                        <select class="form-control">
                          <option>[Lựa chọn]</option>
                          <option value="1">GSSG TOOL</option>
                          <option value="2">GSSGN TOOL 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Ghi chú</label>
                      <div class="col-lg-7">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label">Lịch sử ghi chú</label>
                      <div class="col-lg-7">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>

