<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách bản ghi hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        >
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="form-group container row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">Mã khách hàng</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Tên khách hàng</label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Mã MD</label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Chi tiết TSBĐ</label>
            <div class="col-8">
              <input type="text" class="form-control" >
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">Mô tả TS</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Chứng từ cần bổ sung</label>
            <div class="col-8">
              <input type="date" class="form-control" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Thời hạn bổ sung hồ sơ</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<kt-portlet class="mt-5">
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span><i class="far fa-hospital"></i> Thông tin cập nhật kết quả kiểm tra</span>
    </ng-container>
    <ng-container ktPortletTools>
      <i *ngIf="!upload" class="fas fa-angle-double-down" style="color: black" (click)="upload = !upload"></i>
      <i *ngIf="upload" class="fas fa-angle-double-up" style="color: black" (click)="upload = !upload"></i>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body *ngIf="upload">
    <form action="#">
      <div class="form-group container row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label" >
              Mã LOS</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Ngày bổ sung hồ sơ</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Chứng từ gử</label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Ngạch 1</option>
                <option value="2">Ngạch 2</option>
                <option value="2">Ngạch 3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Kết quả đánh giá</label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Tuân thủ</option>
                <option value="2">Trả về ĐVKD/Vi phạm</option>
                <option value="3">Ngạch 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label" >Trạng thái</label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Gian lận giả mạo</option>
                <option value="2">Có dấu hiệu rủi ro</option>
                <option value="3">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Mức độ rủi ro</label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Ghi chú</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Lịch sử ghi chú</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
