<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách hợp đồng vay</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form class="form" >
      <div class="row form-group">
        <div class="col-10 w-100">
          <table class="w-100 ml-4">
            <tr *ngFor="let search of listTC; let i = index">
              <td colspan="1">
                <select class="form-control" >
                  <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                  <option [value]="'A'">ID Khách hàng</option>
                  <option [value]="'B'">Mã REF</option>
                  <option [value]="'C'">Số hợp đồng</option>
                  <option [value]="'D'">Sản phẩm</option>
                </select>
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">[Toán tử]</option>
                  <option [value]="'A'">EQ</option>
                  <option [value]="'B'">LIKE</option>
                </select>
              </td>
              <td colspan="3">
                <input type="text" class="form-control"
                       placeholder="Nhập thông tin tìm kiếm">
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">[Kết hợp]</option>
                  <option [value]="'A'">And</option>
                  <option [value]="'B'">Or</option>
                </select>
              </td>
              <td colspan="1">
                <button class="ml-5 float-right" mat-raised-button (click)="deleteNewCriteria(i)" color="primary" type="button"><i class="fas fa-minus"></i></button>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-2">
          <button class="mr-3" mat-raised-button color="primary" type="button" (click)="addNewCriteria()"><i class="fas fa-plus"></i></button>
          <button mat-raised-button color="primary" type="button">Tìm kiếm</button>
        </div>
      </div>
    </form>
    <!-- end form search -->

    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <div class="gr-button float-right mb-5">
        <button class="mr-5" mat-raised-button color="primary" type="button"
        routerLink="/dashboard"
        >Phê duyệt</button>
      </div>
        <table mat-table [dataSource]="dataSource" >
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef>
              STT
            </th>
            <td mat-cell
                *matCellDef="let row;">{{row.stt}}
                </td>
          </ng-container>

          <ng-container matColumnDef="maCN">
            <th mat-header-cell *matHeaderCellDef>Mã CN</th>
            <td mat-cell *matCellDef="let element"> {{element.maCN}} </td>
          </ng-container>

          <ng-container matColumnDef="tenCN">
            <th mat-header-cell *matHeaderCellDef>Tên CN</th>
            <td mat-cell *matCellDef="let element"> {{element.tenCN}} </td>
          </ng-container>

          <ng-container matColumnDef="maKH">
            <th mat-header-cell *matHeaderCellDef>Mã KH</th>
            <td mat-cell *matCellDef="let element"> {{element.maKH}} </td>
          </ng-container>

          <ng-container matColumnDef="tenKH">
            <th mat-header-cell *matHeaderCellDef>Tên KH</th>
            <td mat-cell *matCellDef="let element"> {{element.tenKH}} </td>
          </ng-container>

          <ng-container matColumnDef="phanKhuc">
            <th mat-header-cell *matHeaderCellDef>Phân khúc</th>
            <td mat-cell *matCellDef="let element"> {{element.phanKhuc}} </td>
          </ng-container>


          <ng-container matColumnDef="maHopDong">
            <th mat-header-cell *matHeaderCellDef>Mã hợp đồng(LD/MG)</th>
            <td mat-cell
                *matCellDef="let element"> {{element.maHopDong}}</td>
          </ng-container>

          <ng-container matColumnDef="sanPham">
            <th mat-header-cell *matHeaderCellDef>Sản phẩm</th>
            <td mat-cell *matCellDef="let element"> {{element.sanPham}} </td>
          </ng-container>

          <ng-container matColumnDef="khoanVay">
            <th mat-header-cell *matHeaderCellDef>Khoản vay</th>
            <td mat-cell *matCellDef="let element"> {{element.khoanVay}} </td>
          </ng-container>

          <ng-container matColumnDef="ngayGiaiNgan">
            <th mat-header-cell *matHeaderCellDef>Ngày giải ngân đầu tiên</th>
            <td mat-cell *matCellDef="let element"> {{element.ngayGiaiNgan}} </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
            <td mat-cell class="col-center" *matCellDef="let element">
              <button type="button" mat-icon-button color="primary" (click)="deleteCategoryUnit(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-icon-button color="primary" routerLink="/disbursement/tracking-additional-documents/update">
                <mat-icon>create</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>

        <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
      </div>

    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
