<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <span>Nhận chứng từ</span>
        </ng-container>
    </kt-portlet-header>
    <form class="form">
        <div class="row form-group justify-content-md-around  px-10">
            <div class="row col-md-4 col-sm-6 ">
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Miền</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">T.thái nhận</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">User nhận</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nhận tên User">
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Hình thức</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row col-md-4 col-sm-6">
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">khu vực</label>
                    <div class="col-md-8 ">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label  " for="input-error-code">Ngày CT</label>
                    <div class="col-md-8 d-flex justify-content-md-around" style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />

                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">User duyệt</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nhận tên User">
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">ĐV vận chuyển</label>
                    <div class="col-md-8 ">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row col-md-4 col-sm-6">
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Đơn vị</label>
                    <div class="col-md-8 ">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label  " for="input-error-code">Ngày Nhận</label>
                    <div class="col-md-8 d-flex justify-content-md-around" style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />

                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label  " for="input-error-code">Ngày giao</label>
                    <div class="col-md-8 d-flex justify-content-md-around" style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />

                    </div>
                </div>
                <div class="row w-100 mt-4 ">
                    <mat-checkbox class="example-margin col-md-6"> Có đề nghị gia hạn</mat-checkbox>
                    <div class="col-md-6 d-flex justify-content-md-end">
                        <button type="submit" mat-raised-button color="primary">
                            <i class="fas fa-search text-light mr-2 "></i>Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </form>
    <!-- end form search -->

    <!-- end::Header -->

    <kt-portlet-body>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                        {{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Nhận CT</th>
                    <td mat-cell class="col-center" *matCellDef="let element">
                        <button type="button" mat-icon-button [routerLink]="['/check-document/detail-vouchers']"
                            color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Đơn vị</th>
                    <td mat-cell *matCellDef="let element"> {{element.unit }} </td>
                </ng-container>
                <ng-container matColumnDef="dateDelivery">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Ngày giao</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateDelivery }} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>
                <ng-container matColumnDef="statusReceive">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng.t nhận
                        CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.statusReceive}} </td>
                </ng-container>
                <ng-container matColumnDef="userReceive">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">User nhận
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.userReceive}} </td>
                </ng-container>
                <ng-container matColumnDef="numberDocument">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tập
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberDocument}} </td>
                </ng-container>
                <ng-container matColumnDef="numberDayLate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số ngày giao muộn
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberDayLate}} </td>
                </ng-container>
                <ng-container matColumnDef="extend">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đề nghị gia hạn(ngày)
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.extend}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
        </div>
        <div class="mat-table-bottom">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>
<router-outlet></router-outlet>
