<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin chi tiết hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button matTooltip="Add new group error"
        color="primary"
        type="button"
       >
        <span>Thêm mới</span>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>ID KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Kiều Cao Long" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>MÃ REF</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại hợp đồng</strong></label>
            <div class="col-8">
              <select class="form-control" >
                <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                <option [value]="'A'">Hạn mức (Tuần hoàn)</option>
                <option [value]="'B'">Món(Không tuần hoàn)</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Số tiền giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại tiền</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control"  value="26/09/2017" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên sản phẩm SeABank</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Vay ngoai SP TT Dly(Hạn mức)" readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<!-- thông tin nghị quyết -->
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin khoản vay</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Mã LOS </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Mã REF </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Số tiền giải ngân </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Ngày giải ngân/Ngày hiệu lực TSBD (tháng/ngày/năm) </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef>Ngày đến hạn </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

