<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <span>Giao chứng từ</span>
        </ng-container>

        <ng-container ktPortletTools>
            <button mat-raised-button color="primary" [routerLink]="['/check-document/delivery-add-edit']"
                type="button">
                <span><i class="fas fa-plus-circle mr-2 text-light"></i>Thêm mới</span>
            </button>
        </ng-container>
    </kt-portlet-header>
    <form class="form" [formGroup]="deliveryForm">
        <div class="row form-group justify-content-md-around  px-10">
            <div class="row col-md-4 col-sm-6 ">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label " for="input-error-code">Ngày giao</label>
                    <div class="col-md-8 d-flex justify-content-md-around " style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />
                    </div>
                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Trạng.t duyệt</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Hình thức giao</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label  " for="input-error-code">Ngày CT</label>
                    <div class="col-md-8 d-flex justify-content-md-around" style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />

                    </div>
                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">User duyệt</label>
                    <div class="col-md-8">
                        <input class="form-control" formControlName='apprUsername' placeholder="Nhận tên User">
                    </div>
                </div>

            </div>
            <div class="row col-md-4 col-sm-6">
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">User giao</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nhận tên User">
                    </div>
                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Trạng thái nhận</label>
                    <div class="col-md-8 ">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-md-end pl-0 pr-8 mt-sm--4 align-items-center">
                    <button type="submit" mat-raised-button color="primary">
                        <i class="fas fa-search text-light mr-2"></i>Tìm kiếm
                    </button>
                </div>
            </div>

        </div>


    </form>
    <!-- end form search -->

    <!-- end::Header -->

    <kt-portlet-body>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource.list | async">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                        {{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="dateDelivery">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Ngày giao</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateDelivery }} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>
                >
                <ng-container matColumnDef="userSubmit">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">User giao</th>
                    <td mat-cell *matCellDef="let element"> {{element.userSubmit}} </td>
                </ng-container>
                <ng-container matColumnDef="UserBrowse">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">User duyệt</th>
                    <td mat-cell *matCellDef="let element"> {{element.UserBrowse}} </td>
                </ng-container>
                <ng-container matColumnDef="statusBrowse">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái duyệt
                        CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.statusBrowse}} </td>
                </ng-container>
                <ng-container matColumnDef="statusReceive">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái nhận
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.statusReceive}} </td>
                </ng-container>
                <ng-container matColumnDef="numberDocument">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tập
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberDocument}} </td>
                </ng-container>
                <ng-container matColumnDef="numberDayLate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số ngày muộn
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberDayLate}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Thao tác</th>
                    <td mat-cell class="col-center" *matCellDef="let element">
                        <button type="button" mat-icon-button [routerLink]="['/check-document/delivery-add-edit']"
                            color="primary">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button type="button" mat-icon-button [routerLink]="['/check-document/delivery-browser']"
                            color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button type="button" mat-icon-button [routerLink]="['/check-document/delivery-info']"
                            color="primary">
                            <mat-icon>priority_high</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" type="button">
                            <mat-icon (click)="remove()">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
        </div>
        <div class="mat-table-bottom">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>
<router-outlet></router-outlet>