
<div class="card card-custom">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Danh sách bộ chừng từ</h3>
      </div>
      <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>

        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                        {{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="numberEntries">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Mã số CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.numberEntries }} </td>
                </ng-container>
                <ng-container matColumnDef="dateUpload">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày upload</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateUpload}} </td>
                </ng-container>
                <ng-container matColumnDef="userUpload">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">User upload</th>
                    <td mat-cell *matCellDef="let element"> {{element.userUpload}} </td>
                </ng-container>
                >
                <ng-container matColumnDef="totalPage">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng số trang
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPage}} </td>
                </ng-container>
                <ng-container matColumnDef="watching">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Xem CT</th>
                    <td mat-cell class="col-center" *matCellDef="let element">
                        <button type="button" mat-icon-button (click)="openPopup()" color="primary">
                            <mat-icon>description</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
        </div>
        <div class="mat-table-bottom">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
</div>
    <!-- end::Body -->