<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span>Quản lý mượn CT tại KSS</span>
    </ng-container>

    <!-- <ng-container ktPortletTools>
      <button class="container" mat-raised-button color="primary" type="button" (click)="addNew()">
        <span><i class="fas fa-plus-circle mr-2 text-light"></i>Thêm mới</span>
      </button>
    </ng-container> -->

  </kt-portlet-header>

  <!-- end form search -->
  <!-- end::Header -->

  <kt-portlet-body>

    <form >
      <div class="form-group row ">
        <ng-container ktPortletTitle>
          <div class="col-1">
            <label class=" col-form-label text-right">Ngày mượn: </label>
          </div>
          <div class="col-3">
            <div style="display: flex">
              <input type="text" name="expectFromDate" [(ngModel)]="tblSlipBorrow.expectFromDate" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Từ">
              <input type="text" name="expectFromDateEnd" [(ngModel)]="tblSlipBorrow.expectFromDateEnd" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Đến">
            </div>
          </div>
          <div class="col-1">
            <label class="col-form-label text-right">Ngày trả: </label>
          </div>
          <div class="col-3">
            <div style="display: flex">
              <input type="text" name="expectToDate" [(ngModel)]="tblSlipBorrow.expectToDate" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Từ">
              <input type="text" name="expectToDateEnd" [(ngModel)]="tblSlipBorrow.expectToDateEnd" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Đến">
            </div>
          </div>
          <div class="col-1">
            <label class=" col-form-label text-right">Đơn vị mượn CT:</label>
          </div>
          <div class="col-3">
            <select class="form-control" name="branchCode" [(ngModel)]="tblSlipBorrow.branchCode" >
              <option value="">Tất cả</option>
              <option [value]="'RL01'"> Trần Duy Hưng</option>
              <option [value]="'RL02'"> Cầu Giấy</option>
              <option [value]="'RL03'"> Trần Hưng Đạo</option>
            </select>
          </div>


        </ng-container>
      </div>

      <div class="form-group row ">
        <ng-container ktPortletTitle style="display: inline-block; position: relative;">

          <div class="col-1">
            <label class=" col-form-label text-right">User mượn: </label>
          </div>
          <div class="col-3">
            <input class="form-control" name="createUsername" [(ngModel)]="tblSlipBorrow.createUsername" placeholder="Nhập ID user">
          </div>
          <div class="col-1">
            <label class=" col-form-label text-right">Trạng thái duyệt CV KSS:</label>
          </div>
          <div class="col-3">
            <select class="form-control" name="status" [(ngModel)]="tblSlipBorrow.status">
              <option value="">Tất cả</option>
              <option [value]="'Chưa duyệt'"> Chưa duyệt</option>
              <option [value]="'Đã duyệt'"> Đã duyệt</option>
            </select>
          </div>
          <div class="col-1">
            <label class=" col-form-label text-right">Trạng thái duyệt GĐ KSS:</label>
          </div>
          <div class="col-3">
            <select class="form-control" name="apprStatus" [(ngModel)]="tblSlipBorrow.apprStatus">
              <option value="">Tất cả</option>
              <option [value]="'Chưa duyệt'"> Chưa duyệt</option>
              <option [value]="'Đã duyệt'"> Đã duyệt</option>
            </select>
          </div>
        </ng-container>
      </div>
      <div class="form-group row ">
        <ng-container ktPortletTitle style="display: inline-block; position: relative;">

          <div class="col-1">
            <label class=" col-form-label text-right">   </label>
          </div>
          <div class="text-right">
            <button color="primary" type="submit" style="position: absolute; right: 30px;" (click)="search()"
              mat-raised-button>
              <span><i class="fas fa-search mr-2 "></i>Tìm kiếm</span>
            </button>
          </div>

        </ng-container>
      </div>
    </form>
    <div class="mat-table-wrapper-dashboard">
   
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
            {{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="expectFromDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày mượn</th>
          <td mat-cell *matCellDef="let element"> {{element.expectFromDate}} </td>
        </ng-container>

        <ng-container matColumnDef="expectToDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày dự kiến trả
          </th>
          <td mat-cell *matCellDef="let element"> {{element.expectToDate}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Lý do mượn CT</th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>
        <ng-container matColumnDef="branchCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đơn vị mượn CT</th>
          <td mat-cell *matCellDef="let element"> {{element.branchCode}} </td>
        </ng-container>
        <ng-container matColumnDef="createUsername">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Người nhận CT</th>
          <td mat-cell *matCellDef="let element"> {{element.createUsername}} </td>
        </ng-container>
        <ng-container matColumnDef="receiveId">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">CMTND/ID NV</th>
          <td mat-cell *matCellDef="let element"> {{element.receiveId}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái duyệt</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="apprStatus">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái mượn</th>
          <td mat-cell *matCellDef="let element"> {{element.apprStatus}} </td>apprStatus
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button"   mat-icon-button color="primary" (click)="updateBorrow(element)">
              <mat-icon>info</mat-icon>
            </button>
            <button type="button" *ngIf="element.status == 'BORROWED' && element.apprStatus == 'OPEN'" mat-icon-button color="primary" (click)="browserBorrow()">
              <mat-icon>screen_share</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
