<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span>Danh mục nhóm lỗi</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button matTooltip="Add new group error"
        color="primary"
        type="button"
        (click)="addGroupError()">
        <span>Thêm mới</span>
      </button>
    </ng-container>
  </kt-portlet-header>

  <!-- start form search -->
  <form class="form">
    <div class="row form-group" [formGroup]="formGroup">
      <label class="col-2 col-form-label text-right" for="input-error-code">Mã nhóm lỗi:</label>
      <div class="col-3">
        <input type="text" formControlName="appCode" class="form-control" id="input-error-code" placeholder="Nhập mã nhóm lỗi cần tìm"/>
      </div>
      <label class="col-2 col-form-label text-right" for="input-error-name">Tên nhóm lỗi:</label>
      <div class="col-3">
        <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên nhóm lỗi cần tìm" id="input-error-name"/>
      </div>
      <div class="col-2 text-right">
<!--        <button class="btn btn-outline-secondary mr-5" mat-raised-button (click)="searchGroupError()"><i class="fas fa-search"></i>Tìm kiếm</button>-->
        <button class="mr-5"
          mat-raised-button matTooltip="Search group error"
          color="primary"
          type="button"
          (click)="searchGroupError()">
          <span><i class="fas fa-search mr-2"></i>Tìm kiếm</span>
        </button>
      </div>
    </div>
  </form>
  <!-- end form search -->

  <!-- end::Header -->

  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt"
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="appCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Mã nhóm lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.appCode}} </td>
        </ng-container>

        <ng-container matColumnDef="appName">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Tên nhóm lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="parentCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Ghi chú</th>
          <td mat-cell *matCellDef="let element"> {{element.parentCode}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái</th>
          <td mat-cell class="col-center" *matCellDef="let element"> {{element.status == 'A' ? 'Hoạt động' : 'Không hoạt động'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editGroupError(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="primary" type="button"
                    (click)="deleteGroupError(element)">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
