<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active dot-style">
            <!-- <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-9">
                            <div class="h1-slider-caption">
                                <h1 data-animation="fadeInUp" data-delay=".4s">top hotel in the city</h1>
                                <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Resourt</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-9">
                            <div class="h1-slider-caption">
                                <h1 data-animation="fadeInUp" data-delay=".4s">top hotel in the city</h1>
                                <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Resourt</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                data-background="assets/assets/img/hero/h1_hero.jpg"
                style="background-image: url(assets/assets/img/hero/h1_hero.jpg)">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-9">
                            <div class="h1-slider-caption">
                                <h1 data-animation="fadeInUp" data-delay=".4s">top hotel in the city</h1>
                                <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Resourt</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Booking Room Start-->
    <div class="booking-area">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <form action="">
                        <div class="booking-wrap ">

                            <div class="row">
                                <!-- select in date -->
                                <div class="single-select-box w-100 col-md-4">
                                    <!-- select out date -->
                                    <div class="boking-tittle">
                                        <span> Tỉnh/Thành Phố:</span>
                                    </div>
                                    <div>

                                        <ng-autocomplete [data]="dataProvince" [searchKeyword]="keywordProvince"
                                            (selected)='selectProvice($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            (inputChanged)='onChangeSearchProvice($event)'>
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                                <!-- Single Select Box -->
                                <div class="single-select-box w-100 col-md-4">
                                    <!-- select out date -->
                                    <div class="boking-tittle">
                                        <span>Quận/Huyện:</span>
                                    </div>
                                    <div>

                                        <ng-autocomplete [data]="dataDistrict" [searchKeyword]="keywordDistrict"
                                            (selected)='selectDistrict($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            (inputChanged)='onChangeSearchDistrict($event)'>
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                                <!-- Single Select Box -->
                                <div class="single-select-box w-100 col-md-4">
                                    <div class="boking-tittle">
                                        <span>Xã/Phường:</span>
                                    </div>
                                    <div>

                                        <ng-autocomplete [data]="dataWard" [searchKeyword]="keywordWard"
                                            (selected)='selectWard($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            (inputChanged)='onChangeSearchWard($event)'>
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="single-select-box w-100 col-md-4 mt-3">
 
                                      
                                            Loại phòng
                                     
                                        <mat-select  #select multiple>
                                            <div class="select-all">
                                                <mat-checkbox [(ngModel)]="allSelected"
                                                                [ngModelOptions]="{standalone: true}"
                                                                (change)="toggleAllSelection()">Select All</mat-checkbox>
                                            </div>
                                            <mat-option (click)="optionClick()" *ngFor="let food of dataType" [value]="food.id">
                                              {{food.name}}
                                            </mat-option>
                                          </mat-select>
                                  
                                </div>
                                <div class="single-select-box w-100 col-md-4 mt-3">
                                    <!-- <div class="examples"> -->
                                    <div class="boking-tittle">
                                        <span>Giá tiền:</span>
                                    </div>
                                    <npn-slider [min]="1000" [max]="5000" (onChange)="onSliderChange($event)" [minSelected]="2000" [maxSelected]="4000"
                                        [step]="50" [showStepIndicator]="true">
                                    </npn-slider>
                                </div>
                                <div
                                    class="single-select-box  w-100 col-md-4 d-flex align-items-center d-flex justify-content-center mt-3">
                                    <a (click)="searchNow()" class="btn select-btn">Tìm kiếm</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking Room End-->

    <!-- Make customer Start-->
    <section class="make-customer-area customar-padding fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="customer-img mb-120">
                        <img src="assets/assets/img/customer/customar1.png" class="customar-img1" alt="">
                        <img src="assets/assets/img/customer/customar2.png" class="customar-img2" alt="">
                        <div class="service-experience heartbeat">
                            <h3>25 Years of Service<br>Experience</h3>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-4 col-lg-4">
                    <div class="customer-caption">
                        <span>About our company</span>
                        <h2>Make the customer the hero of your story</h2>
                        <div class="caption-details">
                            <p class="pera-dtails">Lorem ipsum dolor sit amet, consectetur adipisic- ing elit, sed do
                                eiusmod tempor inc. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                            <a href="#" class="btn more-btn1">Learn More <i class="ti-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Make customer End-->

    <!-- Room Start -->
    <section class="room-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Our Rooms</h3>
                        </div>
                        <h3 class="archivment-back">Our Rooms</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"><img src="assets/assets/img/rooms/room1.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"><img src="assets/assets/img/rooms/room2.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"> <img src="assets/assets/img/rooms/room3.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"><img src="assets/assets/img/rooms/room4.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"><img src="assets/assets/img/rooms/room5.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="rooms.html"> <img src="assets/assets/img/rooms/room6.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="rooms.html">Classic Double Bed</a></h3>
                            <div class="per-night">
                                <span><u>$</u>150 <span>/ par night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="#" class="btn view-btn1">View more <i class="ti-angle-right"></i> </a>
                </div>
            </div>
        </div>

    </section>
    <!-- Room End -->

    <!-- Dining Start -->
    <div class="dining-area dining-padding-top">
        <!-- Single Left img -->
        <div class="single-dining-area left-img">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-8">
                        <div class="dining-caption">
                            <span>Our resturent</span>
                            <h3>Dining & Drinks</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br> tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br>veniam, quis nostrud.
                            </p>
                            <a href="#" class="btn border-btn">Learn More <i class="ti-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single Right img -->
        <div class="single-dining-area right-img">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8 col-md-8">
                        <div class="dining-caption text-right">
                            <span>Our Pool</span>
                            <h3>Swimming Pool</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br> tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br>veniam, quis nostrud.
                            </p>
                            <a href="#" class="btn border-btn">Learn More <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dining End -->

    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial pt-65">
                            <!-- Testimonial tittle -->
                            <div class="font-back-tittle mb-105">
                                <div class="archivment-front">
                                    <img src="assets/assets/img/logo/testimonial.png" alt="">
                                </div>
                                <h3 class="archivment-back">Testimonial</h3>
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption text-center">
                                <p>Yorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.
                                </p>
                                <!-- Rattion -->
                                <div class="testimonial-ratting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rattiong-caption">
                                    <span>Clifford Frazier, <span>Regular Client</span> </span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial  pt-65">
                            <!-- Testimonial tittle -->
                            <div class="font-back-tittle mb-105">
                                <div class="archivment-front">
                                    <img src="assets/assets/img/logo/testimonial.png" alt="">
                                </div>
                                <h3 class="archivment-back">Testimonial</h3>
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption text-center">
                                <p>Yorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi.
                                </p>
                                <div class="testimonial-ratting">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                                <div class="rattiong-caption">
                                    <span>Clifford Frazier, <span>Regular Client</span> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="blog-area blog-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!-- Seciton Tittle  -->
                    <div class="font-back-tittle mb-50">
                        <div class="archivment-front">
                            <h3>Our Blog</h3>
                        </div>
                        <h3 class="archivment-back">Recent News</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <!-- Single Blog -->
                    <div class="single-blog mb-30">
                        <div class="blog-img">
                            <a href="single-blog.html"><img src="assets/assets/img/our_blog/blog-img1.jpg" alt=""></a>
                        </div>
                        <div class="blog-caption">
                            <div class="blog-cap-top d-flex justify-content-between mb-40">
                                <span>news</span>
                                <ul>
                                    <li>by<a href="#"> Jhon Guru</a></li>
                                </ul>
                            </div>
                            <div class="blog-cap-mid">
                                <p><a href="single-blog.html">5 Simple Tricks for Getting Stellar Hotel Service Wherever
                                        You Are</a></p>
                            </div>
                            <!-- Comments -->
                            <div class="blog-cap-bottom d-flex justify-content-between">
                                <span>Feb 28, 2020</span>
                                <span><img src="assets/assets/img/our_blog/blog-comments-icon.jpg" alt="">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <!-- Single Blog -->
                    <div class="single-blog mb-30">
                        <div class="blog-img">
                            <a href="single-blog.html"> <img src="assets/assets/img/our_blog/blog-img2.jpg" alt=""></a>
                        </div>
                        <div class="blog-caption">
                            <div class="blog-cap-top d-flex justify-content-between mb-40">
                                <span>news</span>
                                <ul>
                                    <li>by<a href="#"> Jhon Guru</a></li>
                                </ul>
                            </div>
                            <div class="blog-cap-mid">
                                <p><a href="single-blog.html">5 Simple Tricks for Getting Stellar Hotel Service Wherever
                                        You Are</a></p>
                            </div>
                            <!-- Comments -->
                            <div class="blog-cap-bottom d-flex justify-content-between">
                                <span>Feb 28, 2020</span>
                                <span><img src="assets/assets/img/our_blog/blog-comments-icon.jpg" alt="">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <!-- Single Blog -->
                    <div class="single-blog mb-30">
                        <div class="blog-img">
                            <a href="single-blog.html"><img src="assets/assets/img/our_blog/blog-img3.jpg" alt=""></a>
                        </div>
                        <div class="blog-caption">
                            <div class="blog-cap-top d-flex justify-content-between mb-40">
                                <span>news</span>
                                <ul>
                                    <li>by<a href="#"> Jhon Guru</a></li>
                                </ul>
                            </div>
                            <div class="blog-cap-mid">
                                <p><a href="single-blog.html">5 Simple Tricks for Getting Stellar Hotel Service Wherever
                                        You Are</a></p>
                            </div>
                            <!-- Comments -->
                            <div class="blog-cap-bottom d-flex justify-content-between">
                                <span>Feb 28, 2020</span>
                                <span><img src="assets/assets/img/our_blog/blog-comments-icon.jpg" alt="">3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Gallery img Start-->
    <div class="gallery-area fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="gallery-active owl-carousel">
                        <div class="gallery-img">
                            <a href="#"><img src="assets/assets/img/gallery/gallery1.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/assets/img/gallery/gallery2.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/assets/img/gallery/gallery3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery img End-->
</main>