<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <div class="card-title">
      <button mat-raised-button [hidden]="!hideForm" color="primary" type="button">
        <i class="far fa-save"></i>
      </button>
      <button mat-raised-button [hidden]="!hideForm"  color="primary" (click)="addNew()" type="button">
        <i class="far fa-plus-square" ></i>
      </button>
      <button mat-raised-button [hidden]="hideForm" color="primary" type="button">
        <i class="far fa-save"></i>
      </button>
      <i class="fas fa-times" [hidden]="hideForm" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
  </div>

  <form class="form" [formGroup]="borrowForm" [hidden]="!hideForm">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Mã LOS:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Hồ sơ nhận:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode"> 
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Hồ sơ thiếu:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode"> 
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Mức độ rủi ro:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Ngày trên biên bản:</label>
            </div>
            <div class="col-8">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-100"
                     placeholder="Chọn ngày">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left">Kết quả đánh giá:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Trạng thái:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Mức độ rủi ro:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Chế tài áp dụng:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" value="Chế tài">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Ghi chú:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" value="Chế tài">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Lịch sử ghi chú:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" value="Chế tài">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form class="form" [formGroup]="borrowForm" [hidden]="hideForm">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Nhóm điều kiện nghị quyết:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Định Kỳ</option>
                <option value="2">MĐSDV</option>
                <option value="3">Bán chéo</option>
                <option value="4">Bảo hiểm TSĐB</option>
                <option value="5">Định giá TSĐB</option>
                <option value="6">Quan hệ tín dụng</option>
                <option value="7">Tài chính</option>
                <option value="8">Pháp lý</option>
                <option value="9">BHNT</option>
                <option value="10">Khác</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Phương thức kiểm soát:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Bổ sung chứng từ</option>
                <option value="2">Hệ thống</option>
                <option value="3">Bổ sung chứng từ & Hệ thống</option>
              </select>  </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Tần suất:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode"> 
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Bổ sung chứng từ MĐSDV:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Thấp</option>
                <option value="2">Trung Bình</option>
                <option value="3">Cao</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Nội dung:</label>
            </div>
            <div class="col-8">
              <input type="text"  class="form-control">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left">Tên chứng từ yêu cầu:</label>
            </div>
            <div class="col-8">
              <input type="text"  class="form-control">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Ngày bổ sung chứng từ:</label>
            </div>
            <div class="col-8">
              <input type="date"  class="form-control">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Chế tài:</label>
            </div>
            <div class="col-8">
              <input type="text"  class="form-control">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Ghi chú:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" value="Chế tài">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
