<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="productTypeForm">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Tên sản phẩm</label>
        <div class="col-4">
          <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên sản phẩm"/>
          <div *ngIf="f.appName.errors && (f.appName.touched || f.appName.dirty)" class="text-danger">
            <div *ngIf="f.appName.errors.required"><span>Mã đơn vị không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right ">Phân khúc</label>
        <div class="col-4">
          <select class="form-control"
                  formControlName="segment">
            <option value="">-Chọn-</option>
            <option [value]="'KHCN'">KHCN</option>
            <option [value]="'KHDN'">KHDN</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Mã sản phẩm</label>
        <div class="col-4">
          <input type="text" formControlName="appCode" class="form-control" placeholder="Nhập tên đơn vị"/>
          <div *ngIf="f.appCode.errors && (f.appCode.touched || f.appCode.dirty)" class="text-danger">
            <div *ngIf="f.appCode.errors.required"><span>Tên đơn vị không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right">Điều kiện</label>
        <div class="col-4">
          <select class="form-control"
                  formControlName="parentCode">
            <option value="">-Chọn-</option>
            <option *ngFor="let data of dataCondition" value="{{data.appCode}}"> {{data.appName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Ghi chú</label>
        <div class="col-10">
          <textarea class="form-control" formControlName="note" rows="3" placeholder="Nhập ghi chú"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div class="text-center">
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="productTypeForm.invalid">
            <i class="far fa-save"></i> {{titleButton}}
          </button>&nbsp;
          <button type="button" mat-raised-button [mat-dialog-close] cdkFocusInitial>
            Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
