<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-2" id="kt_wizard_v2" data-wizard-state="step-first">
			<div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10">
				<!--begin: Form Wizard Nav -->
				<div class="wizard-steps">
					<a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x" [inlineSVG]="'assets/media/svg/icons/General/User.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
                                        Thông tin Người đăng
								</div>
								<div class="wizard-desc">
                                        Setup Your Account Details
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x" [inlineSVG]="'assets/media/svg/icons/Map/Compass.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
								Thông tin bài đăng
								</div>
								<div class="wizard-desc">
									Choose Your Location Map
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x" [inlineSVG]="'assets/media/svg/icons/General/Thunder-move.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Danh sách ảnh
								</div>
								<div class="wizard-desc">
									Add Your Support Agents
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x" [inlineSVG]="'assets/media/svg/icons/Map/Position.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
                                Thông tin chi tiết loại nhà
                                </div>
								<div class="wizard-desc">
									Address, Street, City, State
								</div>
							</div>
						</div>
					</a>
			
				
				</div>
				<!--end: Form Wizard Nav -->

			</div>
			<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
				<!--begin: Wizard Form-->
				<div class="row">
					<div class="offset-xxl-2 col-xxl-8">
						<!--begin: Form Wizard Form-->
						<form class="form" id="kt_form">
							<!--begin: Form Wizard Step 1-->
							<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
								<h4 class="mb-10 font-weight-bold text-dark">Thông tin người đăng</h4>
								<div class="kt-form__section kt-form__section--first">
									<div class="kt-wizard-v2__form">
										<div class="row">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Họ tên</label>
													<input    disabled  type="tel" class="form-control"   [value]="item.fullName">
													<span class="form-text text-muted">Please enter your phone number.</span>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Tên tài khoản</label>
													<input    disabled type="email" class="form-control"  [value]="item.userName">
													<span class="form-text text-muted">Please enter your email address.</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-6">
												<div class="form-group">
													<label>Số điện thoại</label>
													<input    disabled  class="form-control"  [value]="item.phone">
													<span class="form-text text-muted">Please enter your phone number.</span>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Địa chỉ</label>
													<input    disabled  class="form-control"   [value]="item.addRessUser">
													<span class="form-text text-muted">Please enter your email address.</span>
												</div>
											</div>
                                        </div>
                                        <div class="row">
										
											<div class="col-xl-12">
												<div class="form-group">
													<label>Email</label>
													<input    disabled  class="form-control"   [value]="item.email">
													<span class="form-text text-muted">Please enter your email address.</span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!--end: Form Wizard Step 1-->

							<!--begin: Form Wizard Step 2-->
							<div class="pb-5" data-wizard-type="step-content">
								<h4 class="mb-10 font-weight-bold text-dark">Thông tin bài đăng</h4>
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Loại bài đăng</label>
											<input    disabled type="text" class="form-control" 
											[value]="(item.motelType === 1 ? 'Nhà trọ' : (item.motelType ===2 ? 'Nhà chung cư' : 'Nhà nguyên căn' )) ">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tên tiêu đề</label>
											<input    disabled type="text" class="form-control" [value]='item.title'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
                                </div>
                                <div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Người liên hệ</label>
											<input    disabled type="text" class="form-control"  [value]="item.contactPerson">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Số điện thoại</label>
											<input    disabled type="text" class="form-control" [value]="item.contactPhone">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Địa chỉ</label>
											<input    disabled type="text" class="form-control"  [value]="item.contactPhone">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Ngày tạo</label>
											<!-- <input    disabled type="text" class="form-control" [value]='createdDateMotel'> -->
											<span class="form-text text-muted">Please enter your City.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>Diện tích</label>
											<input    disabled type="text" class="form-control" [value]="item.acreageMin + ' đến ' +item.acreageMax ">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-3">
										<div class="form-group">
											<label>Tiền cọc</label>
											<input    disabled type="text" class="form-control"  [value]="item.deposits">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-3">
										<div class="form-group">
											<label>Tiền nhà</label>
											<input    disabled type="text" class="form-control"  [value]="item.priceMin + ' đến ' +item.priceMax ">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-3">
										<div class="form-group">
											<label>Lượt xem </label>
											<input    disabled type="text" class="form-control"  [value]="item.countView">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
									</div>
								
                                </div>
                                
                                <div class="row">
									<div class="col-xl-4">
										<div class="form-group">
											<label>Lượt Report</label>
											<input    disabled type="text" class="form-control"  [value]="item.countReport">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-4">
										<div class="form-group">
											<label>Trạng thái onTop</label>
											<input    disabled type="text" class="form-control"  [value]="item.uptopStatus">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-4">
										<div class="form-group">
											<label>Trạng thái bài đăng</label>
											<input    disabled type="text" class="form-control"  [value]="item.statusMotel">
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                </div>
                                <div class="row">
									<div class="col-xl-12">
										<div class="form-group">
											<label>Nội dung</label>
                                            <textarea rows="4" cols="50" disabled class="form-control" [value]='item.description'></textarea>
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
								
                                </div>
                                
                                
							</div>
							<!--end: Form Wizard Step 2-->

							<!--begin: Form Wizard Step 3-->
							<div class="pb-5" data-wizard-type="step-content">
								<h4 class="mb-10 font-weight-bold text-dark">Danh sách ảnh</h4>
                             
                                        <ngb-carousel *ngIf="images">
                                            <ng-template ngbSlide *ngFor="let image of images |keyvalue; index as i"  > 
                                              <div class="picsum-img-wrapper">
                                                <img [src]="image.value" alt="Random first slide" width="700px" height="472px">
                                              </div>
                                              <div class="carousel-caption">
                                                <h3>First slide label</h3>
                                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                              </div>
                                            </ng-template>
                                        
                                          </ngb-carousel>
                                
                                
                                
							</div>
							<!--end: Form Wizard Step 3-->

							<!--begin: Form Wizard Step 4-->
							<div class="pb-5" data-wizard-type="step-content"  *ngIf='item.motelType === 1'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Nhà trọ</h4>
								<div class="row" >
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chung chủ</label>
											<input    disabled type="text" class="form-control"  [value]="item.liveWithHost === 1 ? 'Có' : 'Không'">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Vệ sinh khép kín</label>
											<input    disabled type="text" class="form-control"  [value]="item.privateToilet === 1 ? 'Có' : 'Không'">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
							</div>
							<div class="pb-5" data-wizard-type="step-content"  *ngIf='item.motelType === 2'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Chung cư</h4>
									
							
								<div class="row" >
									<div class="col-xl-6">
										<div class="form-group">
											<label>Hướng nhà</label>
											<input    disabled type="text" class="form-control"  
											[value]="item.direction === 1 ? 'Đông' : (item.direction === 2 ? 'Tây' : (item.direction === 3 ?'Nam' :'Bắc')) ">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tình trạng căn hộ</label>
											<input    disabled type="text" class="form-control"  [value]="item.apartmentSituation">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								<div class="row" >
									<div class="col-xl-4">
										<div class="form-group">
											<label>Tầng</label>
											<input    disabled type="text" class="form-control"  [value]="item.floor">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng ngủ</label>
											<input    disabled type="text" class="form-control"  [value]="item.numberBedroom">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng WC</label>
											<input    disabled type="text" class="form-control"  [value]="item.numberToilet">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
                                </div>
							</div>
							<div class="pb-5" data-wizard-type="step-content"  *ngIf='item.motelType === 3'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Nguyên căn</h4>
									
								<div class="row" >
									<div class="col-xl-6">
										<div class="form-group">
											<label>Hướng nhà</label>
											<input    disabled type="text" class="form-control" 
											[value]="item.direction === 1 ? 'Đông' : (item.direction === 2 ? 'Tây' : (item.direction === 3 ?'Nam' :'Bắc')) ">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tình trạng căn hộ</label>
											<input    disabled type="text" class="form-control"  [value]="item.apartmentSituation">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								<div class="row" >
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số tầng</label>
											<input    disabled type="text" class="form-control"  [value]="item.numberFloor">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng ngủ</label>
											<input    disabled type="text" class="form-control"  [value]="item.numberBedroom">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng WC</label>
											<input    disabled type="text" class="form-control"  [value]="item.numberToilet">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								
								<div class="row" >
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chiều dài</label>
											<input    disabled type="text" class="form-control"  [value]="item.length">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chiểu rộng</label>
											<input    disabled type="text" class="form-control"  [value]="item.width">
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
							</div>
							<!--end: Form Wizard Step 4-->

						
					

							<!--begin: Form Actions -->
							<div class="d-flex justify-content-between border-top pt-10">
								<div class="mr-2">
									<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
										Previous
									</div>
								</div>
								<div>
									<div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
										Submit
									</div>
									<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
										Next Step
									</div>
								</div>
							</div>
							<!--end: Form Actions -->
						</form>
						<!--end: Form Wizard Form-->
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
