
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Xác nhận nhận chứng từ tại KSS</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="mr-5">
        <mat-icon class="mt-2">add_circle</mat-icon> Xác nhận
      </button>

      <button
        mat-raised-button
        type="button">
      <mat-icon class="mt-2">add_circle</mat-icon> Đóng
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <kt-portlet>
    <!-- end::Header -->
    <kt-portlet-body>
      <form action="#">
        <div class="row">
          <div class="col-xl-4">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Đơn vị</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1"> Trần Duy Hưng</option>
                  <option value="2">Thanh Xuân</option>
                  <option value="3">Nguyễn Ngọc Nại</option>
                  <option value="3">Hải Dương</option>
                </select>
              </div>
            </div>
            <div class="form-group row ">
              <label class="col-lg-4 col-form-label">User duyệt</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" placeholder="User duyệt">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">User giao</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" placeholder="User giao">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">ĐX gia hạn</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1">Đơn vị 1</option>
                  <option value="2">Đơn vị 2</option>
                  <option value="3">Đơn vị 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Khu vực</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1"> Hà Nội 1</option>
                  <option value="2">Hà Nội 2</option>
                  <option value="3">Hải Phòng</option>
                  <option value="3">Hải Dương</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Ngày giao</label>
              <div class="col-lg-8">
                <input type="date" class="form-control" placeholder="Nhập giao">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Hình thức</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1"> Hà Nội 1</option>
                  <option value="2">Hà Nội 2</option>
                  <option value="3">Hải Phòng</option>
                  <option value="3">Hải Dương</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">S.Ngày đề xuất</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" placeholder="Nhập giao">
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Miền</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1">Miền Bắc</option>
                  <option value="2">Miền Trung</option>
                  <option value="3">Miền Nam</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label"> Điểm lưu kho</label>
              <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1"> kho sài đồng</option>
                  <option value="2">Kho Phố Huế </option>
                  <option value="3">Kho Crown</option>
                  <option value="3">Khác</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Từ ngày</label>
              <div class="col-lg-8">
                <input type="date" class="form-control" placeholder="Nhập ngày">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-form-label">Lý do gia hạn</label>
          <div class="col-lg-5">
            <textarea rows="3" type="text" class="form-control " placeholder="User giao"></textarea>
          </div>
        </div>
        <div class="row mt-5">
          <label class="col-lg-2 col-form-label">Lý do gia hạn</label>
          <div class="col-lg-5">
            <textarea rows="3" type="text" class="form-control" placeholder="User giao"></textarea>
          </div>
        </div>
        <div class="form-group row mt-5">
          <label class="col-lg-1 col-form-label">Trạng thái</label>
          <div class="col-lg-3">
            <select class="form-control">
              <option>[Tất cả]</option>
              <option value="1"> kho sài đồng</option>
              <option value="2">Kho Phố Huế </option>
              <option value="3">Kho Crown</option>
              <option value="3">Khác</option>
            </select>
          </div>
          <label class="col-lg-1 col-form-label">Ngày nhận</label>
          <div class="col-lg-3">
            <input  class="form-control" placeholder="Nhập ngày">
          </div>
          <label class="col-lg-1 col-form-label">Duyệt gia hạn</label>
          <div class="col-lg-3">
            <input  class="form-control" placeholder="Nhập ngày">
          </div>
        </div>
      </form>
      <div class="mat-table-wrapper">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

<!--            <ng-container matColumnDef="stt">-->
<!--              <th mat-header-cell *matHeaderCellDef>STT</th>-->
<!--              <td mat-cell-->
<!--                  *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>-->
<!--            </ng-container>-->
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
            </ng-container>

            <ng-container matColumnDef="appCode">
              <th mat-header-cell *matHeaderCellDef>Từ ngày chứng từ</th>
              <td mat-cell *matCellDef="let element"> {{element.appCode}} </td>
            </ng-container>

            <ng-container matColumnDef="appName">
              <th mat-header-cell *matHeaderCellDef>Đến ngày chứng từ</th>
              <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
            </ng-container>

            <ng-container matColumnDef="parentName">
              <th mat-header-cell *matHeaderCellDef>Số ngày giao muộn</th>
              <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
            </ng-container>

            <ng-container matColumnDef="riskLevel">
              <th mat-header-cell *matHeaderCellDef>Số tập</th>
              <td mat-cell *matCellDef="let element">{{element.riskLevel}} </td>
            </ng-container>

            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef>Loại CT</th>
              <td mat-cell *matCellDef="let element"> {{element.note}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </kt-portlet-body>
    <!-- end::Body -->
