<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách hợp đồng giải ngân</span>
    </ng-container>
  </kt-portlet-header>

  <!-- start form search -->
  <form class="form">
    <div class="row form-group">

      <div class="col-10 w-100">
        <table class="w-100 ml-5">
          <thead>
          <tr *ngFor="let search of searchCriteria; let i = index">
            <td colspan="2">
              <select class="form-control">
                <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                <option [value]="'A'">Mã khách hàng</option>
                <option [value]="'B'">Mã REF</option>
                <option [value]="'C'">Số hợp đồng</option>
                <option [value]="'D'">Sản phẩm</option>
              </select>
            </td>
            <td colspan="1">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Toán tử</option>
                <option [value]="'A'">EQ</option>
                <option [value]="'B'">LIKE</option>
              </select>
            </td>
            <td colspan="3">
              <input type="text" class="form-control"
                     placeholder="Nhập thông tin tìm kiếm">
            </td>
            <td colspan="1">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Kết hợp</option>
                <option [value]="'A'">And</option>
                <option [value]="'B'">Or</option>
              </select>
            </td>
            <td colspan="2">
              <button class="float-right" mat-raised-button (click)="deleteSearchCriteria(i)" color="primary" type="button"><i class="fas fa-minus"></i></button>
            </td>
          </tr>
          </thead>
        </table>
      </div>

      <div class="col-2">
        <button class="mr-5" mat-raised-button color="primary" type="button" (click)="addSearchCriteria()"><i class="fas fa-plus"></i></button>
        <button class="mr-5" mat-raised-button color="primary" type="button">Tìm kiếm</button>
      </div>
    </div>
  </form>
  <!-- end form search -->

  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <div class="gr-button float-right mb-5">
        <button class="mr-5" mat-raised-button color="primary" type="button">Từ chối</button>
        <button class="mr-5" mat-raised-button color="primary" type="button">Phê duyệt</button>
      </div>
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <input type="checkbox" class="form-check">
          </td>
        </ng-container>

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt"
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="maCN">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Mã CN</th>
          <td mat-cell *matCellDef="let element"> {{element.maCN}} </td>
        </ng-container>

        <ng-container matColumnDef="tenCN">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tên CN</th>
          <td mat-cell *matCellDef="let element"> {{element.tenCN}} </td>
        </ng-container>

        <ng-container matColumnDef="maKH">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Mã KH</th>
          <td mat-cell *matCellDef="let element"> {{element.maKH}} </td>
        </ng-container>

        <ng-container matColumnDef="tenKH">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Tên KH</th>
          <td mat-cell *matCellDef="let element"> {{element.tenKH}} </td>
        </ng-container>

        <ng-container matColumnDef="PK">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Phân khúc</th>
          <td mat-cell *matCellDef="let element"> {{element.PK}} </td>
        </ng-container>

        <ng-container matColumnDef="maREF">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Mã hợp đồng (REF)</th>
          <td mat-cell *matCellDef="let element"> {{element.maREF}} </td>
        </ng-container>

        <ng-container matColumnDef="SP">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Sản phẩm</th>
          <td mat-cell *matCellDef="let element"> {{element.SP}} </td>
        </ng-container>

        <ng-container matColumnDef="KV">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Khoản vay</th>
          <td mat-cell *matCellDef="let element"> {{element.KV}} </td>
        </ng-container>

        <ng-container matColumnDef="NGN">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày giải ngân đầu tiên</th>
          <td mat-cell *matCellDef="let element"> {{element.NGN}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>

</kt-portlet>
