<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Thông báo</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <div class="card-body">
    <i class="far fa-question-circle"></i>
    <span>Bạn có chắc chắn muốn từ chối không?</span>
  </div>
  <div class="card-footer m-auto">
    <button type="button" mat-raised-button [mat-dialog-close] cdkFocusInitial>Hủy bỏ</button>&nbsp;
    <button type="button" class="ml-9" (click)="changeStatusCategory()" mat-raised-button color="primary">Đồng ý</button>
  </div>
</div>
