<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        >
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>ID KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Kiều Cao Long" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>MÃ HỢP ĐỒNG</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Kiều Cao Long" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại hợp đồng</strong></label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Hạn mức(Tuần hoàn)</option>
                <option value="2">Món(Không tuần hoàn)</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Ngày ký hợp đồng tín dụng</label>
            <div class="col-8">
              <input type="date" class="form-control"  readonly>
            </div>
          </div>  
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Số tiền giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại tiền</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày giải ngân</strong></label>
            <div class="col-8">
              <input type="date" class="form-control"  readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên sản phẩm SeABank</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
        <mat-icon>assignment</mat-icon>
        Danh sách khoản vay
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Mã LOS  </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Mã REF </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Số tiền giải ngân </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Ngày giải ngân/Ngày hiệu lực TSBD (tháng/ngày/năm) </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Ngày đến hạn </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
        <mat-icon>assignment</mat-icon>
        Danh sách nghị quyết
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Nhóm điều kiện nghị quyết </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Mã REF </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Phương thức kiểm soát </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Nội dung </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Ngày đến hạn </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
            <td mat-cell class="col-center" *matCellDef="let element">
              <button type="button" mat-icon-button color="primary" (click)="update()">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button color="primary" (click)="decisionDialog()">
                <mat-icon>settings</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
        <mat-icon>assignment</mat-icon>
       Lịch sử đánh giá
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <mat-tab-group>
      <mat-tab label="Điều kiện nghị quyết">
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Nhóm ĐKNQ </th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Ngày Phê duyệt Nghị quyết </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Thời hạn kiểm tra </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Mã LOS </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="ngaydenhan">
                <th mat-header-cell *matHeaderCellDef> Hồ sơ nhận </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
              </ng-container>

               <!-- Symbol Column -->
               <ng-container matColumnDef="hosothieu">
                <th mat-header-cell *matHeaderCellDef> Hồ sơ thiếu </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="mucdoruiro">
                <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="ngaytrenbienban">
                <th mat-header-cell *matHeaderCellDef> Ngày trên biên bản </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
              </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ketquadanhgia">
                  <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
                  <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
                </ng-container>
      
                <!-- Weight Column -->
                <ng-container matColumnDef="trangthai">
                  <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                  <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
                </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                <td mat-cell class="col-center" *matCellDef="let element">
                  
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedDKNQ"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKNQ;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div> 
        </div>
      </mat-tab>
      <mat-tab label="Điều kiện doanh thu">
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Hồ sơ nhận </th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Hồ sơ thiếu </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="ngaydenhan">
                <th mat-header-cell *matHeaderCellDef> Tỷ lệ kiểm tra lộ trình </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
              </ng-container>

               <!-- Symbol Column -->
               <ng-container matColumnDef="hosothieu">
                <th mat-header-cell *matHeaderCellDef> Doanh số trong kỳ đánh giá GSSGN(ĐV: tỷ đồng) </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="mucdoruiro">
                <th mat-header-cell *matHeaderCellDef> Dòng tiền thực hiện(10) </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="ngaytrenbienban">
                <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                <td mat-cell class="col-center" *matCellDef="let element">
                  
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedDKDT"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKDT;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div> 
        </div>
      </mat-tab>
      <mat-tab label="Điều kiện sản phẩm">
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="ngaydenhan">
                <th mat-header-cell *matHeaderCellDef> Ngày trên biên bản </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
              </ng-container>

               <!-- Symbol Column -->
               <ng-container matColumnDef="hosothieu">
                <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              
    
              <tr mat-header-row *matHeaderRowDef="displayedDKSP"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKSP;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div> 
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>

