<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh mục mã lỗi</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addNew()">
        <span>Thêm mới</span>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form [formGroup]="formGroup">
      <div class="form-group row">
        <label class="col-1 col-form-label text-right">Mã lỗi: </label>
        <div class="col-3">
          <input class="form-control" formControlName="appCode" placeholder="Nhập mã lỗi">
        </div>
        <label class="col-1 col-form-label text-right">Tên lỗi: </label>
        <div class="col-3">
          <input class="form-control" formControlName="appName" placeholder="Nhập tên lỗi">
        </div>
        <label class="col-1 col-form-label text-right">Nhóm lỗi</label>
        <div class="col-3">
          <select class="form-control" formControlName="parentCode">
            <option value="">Tất cả</option>
            <option *ngFor="let data of dataErrorGroup" value="{{data.appCode}}"> {{data.appName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mức độ rủi ro</label>
        <div class="col-3">
          <select class="form-control" formControlName="rickLevel">
            <option value="">Tất cả</option>
            <option [value]="'RL01'">Cao</option>
            <option [value]="'RL02'">Trung Bình</option>
            <option [value]="'RL03'">Thấp</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right">Trạng thái</label>
        <div class="col-3">
          <select class="form-control" formControlName="status">
            <option value="">Tất cả</option>
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
        </div>

        <div class="col-2 text-right">
          <button type="submit" color="primary" (click)="searchErrorCode()"  mat-raised-button>
            <i class="fas fa-search"></i>Tìm kiếm
          </button>&nbsp;
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="appCode">
          <th mat-header-cell *matHeaderCellDef>Mã lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.appCode}} </td>
        </ng-container>

        <ng-container matColumnDef="appName">
          <th mat-header-cell *matHeaderCellDef>Tên lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="parentName">
          <th mat-header-cell *matHeaderCellDef>Nhóm lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
        </ng-container>

        <ng-container matColumnDef="riskLevel">
          <th mat-header-cell *matHeaderCellDef>Mức độ rủi ro</th>
          <td mat-cell *matCellDef="let element"> {{element.extraObj.riskLevel == 'RL01' ? 'Cao' : (element.extraObj.riskLevel == 'RL02' ? 'Trung bình': (element.extraObj.riskLevel == 'RL03' ? 'Thấp': ''))}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
          <td mat-cell *matCellDef="let element"> {{element.extraObj.note}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element"> {{element.status == 'A' ? 'Hoạt động' : 'Không hoạt động' }} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editCategoryUnit(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="accent" type="button"
                    (click)="deleteCategoryUnit(element)">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
