<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh mục đơn vị</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addNew()">
        <span>Thêm mới</span>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form [formGroup]="categoryForm">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mã đơn vị: </label>
        <div class="col-3">
          <input class="form-control" formControlName="codeUnit" placeholder="Nhập mã khu vực cần tìm">
        </div>
        <label class="col-2 col-form-label text-right">Khu vực: </label>
        <div class="col-3">
          <select class="form-control" formControlName="codeArea">
            <option value="">--Chọn--</option>
            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Tên đơn vị: </label>
        <div class="col-3">
          <input class="form-control" formControlName="nameUnit" placeholder="Nhập mã khu vực cần tìm">
        </div>
        <label class="col-2 col-form-label text-right">Email: </label>
        <div class="col-3">
          <input class="form-control" formControlName="email" placeholder="Nhận tên khu vực cần tìm">
        </div>
        <div class="col-2 text-right">
          <button type="submit" (click)="find()" mat-raised-button color="primary">
            <i class="fas fa-search"></i>Tìm kiếm
          </button>&nbsp;
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="appCode">
          <th mat-header-cell *matHeaderCellDef>Mã đơn vị</th>
          <td mat-cell *matCellDef="let element"> {{element.appCode}} </td>
        </ng-container>

        <ng-container matColumnDef="appName">
          <th mat-header-cell *matHeaderCellDef>Tên đơn vị</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="parentName">
          <th mat-header-cell *matHeaderCellDef>Khu vực</th>
          <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.extraObj.email}} </td>
        </ng-container>

<!--        <ng-container matColumnDef="status">-->
<!--          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.status == 'A' ? 'Hoạt động' : 'Không hoạt động' }} </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editCategoryUnit(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="accent" color="primary" type="button"
                    (click)="deleteCategoryUnit(element)">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
