<kt-portlet>

  <kt-portlet-header [title]="'Báo cáo lưu trữ chứng từ'">
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button" class="mr-3" ngbTooltip="In">
        <mat-icon>print</mat-icon>In</button>
      <button mat-raised-button color="primary" type="button" ngbTooltip="Xuất Excel">
        <mat-icon>picture_as_pdf</mat-icon>Xuất Excel</button>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <form>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Miền</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">Miền Bắc</option>
                <option [value]="'B'">Miền Trung</option>
                <option [value]="'C'">Miền Nam</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Khu vực</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">Miền Bắc</option>
                <option [value]="'B'">Miền Trung</option>
                <option [value]="'C'">Miền Nam</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Đơn vị</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control">
                <option value="" [defaultSelected]="true">Tất cả</option>
                <option [value]="'A'">Miền Bắc</option>
                <option [value]="'B'">Miền Trung</option>
                <option [value]="'C'">Miền Nam</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4 mt-5">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Từ ngày</label>
            </div>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="dd/MM/yyyy">
            </div>
          </div>
        </div>

        <div class="col-sm-4 mt-5">
          <div class="row">
            <div class="col-sm-4 text-center">
              <label class="col-form-label">Đến ngày</label>
            </div>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="dd/MM/yyyy">
            </div>
          </div>
        </div>

        <div class="col-sm-12 text-center mt-5">
          <button mat-raised-button color="primary" type="button" ngbTooltip="Xuất báo cáo">
            <mat-icon>search</mat-icon>Xuất Báo Cáo</button>
        </div>

      </div>

    </form>
  </kt-portlet-body>
</kt-portlet>

<kt-portlet>
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đơn vị</th>
          <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Khu vực</th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Miền</th>
          <td mat-cell *matCellDef="let element"> {{element.district}} </td>
        </ng-container>

        <ng-container matColumnDef="barrelCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Mã thùng</th>
          <td mat-cell *matCellDef="let element"> {{element.barrelCode}} </td>
        </ng-container>

        <ng-container matColumnDef="episodes">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tập</th>
          <td mat-cell *matCellDef="let element"> {{element.episodes}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày/ tháng/ năm</th>
          <td mat-cell *matCellDef="let element"> {{element.barrelCode}} </td>
        </ng-container>

        <ng-container matColumnDef="toDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày/ tháng/ năm</th>
          <td mat-cell *matCellDef="let element"> {{element.toDate}} </td>
        </ng-container>

        <ng-container matColumnDef="numberCabinets">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tủ/ giá/ địa điểm lưu kho</th>
          <td mat-cell *matCellDef="let element"> {{element.numberCabinets}} </td>
        </ng-container>

        <ng-container matColumnDef="managers">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Cán bộ quản lý</th>
          <td mat-cell *matCellDef="let element"> {{element.managers}} </td>
        </ng-container>

        <ng-container matColumnDef="storageDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày lưu kho</th>
          <td mat-cell *matCellDef="let element"> {{element.storageDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
</kt-portlet>
