<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách Người dùng</span>
    </ng-container>


  </kt-portlet-header>
  <!-- end::Header -->
  <kt-portlet-body>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Tài khoản </label>
          </div>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="paramSearch.username">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Email</label>
          </div>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="paramSearch.email">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Trạng thái</label>
          </div>
          <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="paramSearch.status">
              <option value="" [defaultSelected]="true">Tất cả</option>
              <option [value]="1">Hoạt động</option>
              <option [value]="-1">Bị khóa</option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-sm-4 mt-5">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Từ ngày</label>
          </div>
          <div class="col-sm-8">
            <input type="date" [(ngModel)]="paramSearch.fromDate" class="form-control" placeholder="dd/MM/yyyy">
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Đến ngày</label>
          </div>
          <div class="col-sm-8">
            <input type="date" [(ngModel)]="paramSearch.toDate" class="form-control" placeholder="dd/MM/yyyy">
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <div class="row">
          <div class="col-sm-4 text-center">
            <label class="col-form-label">Quyền truy cập</label>
          </div>
          <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="paramSearch.roleID">
              <option value="" [defaultSelected]="true">Tất cả</option>
              <option [value]="1">Admin</option>
              <option [value]="0">Username</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-right mt-5">
        <button mat-raised-button color="primary" (click)="onSearch()" type="button" ngbTooltip="Tìm kiếm">
          <mat-icon>search</mat-icon>Tìm kiếm
        </button>
      </div>
    </div>
  </kt-portlet-body>
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize)
            + i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Tài khoản</th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef>Tên đầy đủ</th>
          <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="rolename">
          <th mat-header-cell *matHeaderCellDef>Quyền</th>
          <td mat-cell *matCellDef="let element"> {{element.rolename}}
          </td>
        </ng-container>
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
          <td mat-cell *matCellDef="let element"> {{element.created_date | date:'dd-mm-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle class="tp-margin"  color="warn" [checked] = "element.status == 1" [disabled]="false" (change)="changeStatusUser(element)">
            </mat-slide-toggle>
          </td>
        </ng-container>

        

        <ng-container matColumnDef="action_btn">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="warn" (click)="addNew(element)">
              <mat-icon color="warn" >storage</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>
        



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator #paginator [length]="page.totalElements" [pageIndex]="page.pageNumber" [pageSize]="page.size"
        [pageSizeOptions]="[12,2,3]" (page)="getServerData($event)" showFirstLastButtons></mat-paginator>
    </div>

  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>