<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange">
  <div class="text-nowrap row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" [ngSwitch]="item.collapsed">
      <!--<svg *ngSwitchCase="true" width="0.8rem" height="0.8rem" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
           fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>-->
      <!--<svg  width="0.8rem" height="0.8rem" viewBox="0 0 16 16" class="bi bi-caret-down-fill"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
       <path
         d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
     </svg>-->

      <button *ngSwitchCase="true" _ngcontent-eni-c164="" mat-icon-button="" mattreenodetoggle=""
              class="mat-focus-indicator mat-icon-button mat-button-base" aria-label="Toggle Green">
        <span class="mat-button-wrapper">
            <mat-icon _ngcontent-eni-c164="" role="img"
                      class="mat-icon notranslate mat-icon-rtl-mirror material-icons mat-icon-no-color"
                      aria-hidden="true" data-mat-icon-type="font"> chevron_right </mat-icon>
        </span>
        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
        class="mat-button-focus-overlay"></span>
      </button>
      <button *ngSwitchCase="false" _ngcontent-eni-c164="" mat-icon-button="" mattreenodetoggle=""
              class="mat-focus-indicator mat-icon-button mat-button-base" aria-label="Toggle Vegetables">
        <span class="mat-button-wrapper"><mat-icon _ngcontent-eni-c164="" role="img"
                                                   class="mat-icon notranslate mat-icon-rtl-mirror material-icons mat-icon-no-color"
                                                   aria-hidden="true" data-mat-icon-type="font"> expand_more </mat-icon></span>
        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
        class="mat-button-focus-overlay"></span>
      </button>
    </i>
    <label class="form-check-label tree-item" (click)="select(item)"
           [ngClass]="{'tree-item-no-child': !item.children}">{{ item.text }}</label>
  </div>
</ng-template>
<ng-template #headerTemplate let-config="config" let-item="item" let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange" let-onFilterTextChange="onFilterTextChange">
  <div *ngIf="config.hasFilter" class="row row-filter">
    <div class="col-12">
      <input class="form-control" type="text" [placeholder]="i18n.getFilterPlaceholder()" [(ngModel)]="filterText"
             (ngModelChange)="onFilterTextChange($event)"/>
    </div>
  </div>
  <div *ngIf="config.hasAllCheckBox || config.hasCollapseExpand" class="row">
    <div class="col-12">
      <!--<label *ngIf="config.hasAllCheckBox" (click)="select(item)">
        <strong>{{ i18n.getAllCheckboxText() }}</strong>
      </label>-->
      <label *ngIf="config.hasCollapseExpand" class="float-right" (click)="onCollapseExpand()">
        <i [title]="i18n.getTooltipCollapseExpandText(item.collapsed)" aria-hidden="true" [ngSwitch]="item.collapsed">
          <svg *ngSwitchCase="true" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-angle-expand"
               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M1.5 10.036a.5.5 0 0 1 .5.5v3.5h3.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd"
                  d="M6.354 9.646a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 0 1-.708-.708l4.5-4.5a.5.5 0 0 1 .708 0zm8.5-8.5a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 0 1-.708-.708l4.5-4.5a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd"
                  d="M10.036 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 1 1-1 0V2h-3.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg *ngSwitchCase="false" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-angle-contract"
               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M9.5 2.036a.5.5 0 0 1 .5.5v3.5h3.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd"
                  d="M14.354 1.646a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 1 1-.708-.708l4.5-4.5a.5.5 0 0 1 .708 0zm-7.5 7.5a.5.5 0 0 1 0 .708l-4.5 4.5a.5.5 0 0 1-.708-.708l4.5-4.5a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd"
                  d="M2.036 9.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V10h-3.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </i>
      </label>
    </div>
  </div>
  <div *ngIf="config.hasDivider" class="dropdown-divider"></div>
</ng-template>
<cm-treeview [config]="config"
             [haveClearBtn]="true"
             [headerTemplate]="headerTemplate"
             [items]="items"
             [itemTemplate]="itemTemplate"
             (clearSelectionEvent)="clearSelect()">
</cm-treeview>
