label {
  margin-bottom: 0;
  cursor: pointer;
}

.bi {
  cursor: pointer;
  margin-right: 0.3rem;
}

.tree-item-no-child {
  margin-left: 40px;
  margin-top: 5px;
}

.tree-item {
  color: rgba(0, 0, 0, .87);
}

.tree-item:hover {
  background-color: #f0f0f0;
}
