


* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

.title {
	font-size: 36px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	color:#333;;
	margin-top: 3px;
	font-size: 12px;
}
.error-message{
	color: red;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	
	margin: 15px 0;
}
a:hover {
	color: #26a0da;
	text-decoration: underline;
}

button {
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-image: linear-gradient(to bottom right, #dbf2fc, #26a0da);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
button.signin-button {
	background-image: linear-gradient(to bottom right, #dbf2fc, #26a0da);
}
button.signin-button:hover {
	border: 1px solid #160ce1;
}
button.signup-button {

}
button.signup-button:hover {
	
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	/* background-color: #FFFFFF; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
}
input:focus{
	outline: none;

}

.container {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 384px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
	background-image: linear-gradient(to bottom right, #dbf2fc, #26a0da);
}

.sign-up-container {
	left: 0;
	width: 100%;
	z-index: 2;
	background-image: linear-gradient(to bottom right, #dbf2fc, #26a0da);
}

