<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form [formGroup]="loginForm" (ngSubmit)='onSubmit()'>
			<p class="title">Đăng Nhập</p>
			<span>Chưa có tài khoản hãy <a [routerLink]="['/login/register']">Đăng ký</a></span>
			<input type="text" formControlName='username' placeholder="Username" name="username" />
			<div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
				<div *ngIf="loginForm.get('username').hasError('required')" class="alert alert-danger" role="alert">
					Tên tài khoản không được để trống !
				</div>
				<div *ngIf="loginForm.get('username').hasError('minlength')" class="alert alert-danger" role="alert">
					Tên tài khoản cần tối thiểu 6 ký tự !
				</div>
				<div *ngIf="loginForm.get('username').hasError('maxlength')" class="alert alert-danger" role="alert">
					Tên tài khoản cần tối đa 16 ký tự !
				</div>
				<div *ngIf="loginForm.get('username').hasError('pattern')" class="alert alert-danger" role="alert">
					Tên tài khoản chỉ bao gồm số, chữ và dấu gạch dưới (_)
				</div>
			</div>
			<input type="password" formControlName='password' placeholder="Password" />
			<div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
				<div *ngIf="loginForm.get('password').hasError('required')" class="alert alert-danger" role="alert">
					Mật khẩu không được để trống !
				</div>
				<div *ngIf="loginForm.get('password').hasError('minlength')" class="alert alert-danger" role="alert">
					Mật khẩu cần tối thiểu 6 ký tự !
				</div>
				<div *ngIf="loginForm.get('password').hasError('maxlength')" class="alert alert-danger" role="alert">
					Mật khẩu cần tối đa 20 ký tự !
				</div>
				<div *ngIf="loginForm.get('password').hasError('pattern')" class="alert alert-danger" role="alert">
					Mật khẩu chỉ bao gồm số và chữ !
				</div>
			</div>
			<span *ngIf="errorMessage"class="error-message">{{errorMessage}}</span>
			<a href="#">Quên mật khẩu?</a>
			<button class="signin-button" type="submit" [disabled]="!loginForm.valid">Đăng nhập</button>
		</form>
	</div>
</div>
