<kt-portlet>
    <kt-portlet-header class="card-head-lg">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <span>Duyệt giao CT tại GĐ ĐVNV</span>
        </ng-container>
        <ng-container ktPortletTools>
            <button mat-raised-button [routerLink]="['/check-document/delivery']" type="button">
                <span><i class="fas fa-chevron-circle-left text-dark mr-2 "></i>Quay lại</span>

            </button>
        </ng-container>
    </kt-portlet-header>
    <form class="form">
        <div class="row form-group  px-12    col-md-11">
            <div class="col-md-6">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label " for="input-error-code">Hình thức nộp</label>
                    <input class="col-md-7 form-control " placeholder="Nộp qua đơn vị vận chuyển" />
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Đề xuất gia hạn</label>
                    <input class="col-md-7 form-control " placeholder="Đề xuất gia hạn" />
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Số ngày đề xuất</label>
                    <input class="col-md-7 form-control " placeholder="Số ngày đề xuất" />
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">User giao</label>
                    <input class="col-md-7 form-control " placeholder="User giao" />
                </div>

            </div>
            <div class=" col-md-6">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label  " for="input-error-code">ĐV vận chuyển</label>
                    <input class="col-md-7 form-control " placeholder="ĐV vận chuyển" />

                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Ngày giờ nhận</label>
                    <input class="form-control col-md-7" placeholder="Ngày giờ nhận">

                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Số ngày duyệt</label>
                    <input class="col-md-7 form-control " placeholder="Số ngày duyệt" />
                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">User nhận</label>
                    <input class="col-md-7 form-control " placeholder="User nhận" />
                </div>


            </div>
            <div class="row w-100 mt-4 col-md-11  ">
                <label class="col-md-2 col-form-label mr-1" for="input-error-code">Lý do gia hạn</label>
                <input class="col-md-8 form-control " style="height: 50px;" placeholder="Lý do gia hạn" />
            </div>
            <div class="row w-100 col-md-11 mt-4 ">
                <label class="col-md-2  col-form-label mr-1" for="input-error-code">Ghi chú</label>
                <input class="col-md-8 form-control " style="height: 50px;" placeholder="Ghi chú" />
            </div>
        </div>
    </form>
    <kt-portlet-body>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                        {{element.stt}}</td>
                </ng-container>

                <ng-container matColumnDef="dateDelivery ">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Ngày giao</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateDelivery }} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>
                >
                <ng-container matColumnDef="numberDocument">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tập
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberDocument}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Loại CT
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ghi chú
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
        </div>
        <div class="mat-table-bottom">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>
<!-- <router-outlet></router-outlet> -->