<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thêm mới lỗi bút toán</span>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <i class="fas fa-info-circle"></i> <span>Thông tin chứng từ</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button">
        Xác nhận
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="row form-group">
      <div class="col-8">
        <div class="row">
          <div class="col-6 form-group">
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">Số bút toán: </label>
              <div class="col-8">
                <input class="form-control" placeholder="Nhập số bút toán">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">Tk ghi có: </label>
              <div class="col-8">
                <input class="form-control" placeholder="Nhập tk ghi có">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">Số tiền: </label>
              <div class="col-8">
                <input class="form-control" placeholder="Nhập số tiền">
              </div>
            </div>
          </div>
          <div class="col-6 form-group">
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">Ngày giao dịch: </label>
              <div class="col-8">
                <input type="date" class="form-control" placeholder="Nhập ngày giao dịch">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">User hạch toán: </label>
              <div class="col-8">
                <input class="form-control" placeholder="Nhập User hạch toán">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label text-right">Số tiền phí: </label>
              <div class="col-8">
                <input class="form-control" placeholder="Nhập số tiền phí">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-2 col-form-label text-right">Ghi chú: </label>
          <div class="col-8">
            <textarea class="form-control" placeholder="Ghi chú" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="col-4 form-group">
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Tk ghi nợ: </label>
          <div class="col-8">
            <input class="form-control" placeholder="Nhập Tk ghi nợ">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Nghiệp vụ: </label>
          <div class="col-8">
            <select class="form-control">
              <option value="">Chọn Nghiệp vụ</option>
              <option value="">Loại 2</option>
              <option value="">Loại 3</option>
              <option value="">Loại 4</option>
              <option value="">Loại 5</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-4 col-form-label text-right">Số phí: </label>
          <div class="col-8">
            <input class="form-control" placeholder="Nhập số phí">
          </div>
        </div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>
<kt-portlet class="mt-5">
  <kt-portlet-header [class]="'card-head-lg'" class="mt-5">
    <ng-container ktPortletTitle>
      <i class="fas fa-info-circle"></i> <span>Thông tin chứng từ</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        (click)="openDialog()"
        color="primary"
        type="button">
        Thêm mới
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <form [formGroup]="form">
      <div class="row form-group">
        <div class="col-4">
          <div class="row form-group">
            <label class="col-4 col-form-label text-right">Xác nhận lỗi: </label>
            <div class="col-8">
              <select class="form-control">
                <option value="">Chọn loại chứng từ</option>
                <option value="">Loại 2</option>
                <option value="">Loại 3</option>
                <option value="">Loại 4</option>
                <option value="">Loại 5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row form-group">
            <label class="col-4 col-form-label text-right">Phân loại lỗi: </label>
            <div class="col-8">
              <select class="form-control">
                <option value="">Chọn loại lỗi</option>
                <option value="">Loại 2</option>
                <option value="">Loại 3</option>
                <option value="">Loại 4</option>
                <option value="">Loại 5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row form-group">
            <label class="col-4 col-form-label text-right">Nhóm lỗi: </label>
            <div class="col-8">
              <select disabled class="form-control">
                <option value="">Chọn loại lỗi</option>
                <option value="">Loại 2</option>
                <option value="">Loại 3</option>
                <option value="">Loại 4</option>
                <option value="">Loại 5</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-4">
          <div class="row form-group">
            <label class="col-4 col-form-label text-right">Mức độ rủi ro: </label>
            <div class="col-8">
              <select disabled class="form-control">
                <option value="">Cao</option>
                <option value="">Trung bình</option>
                <option value="">Thấp</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <label class="col-2 col-form-label text-right">Ghi chú</label>
            <div class="col-10">
              <input class="form-control" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell
              *matCellDef="let element; let i = index">
<!--            {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}-->
          </td>
        </ng-container>

        <ng-container matColumnDef="userC">
          <th mat-header-cell *matHeaderCellDef width="200">User Chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.userC}} </td>
        </ng-container>

        <ng-container matColumnDef="ngayC">
          <th mat-header-cell *matHeaderCellDef width="200">Ngày chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.ngayC}} </td>
        </ng-container>

        <ng-container matColumnDef="XNloi">
          <th mat-header-cell *matHeaderCellDef width="200">Xác nhận lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.XNloi}} </td>
        </ng-container>

        <ng-container matColumnDef="nhomLoi">
          <th mat-header-cell *matHeaderCellDef width="200">Nhóm lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.nhomLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="plLoi">
          <th mat-header-cell *matHeaderCellDef width="200">Phân loại lỗi</th>
          <td mat-cell *matCellDef="let element"> {{element.plLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="ctLoi">
          <th mat-header-cell *matHeaderCellDef width="200">Chi tiết lối</th>
          <td mat-cell *matCellDef="let element"> {{element.ctLoi}} </td>
        </ng-container>

        <ng-container matColumnDef="mdRR">
          <th mat-header-cell *matHeaderCellDef width="200">Mức độ rủi ro</th>
          <td mat-cell *matCellDef="let element"> {{element.mdRR}} </td>
        </ng-container>

        <ng-container matColumnDef="ttKP">
          <th mat-header-cell *matHeaderCellDef width="200">T.Trạng khắc phục</th>
          <td mat-cell *matCellDef="let element"> {{element.ttKP}} </td>
        </ng-container>

        <ng-container matColumnDef="ttCham">
          <th mat-header-cell *matHeaderCellDef width="200">Tình trạng chấm</th>
          <td mat-cell *matCellDef="let element"> {{element.ttCham}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef width="200">Ghi chú</th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef width="200">Cập nhật</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editTimeKeeping(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <!--            <button mat-icon-button color="primary" type="button"-->
            <!--                    (click)="deleteCategoryArea(element)">-->
            <!--              <mat-icon>delete</mat-icon>-->
            <!--            </button>&nbsp;-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
  </kt-portlet-body>
</kt-portlet>
