<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{title}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>

  <form class="form" [formGroup]="browserForm">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Ngày mượn:</label>
              </div>
              <div class="col-8" style="display: flex">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-100"
                       placeholder="Chọn ngày">
              </div>

            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Cán bộ nhận CT:</label>
              </div>
              <div class="col-8">
                <input class="form-control" formControlName="appCode" placeholder="Nhập tên cán bộ nhân CT">
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right">KSS duyệt:</label>
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="status" readonly>
                  <option value="">Tất cả</option>
                  <option [value]="'A'">Đã duyệt</option>
                  <option [value]="'I'">Chưa duyệt</option>
                  <option [value]="'I'">Từ chối</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">Ngày dự kiến trả:</label>
              </div>
              <div class="col-8" style="display: flex">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-100"
                       placeholder="Chọn ngày">
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right ">CMTND/ID NV:</label>
              </div>
              <div class="col-8">
                <input class="form-control" formControlName="appCode" placeholder="Nhập số">
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-4">
                <label class=" col-form-label text-right">GĐ KSS duyệt:</label>
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="status" readonly>
                  <option value="">Tất cả</option>
                  <option [value]="'A'">Đã duyệt</option>
                  <option [value]="'I'">Chưa duyệt</option>
                  <option [value]="'I'">Từ chối</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row ">
          <div class="col-2">
            <label class=" col-form-label text-right ">Lý do mượn:</label>
          </div>
          <div class="col-10">
          <textarea class="form-control" id="note" style="height: auto; width: 100%"
                    placeholder="Mượn để điều chỉnh sai sót" readonly></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <label for="note">Ghi chú:</label>
          </div>
          <div class="col-10">
            <textarea class="form-control" id="note" style="height: auto; width: 100%"></textarea>
          </div>
        </div>
      </div>
    </div>
    <p><i>*Thông tin chứng từ cần mượn</i></p>
    <hr/>

    <div class="card-body">
      <div class="container-fluid">
        <div class="row form-group">
          <div class="col-3">
            <label class="col-form-label text-right">Bút toán cần mượn:</label>
          </div>
          <div class="col-3"  style="right: 65px;">
            <input placeholder="Nhập số bút toán cần mượn" type="text" class="form-control">
          </div>

          <div class="col-2"  style="right: 65px;">
            <label class=" col-form-label text-right " >Ngày chúng từ:</label>
          </div>
          <div class="col-3"   style="right: 65px;">
            <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-100"
                   placeholder="Chọn ngày">
          </div>
          <div class=" col-1 "  style="right: 36px;">
            <button mat-raised-button color="primary" type="button" (click)="addNew()"
                    style="height: auto; width: auto">
              <mat-icon>add_box</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="mat-table-wrapper-dashboard">
            <table mat-table [dataSource]="dataSurce2">
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>
                  STT
                </th>
                <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                  {{element.stt}}
                </td>
              </ng-container>
              <ng-container matColumnDef="need">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">
                  Bút toán cần mượn
                </th>
                <td mat-cell class="col-need" *matCellDef="let element">
                  {{element.need}}
                </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">
                  Ngày chứng từ
                </th>
                <td mat-cell class="col-date" *matCellDef="let element">
                  {{element.date}}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">
                  Thao tác
                </th>
                <td mat-cell class="col-center" *matCellDef="let element">
                  <button mat-icon-button color="primary" type="button">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
            <div class="form-group " style="display: flex; justify-content: center;">
              <div>
                <button type="button" mat-raised-button style="width: 120px" color="primary" (click)="onSubmit()"
                        [disabled]="browserForm.invalid">
                  <mat-icon>add_circle</mat-icon>
                  Duyệt
                </button>
              </div>
              <div>
                <button type="button" mat-raised-button style="width: 120px" [mat-dialog-close]="'close'"
                        cdkFocusInitial>
                  <i class="fas fa-times"></i> Đóng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
