<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>

  <form class="form" [formGroup]="borrowForm">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Nhóm ĐKNQ:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Định Kỳ</option>
                <option value="2">MĐSDV</option>
                <option value="3">Bán chéo</option>
                <option value="4">Bảo hiểm TSĐB</option>
                <option value="5">Định giá TSĐB</option>
                <option value="6">Quan hệ tín dụng</option>
                <option value="7">Tài chính</option>
                <option value="8">Pháp lý</option>
                <option value="9">BHNT</option>
                <option value="10">Khác</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Phương thức kiểm soát:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Bổ sung chứng từ</option>
                <option value="2">Hệ thống</option>
                <option value="3">Bổ sung chứng từ & Hệ thống</option>
              </select>  </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Tần suất:</label>
            </div>
            <div class="col-8">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-100"
                     placeholder="Chọn ngày">
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Chế tài:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" value="Chế tài">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group   row ">
        <div class="col-2">
          <label class=" col-form-label text-left required">Nội dung:</label>
        </div>
        <div class="col-10">
        <textarea class="form-control" id="note" style="height: auto; width: 100%"
                  placeholder="Nhập nội dung" ></textarea>
        </div>
      </div>
      <div class="form-group   row">
        <div class="col-2">
          <label for="note" class=" col-form-label text-left required">Ghi chú</label>
        </div>
        <div class="col-10">
          <textarea class="form-control" placeholder="Nhập ghi chú"  id="note" style="height: auto; width: 100%"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
            <i class="fas fa-times"></i> Đóng
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="borrowForm.invalid">
            <i class="far fa-save"></i> Phê duyệt
          </button>
        </div>
      </div>
    </div>
  </form>
  
</div>
