<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>

  <form class="form" [formGroup]="borrowForm">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Loại sản phẩm:</label>
            </div>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Sản phẩm công nghệ</option>
                <option value="2">Sản phẩm cơ khí</option>
                <option value="3">Điện gia dụng</option>
                
              </select>
            </div>
          </div>
          <div class="form-group row" >
            <div class="col-4">
              <label class=" col-form-label text-left required">Ngày bắt đầu tạo kỳ kiểm tra:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" type="date"> 
             </div>
          </div>
          <div class="form-group row" >
            <div class="col-4">
              <label class=" col-form-label text-left required">Ngày phải bổ sung CT:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode" type="date"> 
              </div>
          </div>

        </div>

        <div class="col-6">
          <div class="form-group row">
            <div class="col-4">
              <label class=" col-form-label text-left required">Tần suất:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control w-100"
                    >
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-4">
              <label class=" col-form-label text-left ">Tên chứng từ yêu cầu:</label>
            </div>
            <div class="col-8">
              <input class="form-control" formControlName="appCode">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group   row ">
        <div class="col-2">
          <label class=" col-form-label text-left required">Nội dung:</label>
        </div>
        <div class="col-10">
        <textarea class="form-control" id="note" style="height: auto; width: 100%"
                  placeholder="Nhập nội dung" ></textarea>
        </div>
      </div>
      <div class="form-group   row ">
        <div class="col-2">
          <label class=" col-form-label text-left">Chế tài:</label>
        </div>
        <div class="col-10">
        <textarea class="form-control" id="note" style="height: auto; width: 100%"
                  placeholder="Nhập nội dung" ></textarea>
        </div>
      </div>
      <div class="form-group   row">
        <div class="col-2">
          <label for="note" class=" col-form-label text-left required">Ghi chú</label>
        </div>
        <div class="col-10">
          <textarea class="form-control" placeholder="Nhập ghi chú"  id="note" style="height: auto; width: 100%"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
            <i class="fas fa-times"></i> Đóng
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="borrowForm.invalid">
            <i class="far fa-save"></i>Thêm mới
          </button>
        </div>
      </div>
    </div>
  </form>
  
</div>
