<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>
        Danh sách hợp đồng BH tái tục</span>
    </ng-container>

    <!--    <ng-container ktPortletTools>-->
    <!--      <button-->
    <!--        mat-raised-button-->
    <!--        color="primary"-->
    <!--        type="button"-->
    <!--        (click)="addNew()">-->
    <!--        <span>Thêm mới</span>-->
    <!--      </button>-->
    <!--    </ng-container>-->
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form class="form" [formGroup]="categoryForm">
      <div class="row form-group">
        <div class="col-10 w-100">
          <table class="w-100 ml-5">
            <tr *ngFor="let search of listTC; let i = index">
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                  <option [value]="'A'">Mã khách hàng</option>
                  <option [value]="'B'">Mã REF</option>
                  <option [value]="'C'">Số hợp đồng</option>
                  <option [value]="'D'">Sản phẩm</option>
                </select>
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">Toán tử</option>
                  <option [value]="'A'">EQ</option>
                  <option [value]="'B'">LIKE</option>
                </select>
              </td>
              <td colspan="3">
                <input type="text" class="form-control"
                       placeholder="Nhập thông tin tìm kiếm">
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">Kết hợp</option>
                  <option [value]="'A'">And</option>
                  <option [value]="'B'">Or</option>
                </select>
              </td>
              <td colspan="1">
                <button class="ml-5 float-right" mat-raised-button (click)="deleteNewCriteria(i)" color="primary" type="button"><i class="fas fa-minus"></i></button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-2">
          <button class="mr-5" mat-raised-button color="primary" type="button" (click)="addNewCriteria()"><i class="fas fa-plus"></i></button>
          <button mat-raised-button color="primary" type="button">Tìm kiếm</button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4 text-right mb-5">
        <button (click)=" deleteCategoryArea()" class="mr-5" mat-raised-button color="primary" type="button">Từ chối</button>
        <button mat-raised-button color="primary" type="button" (click)="approval()">Phê duyệt</button>
      </div>
    </div>
    <!-- end form search -->
    <div class="mat-table-wrapper" >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> STT </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Mã CN </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Tên CN </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Mã KH </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
           <!-- Symbol Column -->
           <ng-container matColumnDef="symbol2">
            <th mat-header-cell *matHeaderCellDef> Tên KH </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
          </ng-container>

             <!-- Symbol Column -->
        <ng-container matColumnDef="symbol3">
          <th mat-header-cell *matHeaderCellDef> Mã MD </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol3}} </td>
        </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="symbol4">
            <th mat-header-cell *matHeaderCellDef> Mã chi tiết TSĐB </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol4}} </td>
          </ng-container>

             <!-- Symbol Column -->
        <ng-container matColumnDef="symbol5">
          <th mat-header-cell *matHeaderCellDef> Ngày hết hạn bảo hiểm </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol5}} </td>
        </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol6">
                  <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                  <td mat-cell class="col-center width" *matCellDef="let element">
                    <a routerLink="/disbursement/edit-insurance"><mat-icon>create</mat-icon></a>
                    <button type="button" mat-icon-button color="primary" (click)=" deleteCategoryArea()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>

                </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<!--<div class="row">-->
<!--  <label class="col-2 col-form-label text-right" for="criteria">Tiêu chí</label>-->
<!--  <div class="col-4">-->
<!--    <select class="form-control" formControlName="" id="criteria">-->
<!--      <option value="" [defaultSelected]="true">Lựa chọn</option>-->
<!--      <option [value]="'A'">Mã khách hàng</option>-->
<!--      <option [value]="'B'">Mã REF</option>-->
<!--      <option [value]="'C'">Số hợp đồng</option>-->
<!--      <option [value]="'D'">Sản phẩm</option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <div class="col-2">-->
<!--    <select class="form-control" formControlName="">-->
<!--      <option value="" [defaultSelected]="true">Toán tử</option>-->
<!--      <option [value]="'A'">EQ</option>-->
<!--      <option [value]="'B'">LIKE</option>-->
<!--    </select>-->
<!--  </div>-->

<!--  <div class="col-2">-->
<!--    <select class="form-control" formControlName="">-->
<!--      <option value="" [defaultSelected]="true">Kết hợp</option>-->
<!--      <option [value]="'A'">And</option>-->
<!--      <option [value]="'B'">Or</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <label class="col-2 col-form-label text-right" for="info-search">Thông tin tìm kiếm</label>-->
<!--  <div class="col-4">-->
<!--    <input type="text" class="form-control" id="info-search" formControlName=""-->
<!--           required="Nhập thông tin tìm kiếm">-->
<!--  </div>-->
<!--  <label class="col-2 col-form-label text-right" for="info-search">Trạng thái</label>-->
<!--  <div class="col-2">-->
<!--    <select class="form-control" formControlName="">-->
<!--      <option value="" [defaultSelected]="true">Lựa chọn</option>-->
<!--      <option [value]="'A'">Đã phê duyệt</option>-->
<!--      <option [value]="'B'">Chờ phê duyệt</option>-->
<!--      <option [value]="'C'">Từ chối</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->

