<div class="container">
    <form [formGroup]="userForm" (ngSubmit)='onSubmit()'>
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img [src]="url" alt="AvatarUser">
                                    <div class="form-group">
                                        <input class="form-control-file" type="file" (change)="onFileSelected($event)" id="upload" hidden>
                                        <label for="upload" id="fileLabel"><i class="fa fa-upload fa-sm fa-2x" aria-hidden="true" style="color: #ff5f5f;"></i></label>
                                    </div>
                                </div>
                                <h5 class="user-name">{{userInfo?.fullname}}</h5>
                                <h6 class="user-email">{{userInfo?.email}}</h6>
                            </div>
                            <div class="about">
                                <h5 class="mb-2 text-primary">Số dư: {{userInfo?.balance}} VND</h5>
                                <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human
                                    experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 ">THÔNG TIN CÁ NHÂN</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Họ tên</label>
                                    <input type="text" class="form-control" formControlName="fullname">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text"  class="form-control" formControlName="phone">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text"class="form-control" formControlName="address">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input type="date" class="form-control"  formControlName="birthday">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <select class="form-control" formControlName="gender">
                                        <option value="0">Khác</option>
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-secondary">Cancel</button>&nbsp;
                                    <button type="button" (click)="onClick()" id="submit" name="submit"
                                        class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
