<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách bản ghi hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Mã khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Tên khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>MÃ REF</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Số tiền giải ngân</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Ngày giải ngân</strong></label>
          <div class="col-lg-7">
            <input type="date" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label"><strong>Ngày kiểm tra gần nhất</strong></label>
          <div class="col-lg-7">
            <input type="date" class="form-control">
          </div>
        </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Thời hạn kiểm tra định kỳ </strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>

<!-- thông tin nghị quyết -->

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
          <mat-icon>assignment</mat-icon>
        Thông tin cập nhật kết quả kiểm tra định kỳ
      </mat-panel-title>
    </mat-expansion-panel-header>
      <kt-portlet-body>
        <form action="#">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Mã LOS</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Hồ sơ thu nhập</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Hồ sơ thiếu</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Kết quả đánh giá</strong></label>
                <div class="col-lg-7">
                  <select class="form-control">
                    <option value="1">Lựa chọn</option>
                    <option value="2">Tuân thủ</option>
                    <option value="3">Trả về ĐVKD</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Lịch sử ghi chú</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Trạng thái</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option value="1">Lựa chọn</option>
                    <option value="2">Gian lận giả mạo</option>
                    <option value="3">Có dấu hiệu rủi ro</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Mức độ rủi ro</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option value="1">Lựa chọn</option>
                    <option value="2">Thấp</option>
                    <option value="3">Trung bình</option>
                    <option value="4">Cao</option>
                    <option value="5">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ngày kiểm tra</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ghi chú</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </kt-portlet-body>
  </mat-expansion-panel>
</mat-accordion>





