<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">

        <div class="search-container">
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="single-select-box w-100 mt-3 ">
                                <!-- select out date -->
                                <div class="boking-tittle">
                                    <span> Tỉnh/Thành Phố:</span>
                                </div>
                                <div class="rounded">

                                    <ng-autocomplete [data]="dataProvince" [searchKeyword]="keywordProvince"
                                        (selected)='selectProvice($event)' [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate"
                                        (inputChanged)='onChangeSearchProvice($event)'>
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="single-select-box w-100 mt-3">
                                <!-- select out date -->
                                <div class="boking-tittle">
                                    <span>Quận/Huyện:</span>
                                </div>
                                <div class="rounded">

                                    <ng-autocomplete [data]="dataDistrict" [searchKeyword]="keywordDistrict"
                                        (selected)='selectDistrict($event)' [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate"
                                        (inputChanged)='onChangeSearchDistrict($event)'>
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                            <!-- Single Select Box -->
                            <div class="single-select-box w-100 mt-3">
                                <div class="boking-tittle">
                                    <span>Xã/Phường:</span>
                                </div>
                                <div class="rounded">

                                    <ng-autocomplete [data]="dataWard" [searchKeyword]="keywordWard"
                                        (selected)='selectWard($event)' [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate"
                                        (inputChanged)='onChangeSearchWard($event)'>
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mt-3"> <button
                                    class="button rounded-pill primary-bg text-white w-100 btn_1  boxed-btn"
                                    type="submit">Tìm kiếm</button></div>

                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <div class="mt-3 border">
                            <mat-expansion-panel [expanded]="allExpandState">
                                <mat-expansion-panel-header>
                                    Loại phòng
                                </mat-expansion-panel-header>
                                <div class="checkbox" *ngFor="let category of categories; let i =index">
                                    <mat-checkbox value="{{category.categoryName}}" (click)="onSelect(category)">
                                        {{category?.name}}</mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                        </div>
                        <div class="mt-3 border">
                            <mat-expansion-panel [expanded]="allExpandState2">
                                <mat-expansion-panel-header>
                                    Diện tích
                                </mat-expansion-panel-header>
                                <div class="checkbox" *ngFor="let category1 of categories2; let i =index">
                                    <mat-checkbox value="{{category1.categoryName}}" (click)="onSelect2(category1)">
                                        {{category1?.name}}</mat-checkbox>

                                </div>
                            </mat-expansion-panel>
                        </div>
                        <div class="mt-3 border">
                            <div class="boking-tittle">
                                <span>Giá tiền:</span>
                            </div>
                            <npn-slider [min]="1000" [max]="5000" [minSelected]="2000" [maxSelected]="4000" [step]="500"
                                [showStepIndicator]="true">
                            </npn-slider>
                        </div>

                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Nhà trọ</h3>
                        <div class="row mt-3">
                            <div class="col-lg-4">Chung chủ</div>
                                <div class="col-lg-8">
                                    <select class="form-control form-control-lg ">
                                        <option>Có</option>
                                        <option>Không</option>
                                    </select>
                                </div>
                            </div>
                        <div class="row mt-3">
                            <div class="col-4 md">Khép kín</div>
                                <div class="col-8 md">
                                    <select class="form-control form-control-lg   ">
                                        <option>Có</option>
                                        <option>Không</option>
                                    </select>
                                </div>
                            </div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Nhà nguyên căn</h3>
                        <div class="row mt-3">
                            <div class="col-4 md">Phòng ngủ</div>
                            <div class="col-8 md "><input type="number" class="allinput rounded"/> </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-4 md">Nhà vệ sinh</div>
                            <div class="col-8 md" ><input type="number" class="allinput" /> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">Hướng nhà</div>
                                <div class="col-8 md">
                                    <select class="form-control form-control-lg ">
                                        <option>Đông</option>
                                        <option>Tây</option>
                                        <option>Nam</option>
                                        <option>Bắc</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row mt-3">
                                <div class="col-4 md">
                                    Tình trạng căn hộ
                                </div>
                                <div class="col-8 md">
                                    <select class="form-control form-control-lg">
                                        <option>Nhà mới</option>
                                        <option>Nhà mới sửa</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">Chiều ngang</div>
                            <div class="col-8 md "><input type="number" class="allinput"/> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">Chiều dài</div>
                            <div class="col-8 md "><input type="number" class="allinput"/> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">Số tầng</div>
                            <div class="col-8 md "><input type="number" class="allinput"/> </div>
                        </div>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Chung cư</h3>
                        
                            <div class="row mt-3">
                                <div class="col-4 md">Số phòng ngủ</div>
                                <div class="col-8 md "><input type="number" class="allinput" /> </div>
                            </div>
                      
                        <div class="row mt-3">
                            <div class="col-4 md">Số nhà vệ sinh</div>
                            <div class="col-8 md "><input type="number" class="allinput" /> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">
                                Hướng
                            </div>
                            <div class="col-8 md">
                                <select class="form-control form-control-lg">
                                    <option>Đông</option>
                                    <option>Tây</option>
                                    <option>Nam</option>
                                    <option>Bắc</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 md">
                                Vị trí tầng
                            </div>
                            <div class="col-8 md " >
                               <input type="number" class="allinput"/> 
                            </div>
                        </div>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="assets/assets/img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
            <div class="col-lg-8 mb-5 mb-lg-0" >
                <div class="blog_left_sidebar" *ngFor="let item of dataMotel">
                    
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ item.image !== '' ? item.image : 'assets/assets/img/blog/single_blog_2.png' }}" alt="" width="770px" height="385px">
                            <a href="#" class="blog_item_date">
                                <!-- <h3>15</h3> -->
                                <p>{{item.createdDateMotel | date:'short'}} </p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" [routerLink]="['/home/rooms-details']">
                                <h2>{{item.title}}</h2>
                            </a>
                            <div class="row">
                                <div class="col-12">
                                   <p> Địa chỉ : <i> {{item.street}} , {{item.wards}}  , {{item.district}} , {{item.province}}  </i></p>
                                  
                                </div>
                             
                            </div>
                            <p> Nhà mới full nội thất đẹp<br>
                                👉 Loại nhà : {{item.motelType == 1 ? 'Phòng trọ ' : ( item.motelTypr== 2 ? 'Chung cư' : 'Nhà nguyên căn' ) }} <br>

                                👉 Diện tích : {{item.acreageMin}} đến {{item.acreageMax}} <br>
                                👉 Giá : {{item.priceMin}} VND đến {{item.priceMax}} VND <br>
                                👉 Tiền cọc  : {{item.deposits}} VND <br>
                                👉 Ghi chú : {{item.description}} <br>item.contactPerson
                                👉 Người liên hệ : {{item.contactPerson}} <br>
                                Số điện thoại :  <span> {{item.contactPhone}} </span> </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> {{item.countView}} Views  </a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> {{item.countReport}} Report</a></li>
                            </ul>
                        </div>
                    </article>
                  
                </div>
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</section>
<!--================Blog Area =================-->