<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Khoản cấp tín dụng CBNV nghỉ việc</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="saveUpdate()"><i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>

  <!-- end::Header -->

  <!-- start::Body -->

  <kt-portlet-body>
    <div class="mat-wrapper">
      <div class="row">
        <label class="col-2 col-form-label text-right" for="sb-code">Mã SB</label>
        <div class="col-2">
          <input type="text" class="form-control" id="sb-code"
                 placeholder="Nhập mã SB"/>
        </div>

        <label class="col-2 col-form-label text-right" for="kh-code">Mã KH</label>
        <div class="col-2">
          <input type="text" class="form-control" id="kh-code"
                 placeholder="Nhập mã khách hàng"/>
        </div>

        <label class="col-2 col-form-label text-right" for="name-code">Tên KH</label>
        <div class="col-2">
          <input type="text" class="form-control" id="name-code"
                 placeholder="Nhập tên khách hàng"/>
        </div>

      </div>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<kt-portlet class="mt-10">
  <kt-portlet-header [class]="'card-head-lg bgr-custom'"
                     [icon]="'far fa-list-alt'" [title]="'Danh sách bản ghi hợp đồng'">
  </kt-portlet-header>
  <kt-portlet-body>
    <form class="form">
      <div class="row form-group m-auto" [formGroup]="formGroup">
        <label class="col-2 col-form-label text-right" for="customercode">Mã khách hàng</label>
        <div class="col-4">
          <select class="form-control" formControlName="" id="customercode">
            <option value="" [defaultSelected]="true">Lựa chọn</option>
            <option [value]="'A'">Thẻ</option>
            <option [value]="'I'">Thấu chi không tài sản</option>
            <option [value]="'B'">Thấu chi có TSĐB/Khoản vay</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right" for="performance-requirements">Yêu cầu thực hiện</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Yêu cầu thực hiện" id="performance-requirements"/>
        </div>

        <label class="col-2 col-form-label text-right" for="result">Kết quả</label>
        <div class="col-4">
          <select class="form-control" formControlName="" id="result">
            <option value="" [defaultSelected]="true">Lựa chọn</option>
            <option [value]="'A'">Đạt</option>
            <option [value]="'I'">Không đạt</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right" for="note">Ghi chú</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Ghi chú" id="note"/>
        </div>

        <label class="col-2 col-form-label text-right" for="note-history">Lịch sử ghi chú</label>
        <div class="col-10">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Lịch sử ghi chú" id="note-history"/>
        </div>
      </div>
    </form>
  </kt-portlet-body>
</kt-portlet>
