<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin tài sản đảm bảo</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addNew()">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form [formGroup]="assetForm">
      <div class="form-group row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Chi tiết TSBĐ: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Mô tả TS: </label>
            <div class="col-8">
              <input type = "date" class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Tần suất ĐG lại theo QĐ:</label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Tần suất định giá lại theo  PD: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Ngày kiểm tra gần nhất: </label>
            <div class="col-8">
              <input type="date" class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>

<kt-portlet class="mt-5">
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span><i class="far fa-hospital"></i> Thông tin cập nhật kết quả kiểm tra</span>
    </ng-container>
    <ng-container ktPortletTools>
      <i *ngIf="!upload" class="fas fa-angle-double-down" style="color: black" (click)="upload = !upload"></i>
      <i *ngIf="upload" class="fas fa-angle-double-up" style="color: black" (click)="upload = !upload"></i>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body *ngIf="upload">
    <form [formGroup]="assetForm">
      <div class="form-group row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Mã LOS: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Hồ sơ thu nhập: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Hồ sơ thiếu: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Kết quả đánh giá: </label>
            <div class="col-8">
              <select class="form-control"
                      formControlName="codeUnit">
                <option value="">Lựa chọn</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Trạng thái: </label>
            <div class="col-8">
              <select class="form-control"
                      formControlName="codeUnit">
                <option value="">Lựa chọn</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Mức độ rủi ro: </label>
            <div class="col-8">
              <select class="form-control"
                      formControlName="codeUnit">
                <option value="">Lựa chọn</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Ngày định giá lại: </label>
            <div class="col-8">
              <input type="date" class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Đơn vị đánh giá lại: </label>
            <div class="col-8">
              <input type="date" class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Số chứng thư định đánh giá:</label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Cán bộ định giá: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Giá trị thường: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Giá trị định giá lại: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Giá trị cho vay TĐ trên TSBĐ: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label text-right">Ghi chú: </label>
            <div class="col-8">
              <input class="form-control" formControlName="codeUnit" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Lịch sử ghi chú: </label>
        <div class="col-10">
          <input class="form-control" formControlName="codeUnit" placeholder="">
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
