<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : loading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{titleHeader}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mã nhóm lỗi:</label>
        <div class="col-4">
          <input type="text" formControlName="appCode" class="form-control" placeholder="Nhập mã nhóm lỗi"/>
          <div *ngIf="formGroup.controls.appCode.errors && (formGroup.controls.appCode.touched || formGroup.controls.appCode.dirty)" class="text-danger">
            <div *ngIf="formGroup.controls.appCode.errors.required"><span>Mã nhóm lỗi không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right required">Trạng thái</label>
        <div class="col-4">
          <select class="form-control"
                  formControlName="status">
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Tên nhóm lỗi:</label>
        <div class="col-10">
          <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên nhóm lỗi"/>
          <div *ngIf="formGroup.controls.appName.errors && (formGroup.controls.appName.touched || formGroup.controls.appName.dirty)" class="text-danger">
            <div *ngIf="formGroup.controls.appName.errors.required"><span>Tên nhóm lỗi không được để trống</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Ghi chú</label>
        <div class="col-10">
          <textarea class="form-control" formControlName="parentName" rows="3" placeholder="Nhập ghi chú"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()"><i class="far fa-save"></i>
            {{titleButton}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
