<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách bản ghi hợp đồng</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="saveUpdatePeriodically()"><i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>

  <!-- end::Header -->

  <!-- start::Body -->

  <kt-portlet-body>
    <div class="mat-wrapper">
      <div class="row">
          <label class="col-2 col-form-label text-right" for="customer-code">Mã khách hàng</label>
          <div class="col-4">
            <input type="text" class="form-control" id="customer-code"
                   placeholder="Nhập mã khách hàng"/>
          </div>

          <label class="col-2 col-form-label text-right" for="disbursement-date">Ngày giải ngân</label>
          <div class="col-4">
            <input type="date" class="form-control" id="disbursement-date"/>
          </div>

          <label class="col-2 col-form-label text-right" for="customer-name">Tên khách hàng</label>
          <div class="col-4">
            <input type="text" class="form-control" id="customer-name" placeholder="Nhập tên khách hàng"/>
          </div>

          <label class="col-2 col-form-label text-right" for="latest-inspection-date">Ngày kiểm tra gần nhất</label>
          <div class="col-4">
            <input type="text" class="form-control" id="latest-inspection-date" placeholder="Nhập ngày kiểm tra gần nhất"/>
          </div>

          <label class="col-2 col-form-label text-right" for="code-ref">Mã REF</label>
          <div class="col-4">
            <input type="text" class="form-control" id="code-ref" placeholder="Nhập mã REF"/>
          </div>

          <label class="col-2 col-form-label text-right" for="period-of-periodic-inspection">Thời hạn kiểm tra định kỳ</label>
          <div class="col-4">
            <input type="text" class="form-control" id="period-of-periodic-inspection"
                   placeholder="Nhập thời hạn kiểm tra định kỳ"/>
          </div>

          <label class="col-2 col-form-label text-right" for="disbursement-amount">Số tiền giải ngân</label>
          <div class="col-4">
            <input type="text" class="form-control" id="disbursement-amount" placeholder="Nhập số tiền giải ngân"/>
          </div>
      </div>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<kt-portlet class="mt-10">
  <kt-portlet-header (click)="collapser = !collapser" [class]="'card-head-lg bgr-custom'"
                     [icon]="'far fa-list-alt'" [title]="'Thông tin kết quả cập nhập kiểm tra định kỳ'">
    <ng-container ktPortletTools>
      <i [hidden]="collapser" class="fas fa-angle-double-down"></i>
      <i [hidden]="!collapser" class="fas fa-angle-double-up"></i>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body [hidden]="!collapser">
    <form class="form">
      <div class="row form-group m-auto" [formGroup]="formGroup">
        <label class="col-2 col-form-label text-right" for="los-code">Mã LOS</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control" id="los-code"
                 placeholder="Mã LOS"/>
        </div>

        <label class="col-2 col-form-label text-right" for="status">Trạng thái</label>
        <div class="col-4">
          <select class="form-control" formControlName="" id="status">
            <option value="" [defaultSelected]="true">Lựa chọn</option>
            <option [value]="'A'">Có dấu hiệu rủi ro</option>
            <option [value]="'I'">Gian lận giả mạo</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right" for="profile-collected">Hồ sơ thu thập</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Hồ sơ thu thập" id="profile-collected"/>
        </div>

        <label class="col-2 col-form-label text-right" for="risk-level">Mức độ rủi ro</label>
        <div class="col-4">
          <select class="form-control" formControlName="rickLevel" id="risk-level">
            <option value="" [defaultSelected]="true">Lựa chọn</option>
            <option [value]="'RL01'">Cao</option>
            <option [value]="'RL02'">Trung Bình</option>
            <option [value]="'RL03'">Thấp</option>
            <option [value]="'RL04'">Không</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right" for="profile-missing">Hồ sơ thiếu</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Hồ sơ thiếu" id="profile-missing"/>
        </div>

        <label class="col-2 col-form-label text-right" for="test-day">Ngày kiểm tra</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Ngày kiểm tra" id="test-day"/>
        </div>

        <label class="col-2 col-form-label text-right" for="result-of-evaluation">Kết quả đánh giá</label>
        <div class="col-4">
          <select class="form-control" formControlName="" id="result-of-evaluation">
            <option value="" [defaultSelected]="true">Lựa chọn</option>
            <option [value]="'A'">Trả về ĐVKD</option>
            <option [value]="'I'">Tuân thủ</option>
          </select>
        </div>

        <label class="col-2 col-form-label text-right" for="note">Ghi chú</label>
        <div class="col-4">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Ghi chú" id="note"/>
        </div>

        <label class="col-2 col-form-label text-right" for="note-history">Lịch sử ghi chú</label>
        <div class="col-10">
          <input type="text" formControlName="" class="form-control"
                 placeholder="Lịch sử ghi chú" id="note-history"/>
        </div>
      </div>
    </form>
  </kt-portlet-body>
</kt-portlet>
