<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : loading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{titleHeader}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Mã điều kiện</label>
        <div class="col-2">
          <input type="text" formControlName="appCode" class="form-control" placeholder="Nhập mã điều kiện"/>
          <div *ngIf="formGroup.controls.appCode.errors && (formGroup.controls.appCode.touched || formGroup.controls.appCode.dirty)" class="text-danger">
            <div *ngIf="formGroup.controls.appCode.errors.required"><span>Mã điều kiện không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right required">Tên điều kiện</label>
        <div class="col-2">
          <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên điều kiện"/>
          <div *ngIf="formGroup.controls.appName.errors && (formGroup.controls.appName.touched || formGroup.controls.appName.dirty)" class="text-danger">
            <div *ngIf="formGroup.controls.appName.errors.required"><span>Tên điều kiện không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right">Phân khúc</label>
        <div class="col-2">
          <select class="form-control" formControlName="parentCode">
            <option value="" [defaultSelected]="true">--Chọn--</option>
            <option [value]="'KHDN'">KHDN</option>
            <option [value]="'KHCN'">KHCN</option>
          </select>
          <div *ngIf="formGroup.controls.parentCode.errors && (formGroup.controls.parentCode.touched || formGroup.controls.parentCode.dirty)" class="text-danger">
            <div *ngIf="formGroup.controls.parentCode.errors.required"><span>Phân khúc không được để trống</span></div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mô tả</label>
        <div class="col-10">
          <textarea class="form-control" formControlName="describe" rows="3" placeholder="Nhập mô tả"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()"><i class="far fa-save"></i>
            {{titleButton}}
          </button>

          <button type="button" class="ml-15" mat-raised-button color="primary" [mat-dialog-close]>
            <i class="fas fa-times"></i>Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
