<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="unitForm">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Mã đơn vị</label>
        <div class="col-4">
          <input type="text" formControlName="appCode" class="form-control" placeholder="Nhập mã đơn vị"/>
          <div *ngIf="f.appCode.errors && (f.appCode.touched || f.appCode.dirty)" class="text-danger">
            <div *ngIf="f.appCode.errors.required"><span>Mã đơn vị không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right ">email</label>
        <div class="col-4">
          <input type="text" formControlName="email" class="form-control" placeholder="Nhập email"/>
<!--          <div *ngIf="f.appCode.errors && (f.appCode.touched || f.appCode.dirty)" class="text-danger">-->
<!--            <div *ngIf="f.appCode.errors.required"><span>Mã khu vực không được để trống</span></div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Tên đơn vị</label>
        <div class="col-4">
          <input type="text" formControlName="appName" class="form-control" placeholder="Nhập tên đơn vị"/>
          <div *ngIf="f.appName.errors && (f.appName.touched || f.appName.dirty)" class="text-danger">
            <div *ngIf="f.appName.errors.required"><span>Tên đơn vị không được để trống</span></div>
          </div>
        </div>
        <label class="col-2 col-form-label text-right">Trạng thái</label>
        <div class="col-4">
          <select class="form-control"
                  formControlName="active">
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>

          </select>
          <div *ngIf="f.active.errors && (f.active.touched || f.active.dirty)" class="text-danger">
            <div *ngIf="f.active.errors.required"><span>Trạng thái không được để trống</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right required">Khu vực</label>
        <div class="col-4">
          <select class="form-control" formControlName="area">
            <option value="">--Chọn--</option>
            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
          </select>
        </div>
        <label class="col-2 col-form-label text-right ">Nhân viên</label>
        <div class="col-4">
          <input type="text" formControlName="nameEmployee" class="form-control" placeholder="Nhập tên nhân viên"/>
<!--          <div *ngIf="f.appCode.errors && (f.appCode.touched || f.appCode.dirty)" class="text-danger">-->
<!--            <div *ngIf="f.appCode.errors.required"><span>Mã khu vực không được để trống</span></div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div class="text-center">
<!--          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>-->
<!--            Đóng-->
<!--          </button>&nbsp;-->
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="unitForm.invalid">
            <i class="far fa-save"></i> {{titleButton}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
