<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách bản ghi hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Mã khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Tên khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>MÃ MD</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Giá trị MD</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Chi tiết TSBĐ</strong></label>
          <div class="col-lg-7">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label"><strong>Mô tả TS</strong></label>
          <div class="col-lg-7">
            <input type="text" class="form-control">
          </div>
        </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Tần suất</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Loại bảo hiểm</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Ngày hết hạn bảo hiểm</strong></label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>

<!-- thông tin nghị quyết -->

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
          <mat-icon>assignment</mat-icon>
        Thông tin cập nhật bảo hiểm tái túc
      </mat-panel-title>
    </mat-expansion-panel-header>
      <kt-portlet-body>
        <form action="#">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Mã LOS</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ngày bổ sung hồ sơ bảo hiểm</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Chứng từ gửi</strong></label>
                <div class="col-lg-7">
                  <select class="form-control">
                    <option>Lựa chọn</option>
                    <option value="Nghạch 1">Nghạch 1</option>
                    <option value="Nghạch 2">Nghạch 2</option>
                    <option value="Nghạch 3">Nghạch 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Chứng từ thiếu</strong></label>
                <div class="col-lg-7">
                  <select class="form-control">
                    <option>Lựa chọn</option>
                    <option value="Nghạch 1">Nghạch 1</option>
                    <option value="Nghạch 2">Nghạch 2</option>
                    <option value="Nghạch 3">Nghạch 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Kết quả đánh giá</strong></label>
                <div class="col-lg-7">
                  <select class="form-control">
                    <option>Lựa chọn</option>
                    <option value="Tuân thủ">Tuân thủ</option>
                    <option value="Trả về ĐVKD/Vi phạm">Trả về ĐVKD/Vi phạm</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Trạng thái</strong></label>
                <div class="col-lg-7">
                  <select class="form-control">
                    <option>Lựa chọn</option>
                    <option value="Gian lận giả mạo">Gian lận giả mạo</option>
                    <option value="Có dấu hiệu rủi ro">Có dấu hiệu rủi ro</option>
                    <option value="Không">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Mức độ rủi ro</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option >Lựa chọn</option>
                    <option value="Thấp">Thấp</option>
                    <option value="Trung bình">Trung bình</option>
                    <option value="Cao">Cao</option>
                    <option value="Không">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Trạng thái BH</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option>Lựa chọn</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Công ty BH</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option value="null">Lựa chọn</option>
                    <option value="BH.AAA">BH.AAA</option>
                    <option value="BH.BAOLONG">BH.BAOLONG</option>
                    <option value="BH.BAOMINH">BH.BAOMINH</option>
                    <option value="BH.BAOVIET">BH.BAOVIET</option>
                    <option value="BH.BIDV.BIC">BH.BIDV.BIC</option>
                    <option value="BH.BUUDIEN.PTI">BH.BUUDIEN.PTI</option>
                    <option value="BH.DAUKHI.PVI">BH.DAUKHI.PVI</option>
                    <option value="BH.FUBON.VN">BH.FUBON.VN</option>
                    <option value="BH.HANGKHONG">BH.HANGKHONG</option>
                    <option value="BH.KHAC">BH.KHAC</option>
                    <option value="BH.LIBERTY">BH.LIBERTY</option>
                    <option value="BH.LIENHIEP.UIC">BH.LIENHIEP.UIC</option>
                    <option value="BH.NGANHANGNONGNGHIEP.ABIC">BH.NGANHANGNONGNGHIEP.ABIC</option>
                    <option value="BH.QUANDOI">BH.QUANDOI</option>
                    <option value="BH.SHBVINACOMIN.SVIC">BH.SHBVINACOMIN.SVIC</option>
                    <option value="BH.TOANCAU">BH.TOANCAU</option>
                    <option value="BH.VIENDONG">BH.VIENDONG</option>
                    <option value="BH.XANGDAU.PJICO">BH.XANGDAU.PJICO</option>
                    <option value="BH.XUANTHANH">BH.XUANTHANH</option>
                    <option value="SEABANK">SEABANK</option>
                    <option value="VCLI">VCLI</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Số tiền BH</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Loại BH</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option value="null">Lựa chọn</option>
                    <option value="1.BH cho HH van chuyen bang dg bien">1.BH cho HH van chuyen bang dg bien</option>
                    <option value="2.BH cho HH van chuyen bang dg bo">2.BH cho HH van chuyen bang dg bo</option>
                    <option value="3.BH cho HH v.chuyen= dg thuy noi d">3.BH cho HH v.chuyen= dg thuy noi d</option>
                    <option value="4.BH cho HH van chuyen = dg sat">4.BH cho HH van chuyen = dg sat</option>
                    <option value="5.BH cho HH v.chuyen =dg Hang khong">5.BH cho HH v.chuyen =dg Hang khong</option>
                    <option value="6.BH than tau bien">6.BH than tau bien</option>
                    <option value="7.BH than tau song">7.BH than tau song</option>
                    <option value="8.BH than tau ca">8.BH than tau ca</option>
                    <option value="9.BH hoa hoan va cac RR d.biet HH">9.BH hoa hoan va cac RR d.biet HH</option>
                    <option value="10.BH XD va lap dat cho cong trinh">10.BH XD va lap dat cho cong trinh</option>
                    <option value="11.BH thiet hai vat chat xe co gioi">11.BH thiet hai vat chat xe co gioi</option>
                    <option value="12.BH may moc va thiet bi dien tu">12.BH may moc va thiet bi dien tu</option>
                    <option value="13.BH than may bay va phu tung mbay">13.BH than may bay va phu tung mbay</option>
                    <option value="14.BH nha tu nhan">14.BH nha tu nhan</option>
                    <option value="15.BH chong chay no">15.BH chong chay no</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ngày bắt đầu BH</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ngày kết thúc BH</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Insur remarks</strong></label>
                <div class="col-lg-7">
                  <select class="form-control" >
                    <option value="1">Lựa chọn</option>
                    <option value="GSSG TOOL">GSSG TOOL</option>
                    <option value="GSSGN TOOL 2">GSSGN TOOL 2</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ghi chú</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Lịch sử ghi chú</strong></label>
                <div class="col-lg-7">
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </kt-portlet-body>
  </mat-expansion-panel>
</mat-accordion>





