
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Lưu kho chứng từ</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addNew()">
<mat-icon class="mt-2">add_circle</mat-icon> Thêm mới
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
<kt-portlet>
  <!-- end::Header -->
  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-xl-4">
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Miền</label>
            <div class="col-lg-8">
                <select class="form-control">
                  <option>[Tất cả]</option>
                  <option value="1">Miền Bắc</option>
                  <option value="2">Miền Trung</option>
                  <option value="3">Miền Nam</option>
                </select>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-lg-4 col-form-label">Mã thùng </label>
            <div class="col-lg-8">
              <input type="text" class="form-control" placeholder="Nhập mã thùng">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Cán bộ  quản lý</label>
            <div class="col-lg-8">
              <select class="form-control">
                <option>[Tất cả]</option>
                <option value="1">Đơn vị 1</option>
                <option value="2">Đơn vị 2</option>
                <option value="3">Đơn vị 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Khu vực</label>
            <div class="col-lg-8">
              <select class="form-control">
                <option>[Tất cả]</option>
                <option value="1"> Hà Nội 1</option>
                <option value="2">Hà Nội 2</option>
                <option value="3">Hải Phòng</option>
                <option value="3">Hải Dương</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Ngày lưu kho</label>
            <div class="col-lg-8">
              <input type="date" class="form-control" placeholder="Nhập ngày">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Từ ngày</label>
            <div class="col-lg-8">
              <input type="date" class="form-control" placeholder="Nhập ngày">
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Đơn vị</label>
            <div class="col-lg-8">
              <select class="form-control">
                <option>[Tất cả]</option>
                <option value="1"> Trần Duy Hưng</option>
                <option value="2">Thanh Xuân</option>
                <option value="3">Nguyễn Ngọc Nại</option>
                <option value="3">Hải Dương</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label"> Điểm lưu kho</label>
            <div class="col-lg-8">
              <select class="form-control">
                <option>[Tất cả]</option>
                <option value="1"> kho sài đồng</option>
                <option value="2">Kho Phố Huế </option>
                <option value="3">Kho Crown</option>
                <option value="3">Khác</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label">Từ ngày</label>
            <div class="col-lg-8">
              <input type="date" class="form-control" placeholder="Nhập ngày">
            </div>
          </div>
          <div class="form-group row ">
              <div class="col-12 text-right">
                <button mat-raised-button type="submit"  color="primary">
                  <i class="fas fa-search"></i>Tìm kiếm
                </button>&nbsp;
              </div>
          </div>
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"  class="text-center">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Khu vực </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Miền </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="ngaygiaingan">
              <th mat-header-cell *matHeaderCellDef>Mã thùng </th>
              <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="ngaydenhan">
              <th mat-header-cell *matHeaderCellDef > Tổng số tập </th>
              <td mat-cell  *matCellDef="let element"> {{element.ngaydenhan}} </td>
            </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="tungay">
                <th mat-header-cell *matHeaderCellDef> Từ ngày </th>
                <td mat-cell *matCellDef="let element"> {{element.tungay}} </td>
              </ng-container>
                 <!-- Weight Column -->
            <ng-container matColumnDef="ngayden">
              <th mat-header-cell *matHeaderCellDef> Đến ngày </th>
              <td mat-cell *matCellDef="let element"> {{element.ngayden}} </td>
            </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="canbo">
                <th mat-header-cell *matHeaderCellDef> Cán bộ quản lý </th>
                <td mat-cell *matCellDef="let element"> {{element.canbo}} </td>
              </ng-container>
                      <!-- Weight Column -->
                      <ng-container matColumnDef="ngaylu">
                        <th mat-header-cell *matHeaderCellDef > Ngày lưu kho </th>
                        <td mat-cell *matCellDef="let element"> {{element.ngaylu}} </td>
                      </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Thao tác</th>
              <td mat-cell class="col-center width" *matCellDef="let element" >
                  <a routerLink="/check-document/add-license" > <mat-icon>create</mat-icon></a>
                  <a routerLink="/check-document/check-license"> <mat-icon>check</mat-icon></a>
                <button type="button" mat-icon-button color="primary" (click)=" deleteCategoryArea()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->
