<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <span>Báo cáo thông tin lưu trữ BC lỗi</span>
        </ng-container>

        <ng-container ktPortletTools>
            <button mat-raised-button color="primary" type="button" class="mr-4">
                <span><i class="fas fa-print mr-2 text-light"></i>In</span>
            </button>
            <button mat-raised-button color="primary" type="button">
                <span><i class="fas fas fa-file-excel  mr-2 text-light"></i>Xuất Excel</span>
            </button>
        </ng-container>
    </kt-portlet-header>
    <form class="form">
        <div class="row form-group  px-10 mt-5">
            <div class="row col-md-6 col-xxl-4 ">
              
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Miền</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>

                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Từ ngày</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control ">
                    </div>
                </div>
               
            </div>
            <div class="row col-md-6 col-xxl-4  ">
                <div class="row w-100 ">
                    <label class="col-md-4 col-form-label " for="input-error-code">Khu vực</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>

                </div>
                <div class="row w-100 mt-4">
                    <label class="col-md-4 col-form-label " for="input-error-code">Đến ngày</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control ">
                    </div>
                </div>

            </div>
            <div class="row col-md-6 col-xxl-4 ">
                <div class="row w-100 ">
                    <label class="col-md-4 col-form-label " for="input-error-code">Đơn vị</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">--Chọn--</option>
                            <option *ngFor="let data of dataArea" value="{{data.appCode}}"> {{data.appName}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-md-end pl-0 pr-8 mt-sm--4 align-items-center">
            <button type="submit" mat-raised-button color="primary">
                <i class="fas fa-search text-light mr-2"></i>Xuất BC
            </button>
        </div>

    </form>
    <!-- end form search -->

    <!-- end::Header -->

    <kt-portlet-body>
        <table class="custom-table w-100">
            <tr>
              <th>STT</th>
              <th>Đơn vị</th>
              <th>Tháng báo cáo</th>
              <th>User KSS xác nhận</th>
              <th>Thời gian xác nhận</th>
              <th>User đơn vị xác nhận</th>
              <th>Thời gian đơn vị xác nhận</th>
              <th>Trạng thái</th>
            </tr>
            <tr>
              <td></td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>11/21/2020</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>
<router-outlet></router-outlet>
