<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách bộ chừng từ</h3>
        </div>
        <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
    <div class="p-10 overflow-auto row flex-column" >
        <div class="row justify-content-md-between w-100 ">
            <div class="row col-md-6">
                <label class="col-md-4 col-form-label  " for="input-error-code">Mã số tập CT</label>
                <div class="col-md-8 ">
                    <input class="form-control " />
                </div>
            </div>
            <div class="col-md-2"><a  href="#">Tải file mẫu</a></div>
            
        </div>
        <div class="row mt-4 w-100">
            <label class="col-md-2 col-form-label  mr-1 " for="input-error-code"> Ghi chứ</label>
            <div class="col-md-6 px-md-0">
                <input class="form-control " />
            </div>
        </div>
        <div class="row mt-4  ">
            <div class="row col-md-6">
                <label class="col-md-4 col-form-label " for="input-error-code">User giao</label>
                <div class="col-md-8">
                    <input class="form-control" type="date" placeholder="Nhận tên User">
                </div>
            </div>
            <div>
            <input class="col-md-6"type="file"  color="primary">
        </div>
        </div>
    </div>
</div>