<mat-tab-group>
  <mat-tab label="Điều kiện nghị quyết">
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Nhóm ĐKNQ </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Ngày Phê duyệt Nghị quyết </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Thời hạn kiểm tra </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Mã LOS </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Hồ sơ nhận </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="hosothieu">
            <th mat-header-cell *matHeaderCellDef> Hồ sơ thiếu </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mucdoruiro">
            <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaytrenbienban">
            <th mat-header-cell *matHeaderCellDef> Ngày trên biên bản </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="ketquadanhgia">
              <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
              <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
            </ng-container>
  
            <!-- Weight Column -->
            <ng-container matColumnDef="trangthai">
              <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
              <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
            </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell class="col-center" *matCellDef="let element">
              
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDKNQ"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDKNQ;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div> 
    </div>
  </mat-tab>
  <mat-tab label="Điều kiện doanh thu">
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Hồ sơ nhận </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Hồ sơ thiếu </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Tỷ lệ kiểm tra lộ trình </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="hosothieu">
            <th mat-header-cell *matHeaderCellDef> Doanh số trong kỳ đánh giá GSSGN(ĐV: tỷ đồng) </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mucdoruiro">
            <th mat-header-cell *matHeaderCellDef> Dòng tiền thực hiện(10) </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaytrenbienban">
            <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell class="col-center" *matCellDef="let element">
              
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDKDT"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDKDT;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div> 
    </div>
  </mat-tab>
  <mat-tab label="Điều kiện sản phẩm">
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Kết quả đánh giá </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Mức độ rủi ro </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Ngày trên biên bản </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="hosothieu">
            <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          

          <tr mat-header-row *matHeaderRowDef="displayedDKSP"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDKSP;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div> 
    </div>
  </mat-tab>

</mat-tab-group>