<kt-portlet>
  <kt-portlet-header class="card-head-lg">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span>Thêm mới giao chứng từ</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" (click)="save()" type="button">
        <span><i class="far fa-save mr-2 text-light"></i>Lưu</span>

      </button>
    </ng-container>
  </kt-portlet-header>
  <form class="form px-12" [formGroup]="deliveryForm" >
    <div class="row">
      <div class="row col-md-5 mt-4 ">
        <label class="col-md-4 col-form-label " for="input-error-code">Hình thức giao</label>
        <div class="col-md-7">
          <select class="form-control" formControlName="modeDelivery">
            <option value="">--Chọn--</option>
            <option *ngFor="let data of listModeDelivery" > {{data}}</option>
          </select>
        </div>
      </div>
      <div class="row col-md-5 mt-4 " *ngIf="this.f.modeDelivery.value==='Nộp qua đơn vị vận chuyển'">
        <label class="col-md-4 col-form-label " for="input-error-code">ĐV vận chuyển</label>
        <div class="col-md-7">
          <select class="form-control" formControlName="unitTrans">
            <option value="">--Chọn--</option>
            <option *ngFor="let data of dataTrans" value="{{data}}"> {{data}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row col-md-5 mt-4">
        <label class="col-md-4 col-form-label " for="input-error-code">Đề xuất gia hạn</label>
        <div class="col-md-7">
          <select class="form-control" formControlName="proposalRenewal">
            <option value="">--Chọn--</option>
            <option *ngFor="let data of dataDx" value="{{data}}"> {{data}}</option>
          </select>
          
        </div>
      </div>
      <div class="row col-md-5  mt-4" *ngIf="this.f.proposalRenewal.value==='Có'">
        <label class="col-md-4 col-form-label " for="input-error-code">Số ngày gia hạn </label>
        <div class="col-md-7">
          <input class="form-control "  formControlName="proExtendDay"/>
        </div>
      </div>
    </div>
    <div class=" row mt-4" *ngIf="this.f.proposalRenewal.value==='Có'">
      <label class="col-md-2 col-form-label " for="input-error-code">Lý do gia hạn</label>
      <div class="col-md-7">
        <input class="form-control " formControlName="extendReason" style="height: 50px;" />
      </div>
    </div>
    <div class="row  mt-4">
      <label class="col-md-2 col-form-label " for="input-error-code">Ghi chú</label>
      <div class="col-md-7">
        <input class="form-control " formControlName="extendStatus"  style="height: 50px;" />
      </div>
    </div>
    <div class="row col-md-12  pl-md-20">
      <div class="col-md-3 mt-4 px-md-0">
        <input class="form-control " placeholder="Nhập từ ngày CT" type="date" formControlName="slipFromDate" />
      </div>

      <div class="col-md-3 mt-4 pr-md-0">
        <input class="form-control" placeholder="Nhập đến ngày Ct" type="date"  formControlName="slipToDate"/>
      </div>
      <div class="col-md-1 mt-4 pr-md-0">
        <input class="form-control " placeholder="3" formControlName="fileCount"
        />
      </div>
      <div class="col-md-2 mt-4 pr-md-0 ">
        <select class="form-control" formControlName="slipType">
          <option value="">Loại CT</option>
          <option *ngFor="let data of listType" value="{{data}}"> {{data}}</option>
        </select>
      </div>
      <div class="col-md-2 mt-3 pr-md-0">
        <input class="form-control " placeholder="Nhập ghi chú" formControlName="note" />
      </div>
      <div  class="col-md-1 pr-md-0 mt-3 text-right">
      <button mat-raised-button color="primary" (click)="addToTable()">
        <i class="fas fa-plus fa-2x text-light"></i>
      </button>
    </div>
    </div>
  </form>
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource" *ngIf="!loading">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
            {{element.stt}}</td>
        </ng-container>

        <ng-container matColumnDef="dateDelivery ">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Ngày giao</th>
          <td mat-cell *matCellDef="let element"> {{element.dateDelivery }} </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày CT</th>
          <td mat-cell *matCellDef="let element"> {{element.slipFromDate}} </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày CT</th>
          <td mat-cell *matCellDef="let element"> {{element.slipToDate}} </td>
        </ng-container>
        >
        <ng-container matColumnDef="numberDocument">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Số tập
          </th>
          <td mat-cell *matCellDef="let element"> {{element.numberDocument}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Loại CT
          </th>
          <td mat-cell *matCellDef="let element"> {{element.slipType}} </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ghi chú
          </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="primary" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<!-- <router-outlet></router-outlet> -->