<div class="card card-custom" style="box-shadow: unset !important;">
  <div class="card-header">
    <div class="card-title">
      <div class="input-icon input-icon-right">
        <input type="text" [(ngModel)]="filterInput" class="form-control" placeholder="Search..." (ngModelChange)="filter()"/>
        <span>
            <i *ngIf="!filterInput && filterInput.trim().length == 0"
               class="flaticon2-search-1 icon-md"></i>
            <i *ngIf="filterInput && filterInput.trim().length > 0"
               (click)="clear()"
               class="flaticon2-cross icon-sm" style="cursor: pointer;"></i>
          </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" *ngFor="let row of iconsData">
      <div class="col-md-2 d-flex align-items-stretch" *ngFor="let col of row">
        <div class="d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded" (click)="selectIcon(col)">
          <div class="mr-4 flex-shrink-0 text-center" style="width: 40px;">
            <i class="icon-2x text-dark-50" [ngClass]="col"></i>
          </div>
          <div class="text-muted">{{col}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>
          Cancel
        </button>&nbsp;
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="menuForm.invalid">
          Save
        </button>
      </div>
    </div>
  </div>-->
</div>
