//
// Breadcrumb
//


.breadcrumb {
    align-items: center;

    .breadcrumb-item {
        a {
            display: flex;
            align-items: center;
            font-weight: 400;
        }

        &.active,
        &:hover {
            i,
            a {
                transition: $transition-link;
                color: $primary !important;
            }
        }
    }

    &.breadcrumb-transparent {
        background-color: transparent;
        border-radius: 0;
    }

    &.breadcrumb-dot {
        .breadcrumb-item {
            display: flex;
            align-items: center;

            &:before {
                display: none;
            }

            &:after {
                content: "";  
                border-color: transparent $gray-400;  
                border-style: solid;  
                border-width: 0.4em 0 0.4em 0.45em;  
                display: block;  
                height: 0;  
                width: 0;  
                position: relative;  
                // display: block;
                // content: " ";
    			// width: 4px;
    			// height: 4px;
    			// border-radius: 4px;
    			// background: $gray-400;
    			margin-left: $breadcrumb-item-padding;
            }

            &:last-child {
                &:after {
                    display: none;
                }
                .text-muted {
                    color: $black !important;
                }
            }
        }
    }
}
