//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Override primary color variants
$primary:       									#C6241E;
$primary-hover:    									#C6241E;
$primary-light:    									#E1F0FF;
$primary-inverse:  									#FFFFFF;

#kt_aside_menu_wrapper { 
  box-shadow: 15px 0px 27px 0px rgba(82, 63, 105, 0.08);
}