<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup]="signupForm" (ngSubmit)='onSubmit()'>
			<p class="title">Đăng Ký</p>
			<span>Đã có tài khoản mời <a [routerLink]="['/login']">Đăng nhập</a></span>
			<input type="text" formControlName='username' name='username' placeholder="Tên tài khoản" />
			<span *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched">
				<span *ngIf="signupForm.get('username').hasError('required')" class="error-message">
					Tên tài khoản không được để trống !
				</span>
				<span
					*ngIf="signupForm.get('username').hasError('minlength') || signupForm.get('username').hasError('maxlength')"
					class="error-message">
					Tên tài khoản phải có từ 6 đến 16 ký tự !
				</span>
				<span *ngIf="signupForm.get('username').hasError('pattern')" class="error-message" role="alert">
					Tên tài khoản chỉ bao gồm số, chữ và dấu gạch dưới (_)
				</span>
			</span>
			<input type="email" formControlName='email' name='email' placeholder="Email" />
			<span *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
				<span *ngIf="signupForm.get('email').hasError('required')" class="error-message">
					Email không được để trống !
				</span>
				<span
					*ngIf="signupForm.get('email').hasError('minlength') || signupForm.get('email').hasError('maxlength')"
					class="error-message">
					Email phải có từ 6 đến 50 ký tự !
				</span>
				<span *ngIf="signupForm.get('email').hasError('pattern')" class="error-message" role="alert">
					Định dang email không chính xác ! ('account@gmail.com') !
				</span>
			</span>
			<input type="password" formControlName='password' name='password' placeholder="Mật khẩu" />
			<span *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
				<span *ngIf="signupForm.get('password').hasError('required')" class="error-message">
					Mật khẩu không được để trống !
				</span>
				<span
					*ngIf="signupForm.get('password').hasError('minlength') || signupForm.get('password').hasError('maxlength')"
					class="error-message">
					Mật khẩu phải có từ 6 đến 20 ký tự !
				</span>
				<span *ngIf="signupForm.get('password').hasError('pattern')" class="error-message" role="alert">
					Mật khẩu chỉ bao gồm số và chữ !
				</span>
			</span>
			<input type="password" formControlName="repassword" placeholder="Nhập lại mật khẩu" />
			<span *ngIf="signupForm.get('repassword').invalid && signupForm.get('repassword').touched">
				<span *ngIf="signupForm.get('repassword').hasError('confirmedValidator')" class="error-message">
					Xác nhận mật khẩu không chính xác !
				</span>
			</span>
			<input type="text" formControlName='fullname' name='fullname' placeholder="Họ tên của bạn" />
			<span *ngIf="signupForm.get('fullname').invalid && signupForm.get('fullname').touched">
				<span *ngIf="signupForm.get('fullname').hasError('required')" class="error-message">
					Họ và tên không được để trống !
				</span>
				<span
					*ngIf="signupForm.get('fullname').hasError('minlength') || signupForm.get('fullname').hasError('maxlength')"
					class="error-message">
					Họ và tên phải có từ 4 đến 50 ký tự !
				</span>

			</span>
			<input type="text" formControlName='phone' name='phone' placeholder="Số điện thoại" />
			<span *ngIf="signupForm.get('phone').invalid && signupForm.get('phone').touched">
				<span *ngIf="signupForm.get('phone').hasError('required')" class="error-message">
					Số điện thoại không được để trống !
				</span>
				<span *ngIf="signupForm.get('phone').hasError('pattern')" class="error-message">
					Số điện thoại phải có độ dài 10-11 số và bắt đầu bằng +84 hoặc 0 !
				</span>

			</span>
			<button class="signup-button" type="submit" [disabled]="!signupForm.valid">Đăng Ký</button>
			<!-- <input type="hidden" formControlName="role" value="role"> -->
		</form>
	</div>
</div>