<div class="card card-custom" style="float: 50px;">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Thông báo</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <div class="card-body" style="margin-bottom: -25px;">
    <div class="form-group row ">
    <div class="col-3"><img id="u14078_img" class="img "
      src="https://d1icd6shlvmxi6.cloudfront.net/gsc/EQM4L9/80/0e/29/800e29cc3ba546f187bbba4e1068a76b/images/qu_n_l__m__n_ct_t_i_kss/u13665.svg?token=b3a14e3b79b0baa5cc2f26c8ab39040b2eee3037fcf984f65230d8bb80ad384c"></div>
    <div class="col-9">
      <span>Xin chào datlv! Bạn vui lòng điền mật khẩu tài khoản để xác nhận đã nhận chứng từ.</span>
      <input type="password" class="form-control" formControlName="appCode" placeholder="Nhập password để xác nhận">
    </div>
    </div>
  </div >
  <div class="card-footer m-auto">
    <button type="button" mat-raised-button [mat-dialog-close] cdkFocusInitial>Hủy bỏ</button>&nbsp;
    <button type="button" class="ml-9" (click)="changeStatusCategory()" mat-raised-button color="primary">Xác nhận</button>
  </div>
</div>
