<div class="mb-10px"></div>
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Cập nhật giao chứng từ</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button">
        <i class="far fa-save"></i> Lưu
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <kt-portlet-body>
    <form>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Mã đơn vị: </label>
        <div class="col-3">
          <select class="form-control">
            <option>[ chọn]</option>
            <option value="1">Nộp trực tiếp</option>
            <option value="2">Nộp qua đơn vị vận chuyển</option>
          </select>
        </div>
        <label class="col-2 col-form-label text-right">ĐV vận chuyển </label>
        <div class="col-3">
          <select class="form-control">
            <option>[ chọn]</option>
            <option value="1">Đơn vị 1</option>
            <option value="2">Đơn vị 1</option>
            <option value="3">Đơn vị 3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Đề xuất gia hạn </label>
        <div class="col-3">
          <select class="form-control">
            <option value="1">Không</option>
            <option value="2">Có</option>
          </select>
        </div>
        <label class="col-2 col-form-label text-right">Số ngày gia hạn </label>
        <div class="col-3">
          <input class="form-control" placeholder="Nhập số ngày gia hạn" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right"> Lý do gia hạn</label>
        <div class="col-lg-8">
          <textarea class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right"> Ghi chú</label>
        <div class="col-lg-8">
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </form>
    <form>
      <div class="form-group row ml-40">
        <div class="col-lg-2">
          <input type="date" class="form-control" />
        </div>
        <div class="col-lg-2">
          <input type="date" class="form-control" />
        </div>
        <div class="col-1">
          <input class="form-control" />
        </div>
        <div class="col-2">
          <select class="form-control">
            <option>[Chọn ]</option>
            <option value="1">CTKT</option>
            <option value="2">Loại 2</option>
          </select>
        </div>
        <div class="col-lg-3">
          <input class="form-control" />
        </div>
        <div class="ml-5">
          <button mat-raised-button color="primary" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <div class="mat-table-wrapper mt-5">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="text-center">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef>STT</th>
            <td mat-cell *matCellDef="let element">{{ element.stt }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef>Từ ngày CT</th>
            <td mat-cell *matCellDef="let element">{{ element.dknq }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef>Đến ngày CT</th>
            <td mat-cell *matCellDef="let element">{{ element.refcode }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef>Số tập</th>
            <td mat-cell *matCellDef="let element">{{ element.ptks }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef>Loại CT</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ngaygiaingan }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell *matCellDef="let element">{{ element.ngaydenhan }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
            <td mat-cell class="col-center width" *matCellDef="let element">
              <a routerLink="/check-document/add-license">
                <mat-icon>create</mat-icon></a
              >
              <button type="button" mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
