<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin chung</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>ID KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Kiều Cao Long" readonly>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>MÃ REF</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<!-- thông tin nghị quyết -->
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin nghị quyết</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">
              Người phê duyệt</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Cấp phê duyệt</label>
            <div class="col-8">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-4 col-form-label">Ngày phê duyệt</label>
            <div class="col-8">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Loại điều kiện</label>
            <div class="col-8">
              <select class="form-control">
                <option>[Lựa chọn]</option>
                <option value="1">Điều kiện nghị quyết</option>
                <option value="2">Điều kiện doanh thu</option>
                <option value="3">Điều kiện sản phẩm</option>
                <option value="4">Không</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
        <mat-icon>assignment</mat-icon>
        Danh sách nghị quyết
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Nhóm điều kiện nghị quyết </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Mã REF </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Phương thức kiểm soát </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Ngày giải ngân/Ngày hiệu lực TSBD (tháng/ngày/năm) </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef> Ngày đến hạn </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaydenhan}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
            <td mat-cell class="col-center" *matCellDef="let element">
              <button type="button" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </mat-expansion-panel>
</mat-accordion>
<kt-portlet>
  <kt-portlet-body>

    <mat-tab-group>
      <mat-tab label="Điều kiện nghị quyết">
        <div class="row">
          <div class="col text-right">
            <button mat-raised-button color="primary" type="button" (click)="addNew()">
              <i class="far fa-save"></i>
            </button>
          </div>
        </div>
        <br>
        <form action="#">
          <div class="form-group container row">
            <div class="col-6 ">
              <div class="form-group row">
                <label class="col-4 col-form-label text-left required">Nhóm điều kiện nghị quyết </label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Định Kỳ</option>
                    <option value="2">MĐSDV</option>
                    <option value="3">Bán chéo</option>
                    <option value="4">Bảo hiểm TSĐB</option>
                    <option value="5">Định giá TSĐB</option>
                    <option value="6">Quan hệ tín dụng</option>
                    <option value="7">Tài chính</option>
                    <option value="8">Pháp lý</option>
                    <option value="9">BHNT</option>
                    <option value="10">Khác</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left required">Phương thức kiểm soát </label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Bổ sung chứng từ</option>
                    <option value="2">Hệ thống</option>
                    <option value="3">Bổ sung chứng từ & Hệ thống</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left required">Tần suất ĐKNQ </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Chế tài </label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label text-left required">Bổ sung chứng từ MĐSDV </label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Có</option>
                    <option value="2">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left required">Nội dung</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Điều kiện nghị quyết</option>
                    <option value="2">Điều kiện doanh thu</option>
                    <option value="3">Điều kiện sản phẩm</option>
                    <option value="4">Không</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Tên chứng từ yêu cầu</label>
                <div class="col-8">
                  <input class="form-control" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label text-left">Ngày bổ sung chứng từ</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-12 container row ">
            <label class="col-2 col-form-label text-left">Ghi chú: </label>
            <div class="col-10">
              <textarea class="form-control" placeholder=""></textarea>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Điều kiện doanh thu">
        <div class="row">
          <div class="col text-right">
            <button mat-raised-button color="primary" type="button" (click)="addNew()">
              <i class="far fa-save"></i>
            </button>
          </div>
        </div>
        <br>
        <form action="#">
          <div class="form-group container row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 required">
                  Phương thức kiểm soát</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Kiểm tra hệ thống</option>
                    <option value="2">Bổ sung chứng từ</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Nguyên tắc tạo kỳ</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">Chẵn Quý</option>
                    <option value="2">Ngày GN đầu tiên</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Tần suất</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Thời hạn kiểm tra</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Nội dung</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Tên chứng từ yêu cầu</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 required">Loại bút toán ghi nhận</label>
                <div class="col-8">
                  <select class="form-control">
                    <option>[Lựa chọn]</option>
                    <option value="1">(TT)</option>
                    <option value="2">All giao dịch</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Dòng tiền thực hiện (10)</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ngày bổ sung chứng từ</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Chế tài</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Điều kiện sản phẩm">
        <div class="row">
          <div class="col text-right">
            <button mat-raised-button color="primary" type="button" (click)="addNew()">
              <i class="far fa-save"></i>
            </button>
          </div>
        </div>
        <br>
        <form action="#">
          <div class="form-group container row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 required">
                  Thời hạn kiểm tra </label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Tần suất</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Nội dung</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Tên chứng từ yêu cầu</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4">Ngày bổ sung chứng từ</label>
                <div class="col-8">
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 required">Chế tài</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4">Ghi chú</label>
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>

    </mat-tab-group>
  </kt-portlet-body>
</kt-portlet>