<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Nhóm điều kiện</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button
        mat-raised-button matTooltip="Add new group condition"
        color="primary"
        type="button"
        (click)="addGroupCondition()">
        <span>Thêm mới</span>
      </button>
    </ng-container>
  </kt-portlet-header>

  <!-- start form search -->
  <div class="row form-group mt-10" [formGroup]="formGroup">
    <label class="col-2 col-form-label text-right" for="input-code-condition">Mã điều kiện</label>
    <div class="col-3">
      <input type="text" class="form-control" id="input-code-condition"
             formControlName="appCode" placeholder="Nhập mã điều kiện cần tìm"/>
    </div>
    <label class="col-2 col-form-label text-right" for="input-name-condition">Tên điều kiện</label>
    <div class="col-3">
      <input type="text" class="form-control" id="input-name-condition"
             formControlName="appName" placeholder="Nhập tên điều kiện cần tìm"/>
    </div>
    <div class="col-2 text-center">
      <button class="mr-5"
              mat-raised-button
              color="primary"
              type="button"
              (click)="searchGroupCondition()">
        <span><i class="fas fa-search mr-2"></i>Tìm kiếm</span>
      </button>
    </div>
  </div>
  <!-- end form search -->

  <!-- end::Header -->

  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt"
              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="parentCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Phân khúc</th>
          <td mat-cell *matCellDef="let element"> {{element.parentCode}} </td>
        </ng-container>

        <ng-container matColumnDef="appCode">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Mã ĐK</th>
          <td mat-cell *matCellDef="let element"> {{element.appCode}} </td>
        </ng-container>

        <ng-container matColumnDef="appName">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Điều kiện</th>
          <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="describe">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="2">Mô tả</th>
          <td mat-cell *matCellDef="let element"> {{element.extraObj.describe}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="editGroupCondition(element)">
              <mat-icon>create</mat-icon>
            </button>&nbsp;
            <button mat-icon-button color="primary" type="button"
                    (click)="deleteGroupCondition(element)">
              <mat-icon>delete</mat-icon>
            </button>&nbsp;
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
