<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span>Danh sách yêu cầu mượn chứng từ</span>
    </ng-container>

    <ng-container ktPortletTools>
      <button class="container" mat-raised-button color="primary" type="button" (click)="addNew()">
        <span><i class="fas fa-plus-circle mr-2 text-light"></i>Thêm mới</span>
      </button>
    </ng-container>

  </kt-portlet-header>

  <!-- end form search -->
  <!-- end::Header -->

  <kt-portlet-body>

    <form >
      <div class="form-group row ">
        <ng-container ktPortletTitle>
          <div class="col-1">
            <label class=" col-form-label text-right">Ngày mượn: </label>
          </div>
          <div class="col-3">
            <div style="display: flex">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Từ" name="expectFromDate" [(ngModel)]="tblSlipBorrow.expectFromDate">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Đến" name="expectToDate" [(ngModel)]="tblSlipBorrow.expectToDate">
            </div>
          </div>
          <div class="col-1">
            <label class="col-form-label text-right">Ngày trả dự kiến: </label>
          </div>
          <div class="col-3">
            <div style="display: flex">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" name="expectFromDateEnd" class="form-control w-50"
                placeholder="Từ" [(ngModel)]="tblSlipBorrow.expectFromDateEnd">
              <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')" class="form-control w-50"
                placeholder="Đến" name="expectToDateEnd" [(ngModel)]="tblSlipBorrow.expectToDateEnd">
            </div>
          </div>
          <div class="col-1">
            <label class=" col-form-label text-right">Trang thái:</label>
          </div>
          <div class="col-3">
            <select class="form-control" name="expectToDateEnd" [(ngModel)]="tblSlipBorrow.expectToDateEnd">
              <option value="">Tất cả</option>
              <option [value]="'RL01'"> Khởi tạo</option>
              <option [value]="'RL02'"> Gửi đề nghị mượn</option>
              <option [value]="'RL03'"> Đồng ý cho mượn</option>
              <option [value]="'RL03'"> Đang mượn</option>
              <option [value]="'RL03'"> Đã trả</option>
              <option [value]="'RL03'"> Không đồng ý</option>
            </select>
          </div>
        </ng-container>
      </div>

      <div class="form-group row ">
        <ng-container ktPortletTitle style="display: inline-block; position: relative;">

            <div class="col-1">
              <label class=" col-form-label text-right">User mượn: </label>
            </div>
            <div class="col-3">
              <input class="form-control" formControlName="appCode" placeholder="Nhập ID user">
            </div>
            <div class="text-right">
              <button color="primary" type="submit" style="position: absolute; right: 30px;" (click)="doSearchSlipBorrow()" mat-raised-button>
                <span><i class="fas fa-search mr-2 "></i>Tìm kiếm</span>
              </button>
            </div>
          <div class="col-1">
            <label class=" col-form-label text-right">Người mượn: </label>
          </div>
          <div class="col-3">
            <input class="form-control" name="createUsername" placeholder="Nhập ID user" [(ngModel)]="tblSlipBorrow.createUsername">
          </div>
          <div class="text-right">
            <button color="primary" type="submit" style="position: absolute; right: 30px;"
              (click)="doSearchSlipBorrow()" mat-raised-button>
              <span><i class="fas fa-search mr-2 "></i>Tìm kiếm</span>
            </button>
          </div>
        </ng-container>
      </div>
    </form>

    <div class="mat-table-wrapper-dashboard">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
            {{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="expectFromDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Dự kiến mượn</th>
          <td mat-cell *matCellDef="let element"> {{element.expectFromDate}} </td>
        </ng-container>

        <ng-container matColumnDef="expectToDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Dự kiến trả
          </th>
          <td mat-cell *matCellDef="let element"> {{element.expectToDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Trạng thái</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Lý do</th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>
        <ng-container matColumnDef="createUsername">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Người mượn</th>
          <td mat-cell *matCellDef="let element"> {{element.createUsername}} </td>
        </ng-container>
        <ng-container matColumnDef="createDtm">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày yêu cầu</th>
          <td mat-cell *matCellDef="let element"> {{element.createDtm}} </td>
        </ng-container>
        <ng-container matColumnDef="borrowUsername">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Người nhận CT
          </th>
          <td mat-cell *matCellDef="let element"> {{element.borrowUsername}} </td>
        </ng-container>
        <ng-container matColumnDef="actualToDate">
          <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày nhận CT</th>
          <td mat-cell *matCellDef="let element"> {{element.actualToDate}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <button type="button" mat-icon-button color="primary" (click)="updateBorrow()">
              <mat-icon>create</mat-icon>
            </button>
            <button type="button" mat-icon-button color="primary" (click)="browserBorrow()">
              <mat-icon>screen_share</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="deleteBorrow()" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="loading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>