<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <!-- <h3 class="card-label">{{user.fullname}}</h3> -->
        </div>
        <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
</div>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">{{user.fullname}}</h6>
                                <p><i class="fa fa-birthday-cake" aria-hidden="true"></i>{{user.birthday}}</p>
                                <!-- <i class="fa fa-venus" aria-hidden="true" style="color:rgb(252, 115, 115)" *ngIf="user.gender==-1"></i>
                                <i class="fa fa-mars" aria-hidden="true" style="color:rgb(54, 44, 248)"  *ngIf="user.gender==1"></i>
                                <i class="fa fa-mars" aria-hidden="true" style="color:rgb(43, 253, 113)"  *ngIf="user.gender==0"></i> -->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Thông tin tài khoản</h6>
                                <div class="row">
                                    <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Tên tài khoản:  &nbsp;</p>
                                        <p >{{user.username}}</p>
                                </div>
                                <div class="row">
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email:  &nbsp;</p>
                                        <p>{{user.email}}</p>
                                </div>
                                <div class="row">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Số điện thoại: &nbsp;</p>
                                        <p >{{user.phone}}</p>
                                </div>
                                <div class="row">
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Địa chỉ: &nbsp;</p>
                                        <p >{{user.address}}</p>
                                </div>
                                <div class="row">
                                    <p><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Số dư: &nbsp;</p>
                                        <p >{{user.balance}} VND</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
                <i class="fas fa-times"></i> Đóng
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" >
                <i class="far fa-save"></i> Phê duyệt
            </button>
        </div>
    </div>
</div>
