<div class="card card-custom">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label"> thêm bài đăng</h3>
      </div>
      <i class="fas fa-times"[mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
    </div>
    <div class="card-body">
<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-2"id="kt_wizard_v2"data-wizard-state="step-first">
			<div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10"style="max-width:30% !important">
				<!--begin: Form Wizard Nav -->
				<div class="wizard-steps">
				
					<a class="wizard-step"href="javascript:;"data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"[inlineSVG]="'assets/media/svg/icons/Map/Compass.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
								Thông tin bài đăng
								</div>
								<div class="wizard-desc">
									Choose Your Location Map
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step"href="javascript:;"data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"[inlineSVG]="'assets/media/svg/icons/General/Thunder-move.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Danh sách ảnh
								</div>
								<div class="wizard-desc">
									Add Your Support Agents
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step"href="javascript:;"data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"[inlineSVG]="'assets/media/svg/icons/Map/Position.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
                                Thông tin chi tiết loại nhà
                                </div>
								<div class="wizard-desc">
									Address, Street, City, State
								</div>
							</div>
						</div>
					</a>
			
				
				</div>
				<!--end: Form Wizard Nav -->

			</div>
			<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
				<!--begin: Wizard Form-->
				<div class="row">
					<div class="offset-xxl-2 col-xxl-8">
						<!--begin: Form Wizard Form-->
						<form [formGroup]="itemForm"class="form"id="kt_form" (ngSubmit)='onSubmit()'>
							<!--begin: Form Wizard Step 1-->
				
							<!--end: Form Wizard Step 1-->

							<!--begin: Form Wizard Step 2-->
							<div class="pb-5"data-wizard-type="step-content">
								<h4 class="mb-10 font-weight-bold text-dark">Thông tin bài đăng</h4>
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Loại bài đăng</label>
							
											<select class="form-control"(change)="onChangeMotelType($event.target.value)">
												<option [value]="1"[selected]="itemForm.get('motelType').value ===1"> Phòng trọ</option>
												<option [value]="2"[selected]="itemForm.get('motelType').value===2">Chung Cư</option>
												<option [value]="3"[selected]="itemForm.get('motelType').value===3">Nhà nguyên căn</option>
											</select>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tên tiêu đề</label>
											<input      type="text"class="form-control"formControlName='title'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
                                </div>
                                <div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Người liên hệ</label>
											<input      type="text"class="form-control"formControlName='contactPerson'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Số điện thoại</label>
											<input      type="text"class="form-control"formControlName='contactPhone'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>

								<div class="row">
								
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tỉnh</label>
											
											<ng-autocomplete  [data]="dataProvince"[searchKeyword]="keywordProvince"(selected)='selectProvice($event)'
											[itemTemplate]="itemTemplate"
											[notFoundTemplate]="notFoundTemplate"
											(inputChanged)='onChangeSearchProvice($event)'
											(inputFocused)='onFocused($event)'
											formControlName='ProvinceFake'
											>
										 </ng-autocomplete>
									
										<ng-template #itemTemplate let-item>
											<a [innerHTML]="item.name"></a>
										</ng-template>
									
										<ng-template #notFoundTemplate let-notFound>
										  <div [innerHTML]="notFound"></div>
										</ng-template>
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
										
									
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Quận/huyện</label>
											
											<ng-autocomplete  [data]="dataDistrict"[searchKeyword]="keywordDistrict"(selected)='selectDistrict($event)'
											[itemTemplate]="itemTemplate"
										   [notFoundTemplate]="notFoundTemplate"
										   (inputChanged)='onChangeSearchDistrict($event)'
										   formControlName='districtFake'
										   (inputFocused)='onFocusedDistrict($event)'

										   >
									   </ng-autocomplete>
										</div>
									</div>
									
								</div>
								<div class="row">
									
									<div class="col-xl-6">
										<div class="form-group">
											<label>Phường/Xã</label>
											
											<ng-autocomplete  [data]="dataWard"[searchKeyword]="keywordWard"(selected)='selectWard($event)'
											[itemTemplate]="itemTemplate"
										   [notFoundTemplate]="notFoundTemplate"
										   (inputChanged)='onChangeSearchWard($event)'
										   formControlName='wardsFake'
										   (inputFocused)='onFocusedWards($event)'

										   >
									   </ng-autocomplete>
										</div>


									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Địa chỉ</label>
											<input      type="text"class="form-control"formControlName='street' >
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>Diện tích min</label>
											<input      type="text"class="form-control"formControlName='acreageMin'>
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-3">
										<div class="form-group">
											<label>Diện tích max</label>
											<input      type="text"class="form-control"formControlName='acreageMax'>
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
									</div>
									<div class="col-xl-3">
										<div class="form-group">
											<label>Tiền nhà min</label>
											<input      type="text"class="form-control"formControlName='priceMin'>
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                    <div class="col-xl-3">
										<div class="form-group">
											<label>Tiền nhà max</label>
											<input      type="text"class="form-control"formControlName='priceMax' >
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
                                  
								
								</div>
							
                              
                                <div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>Tiền Cọc</label>
											<input      type="text"class="form-control"formControlName='deposits'>
											<span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
									<div class="col-xl-9">
										<div class="form-group">
											<label>Nội dung</label>
                                            <textarea rows="4"cols="50"  class="form-control"formControlName='description'></textarea>
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
										</div>
                                    </div>
								
                                </div>
                                
                                
							</div>
							<!--end: Form Wizard Step 2-->

							<!--begin: Form Wizard Step 3-->
							<div class="pb-5"data-wizard-type="step-content">
								<h4 class="mb-10 font-weight-bold text-dark">Danh sách ảnh</h4>
								<div class="row">
								<div class="col-xl-6">
									<div class="form-group">
										<label>Ảnh 1</label>
										<input      type="text"class="form-control"formControlName='image1'>
										<span class="form-text text-muted">Please enter your Address.</span>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="form-group">
										<label>Ảnh 2</label>
										<input      type="text"class="form-control"formControlName='image2'>
										<span class="form-text text-muted">Please enter your Address.</span>
									</div>
								</div>
								</div>
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Ảnh 3</label>
											<input      type="text"class="form-control" formControlName='image3'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Ảnh 4</label>
											<input      type="text"class="form-control"formControlName='image4'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									</div>
								
                                
							</div>
							<!--end: Form Wizard Step 3-->

							<!--begin: Form Wizard Step 4-->
							<div class="pb-5"data-wizard-type="step-content" *ngIf='itemForm.get("motelType").value  === 1'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Nhà trọ</h4>
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chung chủ</label>
											<select class="form-control" formControlName='liveWithHost' >
												<option [value]="1"[selected]="itemForm.get('liveWithHost').value===1"> Có</option>
												<option [value]="2"[selected]="itemForm.get('liveWithHost').value===2">Không</option>
											</select>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Vệ sinh khép kín</label>
											<select class="form-control" formControlName='privateToilet' >
												<option [value]="1"[selected]="itemForm.get('privateToilet').value===1"> Có</option>
												<option [value]="2"[selected]="itemForm.get('privateToilet').value===2">Không</option>
											</select>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
							</div>
							<div class="pb-5"data-wizard-type="step-content" *ngIf='itemForm.get("motelType").value  === 2'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Chung cư</h4>
									
							
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Hướng nhà</label>
											<select class="form-control" formControlName='direction' >
												<option [value]="1"[selected]="itemForm.get('direction').value ===1"> Đông</option>
												<option [value]="2"[selected]="itemForm.get('direction').value===2">Tây</option>
												<option [value]="3"[selected]="itemForm.get('direction').value===3"> Nam</option>
												<option [value]="4"[selected]="itemForm.get('direction').value===4">Bắc</option>
											</select>
										
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tình trạng căn hộ</label>
											<input      type="text"class="form-control"formControlName='apartmentSituation' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-4">
										<div class="form-group">
											<label>Tầng</label>
											<input      type="text"class="form-control"formControlName='floor' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng ngủ</label>
											<input      type="text"class="form-control"formControlName='numberBedroom'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng WC</label>
											<input      type="text"class="form-control"formControlName='numberToilet' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
                                </div>
							</div>
							<div class="pb-5"data-wizard-type="step-content" *ngIf='itemForm.get("motelType").value === 3'>

                                <h4 class="mb-5 font-weight-bold text-dark">Thông tin Nguyên căn</h4>
									
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Hướng nhà</label>
											<select class="form-control" formControlName='direction' >
												<option [value]="1"[selected]="direction===1"> Đông</option>
												<option [value]="2"[selected]="direction===2">Tây</option>
												<option [value]="3"[selected]="direction===1"> Nam</option>
												<option [value]="4"[selected]="direction===2">Bắc</option>
											</select>
										
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Tình trạng căn hộ</label>
											<input      type="text"class="form-control"formControlName='apartmentSituation' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số tầng</label>
											<input      type="text"class="form-control"formControlName='numberFloor'>
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng ngủ</label>
											<input      type="text"class="form-control"formControlName='numberBedroom' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-4">
										<div class="form-group">
											<label>Số phòng WC</label>
											<input      type="text"class="form-control"formControlName='numberToilet' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chiều dài</label>
											<input      type="text"class="form-control"formControlName='length' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="form-group">
											<label>Chiểu rộng</label>
											<input      type="text"class="form-control"formControlName='width' >
											<span class="form-text text-muted">Please enter your Address.</span>
										</div>
									</div>
								</div>
							</div>
							<!--end: Form Wizard Step 4-->

						
					

							<!--begin: Form Actions -->
							<div class="d-flex justify-content-between border-top pt-10">
								<div class="mr-2">
									<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"data-wizard-type="action-prev">
										Previous
									</div>
								</div>
								<div>
									<div (click)="onSubmit()"class="btn btn-success font-weight-bold text-uppercase px-9 py-4"data-wizard-type="action-submit">
										Submit
									</div>
									<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"data-wizard-type="action-next">
										Next Step
									</div>
								</div>
							</div>
							<!--end: Form Actions -->
						</form>
						<!--end: Form Wizard Form-->
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
</div>