<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách tài sản đảm bảo</span>
    </ng-container>

    <!--    <ng-container ktPortletTools>-->
    <!--      <button-->
    <!--        mat-raised-button-->
    <!--        color="primary"-->
    <!--        type="button"-->
    <!--        (click)="addNew()">-->
    <!--        <span>Thêm mới</span>-->
    <!--      </button>-->
    <!--    </ng-container>-->
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form class="form" [formGroup]="categoryForm">
      <div class="row form-group">
        <div class="col-10 w-100">
          <table class="w-100 ml-5">
            <tr *ngFor="let search of listTC; let i = index">
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                  <option [value]="'A'">Mã khách hàng</option>
                  <option [value]="'B'">Mã REF</option>
                  <option [value]="'C'">Số hợp đồng</option>
                  <option [value]="'D'">Sản phẩm</option>
                </select>
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">Toán tử</option>
                  <option [value]="'A'">EQ</option>
                  <option [value]="'B'">LIKE</option>
                </select>
              </td>
              <td colspan="3">
                <input type="text" class="form-control"
                       placeholder="Nhập thông tin tìm kiếm">
              </td>
              <td colspan="1">
                <select class="form-control">
                  <option value="" [defaultSelected]="true">Kết hợp</option>
                  <option [value]="'A'">And</option>
                  <option [value]="'B'">Or</option>
                </select>
              </td>
              <td colspan="1">
                <button class="ml-5 float-right" mat-raised-button (click)="deleteNewCriteria(i)" color="primary" type="button"><i class="fas fa-minus"></i></button>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-2">
          <button class="mr-5" mat-raised-button color="primary" type="button" (click)="addNewCriteria()"><i class="fas fa-plus"></i></button>
          <button mat-raised-button color="primary" type="button">Tìm kiếm</button>
        </div>
      </div>
    </form>
    <!-- end form search -->
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4 text-right mb-5">
        <button class="mr-5" mat-raised-button color="primary" type="button" routerLink="/disbursement/approval">Phê duyệt</button>
<!--        <button mat-raised-button color="primary" type="button"><i class="far fa-save"></i>Lưu</button>-->
      </div>
    </div>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource" style="border-collapse: collapse">

<!--        <ng-container matColumnDef="stt">-->
<!--          <th mat-header-cell *matHeaderCellDef>STT</th>-->
<!--          <td mat-cell-->
<!--              *matCellDef="let element; let i = index"> {{(this.paginator.pageIndex * this.paginator.pageSize) + i + 1}}</td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="maCN">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Mã CN</th>
          <td mat-cell *matCellDef="let element" style="width: 200px"> {{element.maCN}} </td>
        </ng-container>

        <ng-container matColumnDef="tenCN">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Tên CN</th>
          <td mat-cell *matCellDef="let element" style="width: 200px"> {{element.tenCN}} </td>
        </ng-container>

        <ng-container matColumnDef="maKH">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Mã KH</th>
          <td mat-cell *matCellDef="let element" style="width: 200px"> {{element.maKH}} </td>
        </ng-container>

        <ng-container matColumnDef="tenKH">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Tên KH</th>
          <td mat-cell *matCellDef="let element" style="width: 200px"> {{element.tenKH}} </td>
        </ng-container>

        <ng-container matColumnDef="maMD">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Mã MD</th>
          <td mat-cell *matCellDef="let element"> {{element.maMD}} </td>
        </ng-container>

        <ng-container matColumnDef="maTSDB">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Mã chi tiết TSĐB</th>
          <td mat-cell *matCellDef="let element"> {{element.maTSDB}} </td>
        </ng-container>

        <ng-container matColumnDef="moTaTS" >
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Mô tả TS</th>
          <td mat-cell *matCellDef="let element"> {{element.moTaTs}} </td>
        </ng-container>

        <ng-container matColumnDef="kyDGTS">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Kỳ định giá TS</th>
          <td mat-cell *matCellDef="let element"> {{element.kyDGTS}} </td>
        </ng-container>

        <ng-container matColumnDef="TTDGTS">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Trạng thái định giá TSĐB</th>
          <td mat-cell *matCellDef="let element"> {{element.TTDGTS}} </td>
        </ng-container>

        <ng-container matColumnDef="TTKTTS">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">Trạng thái kiểm tra TSĐB</th>
          <td mat-cell *matCellDef="let element"> {{element.TTKTTS}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Thao tác</th>
          <td mat-cell class="col-center" *matCellDef="let element">
            <a routerLink="/disbursement/infor-valuation"> <mat-icon>insert_drive_file</mat-icon></a>
            <a routerLink="/disbursement/asset" > <mat-icon>create</mat-icon></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="mat-table-message" *ngIf="isLoading">Loading....</div>
    </div>
    <div class="mat-table-bottom">
      <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
