<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin chi tiết hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button"
        >
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row container-fluid">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>ID KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên KH</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Kiều Cao Long" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>MÃ REF</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại hợp đồng</strong></label>
            <div class="col-8">
              <select class="form-control" >
                <option value="" [defaultSelected]="true">[Tiêu chí]</option>
                <option [value]="'A'">Hạn mức (Tuần hoàn)</option>
                <option [value]="'B'">Món(Không tuần hoàn)</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Số tiền giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="REF1932500085" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Loại tiền</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="12345" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Ngày giải ngân</strong></label>
            <div class="col-8">
              <input type="text" class="form-control"  value="26/09/2017" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label"><strong>Tên sản phẩm SeABank</strong></label>
            <div class="col-8">
              <input type="text" class="form-control" value="Vay ngoai SP TT Dly(Hạn mức)" readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>

<!-- thông tin nghị quyết -->
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Thông tin khoản vay</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> STT </th>
            <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef> Mã LOS </th>
            <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef> Số tiền giải ngân </th>
            <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef> Ngày giải ngân đầu tiên </th>
            <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef> Ngày đến hạn </th>
            <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách nghị quyết</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button matTooltip="Add new group error"
        color="primary"
        type="button"
       >
        <span>Phê duyệt</span>
      </button>
      <button
        mat-raised-button matTooltip="Add new group error"
        color="primary"
        type="button"
       >
        <span>Từ chối</span>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <kt-portlet-body>

    <mat-tab-group>
      <mat-tab label="Điều kiện nghị quyết">
        <ng-template mat-tab-label>
          
          Điều kiện nghị quyết
         
          <button type="button" (click)="decisionDialog()" class="btn btn-primary">  <i class="far fa-plus-square"  color="primary"></i></button>
        </ng-template>
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Nhóm điều kiện nghị quyết </th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Phương thức kiểm soát </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu tạo kỳ kiểm tra </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="tenchungtu">
                <th mat-header-cell *matHeaderCellDef> Tên CT yêu cầu </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="ngaybosung">
                <th mat-header-cell *matHeaderCellDef> Ngày bổ sung chứng từ </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Thao tác </th>
                <td mat-cell *matCellDef="let element"> 
                   <button type="button" mat-icon-button (click)="decisionDialog()" color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedDKNQ"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKNQ;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
    
        </div>
      </mat-tab>
      <mat-tab label="Điều kiện doanh thu">
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Nguyên tắc tạo kỳ </th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Phương thức kiểm soát </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Tần suất(Số tháng) </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu tạo kỳ kiểm tra </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="tenchungtu">
                <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="ngaybosung">
                <th mat-header-cell *matHeaderCellDef> Loại bút toán ghi nhận </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="noidung">
                <th mat-header-cell *matHeaderCellDef> Tên chứng từ yêu cầu </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="ghichu">
                <th mat-header-cell *matHeaderCellDef> Ngày bổ sung chứng từ </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Thao tác </th>
                <td mat-cell *matCellDef="let element"> 
                   <button type="button" mat-icon-button color="primary"  (click)="revenueDialog()">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedDKDT"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKDT;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
    
        </div>
      </mat-tab>
      <mat-tab label="Điều kiện sản phẩm">
        <div class="mat-table-wrapper">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="dknq">
                <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu tạo kỳ kiểm tra</th>
                <td mat-cell *matCellDef="let element"> {{element.dknq}} </td>
              </ng-container>
    
              <!-- Weight Column -->
              <ng-container matColumnDef="refcode">
                <th mat-header-cell *matHeaderCellDef> Tần suất </th>
                <td mat-cell *matCellDef="let element"> {{element.refcode}} </td>
              </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="ptks">
                <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.ptks}} </td>
              </ng-container>
    
              <!-- Name Column -->
              <ng-container matColumnDef="ngaygiaingan">
                <th mat-header-cell *matHeaderCellDef> Tên CT yêu cầu </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="tenchungtu">
                <th mat-header-cell *matHeaderCellDef> Ngày bổ sung chứng từ </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="ngaybosung">
                <th mat-header-cell *matHeaderCellDef> Chế tài </th>
                <td mat-cell *matCellDef="let element"> {{element.ngaygiaingan}} </td>
              </ng-container>

               <!-- Name Column -->
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Thao tác </th>
                <td mat-cell *matCellDef="let element"> 
                   <button type="button" mat-icon-button color="primary" (click)="productDialog()">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedDKNQ"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedDKNQ;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
    
        </div>
      </mat-tab>

    </mat-tab-group>
  </kt-portlet-body>
</kt-portlet>
