<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : loading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{titleHeader}}</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-1 col-form-label text-right">Tên điều kiện:</label>
        <div class="col-3">
          <input type="text"  class="form-control" placeholder="Nhập tên"/>
<!--          <div *ngIf="formGroup.controls.appCode.errors && (formGroup.controls.appCode.touched || formGroup.controls.appCode.dirty)" class="text-danger">-->
<!--            <div *ngIf="formGroup.controls.appCode.errors.required"><span>Mã nhóm lỗi không được để trống</span></div>-->
<!--          </div>-->
        </div>
        <label class="col-1 col-form-label text-right">Mã điều kiện:</label>
        <div class="col-3">
          <input type="text"  class="form-control" placeholder="Nhập mã"/>
<!--          <div *ngIf="formGroup.controls.appCode.errors && (formGroup.controls.appCode.touched || formGroup.controls.appCode.dirty)" class="text-danger">-->
<!--            <div *ngIf="formGroup.controls.appCode.errors.required"><span>Mã nhóm lỗi không được để trống</span></div>-->
<!--          </div>-->
        </div>
        <label class="col-1 col-form-label text-right required">Phân khúc</label>
        <div class="col-3">
          <select class="form-control"
                  >
            <option [value]="'A'">Hoạt động</option>
            <option [value]="'I'">Không hoạt động</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Ghi chú</label>
        <div class="col-10">
          <textarea class="form-control" rows="3" placeholder="Nhập ghi chú"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()"><i class="far fa-save"></i>
            {{titleButton}}
          </button>
          <button type="button" class="ml-3" mat-raised-button color="primary" [mat-dialog-close] >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
