<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Danh sách bản ghi hợp đồng</span>
    </ng-container>
    <ng-container ktPortletTools>
      <button
        mat-raised-button
        color="primary"
        type="button">
        <i class="far fa-save"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <form action="#">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Mã khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control" placeholder="Mã khách hàng">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Tên khách hàng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Mã REF</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Mã hợp đồng</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Số tiền giải ngân</strong></label>
          <div class="col-lg-7">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Ngày giải ngân</strong></label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label"><strong>Sản phẩm</strong></label>
          <div class="col-lg-7">
            <input type="text" class="form-control">
          </div>
        </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label"><strong>Chứng từ cần bổ sung</strong></label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>

<!-- Cập nhật mục đích sử dụng vốn -->

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="background-color: #E0E0E0;">
      <mat-panel-title>
          <mat-icon>assignment</mat-icon>
        Cập nhật mục đích sử dụng vốn
      </mat-panel-title>
    </mat-expansion-panel-header>
      <kt-portlet-body>
        <form action="#">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Mã LOS</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Kết quả kiểm tra</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Cán bộ kiểm tra</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Kiểm soát</strong></label>
              <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label"><strong>Ghi chú</strong></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </form>
      </kt-portlet-body>
  </mat-expansion-panel>
</mat-accordion>






