<div class="mb-10px">
</div>
<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <span>Duyệt giao CT tại GĐ ĐVNV</span>
    </ng-container>
    <ng-container ktPortletTools  >
      <button mat-raised-button color="primary" type="button">
        <mat-icon>cached</mat-icon>Hủy duyệt
      </button>
    </ng-container>
    <ng-container ktPortletTools >
      <button mat-raised-button color="primary" type="button"  class="ml-5">
      <mat-icon>check</mat-icon>Xác nhận
      </button>
    </ng-container>
    <ng-container ktPortletTools>
      <button mat-raised-button color="primary" type="button"  class="ml-5">
       <mat-icon>highlight_off</mat-icon> Từ chối
      </button>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <kt-portlet-body>
      <div class="row ml-40">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Hình thức nộp</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">User giao</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Đề xuất gia hạn</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">ĐV vận chuyển</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Ngày giờ giao</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Số ngày đề xuất</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" readonly />
            </div>
          </div>
        </div>
      </div>
  <div class="ml-29">
    <div class="form-group row">
      <label class="col-2 col-form-label text-right"> Lý do gia hạn</label>
      <div class="col-lg-9">
        <textarea class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label text-right"> Ghi chú</label>
      <div class="col-lg-9">
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div>

    <div class="mat-table-wrapper mt-5">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="text-center">
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef>STT</th>
            <td mat-cell *matCellDef="let element">{{ element.stt }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dknq">
            <th mat-header-cell *matHeaderCellDef>Từ ngày CT</th>
            <td mat-cell *matCellDef="let element">{{ element.dknq }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="refcode">
            <th mat-header-cell *matHeaderCellDef>Đến ngày CT</th>
            <td mat-cell *matCellDef="let element">{{ element.refcode }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptks">
            <th mat-header-cell *matHeaderCellDef>Số tập</th>
            <td mat-cell *matCellDef="let element">{{ element.ptks }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ngaygiaingan">
            <th mat-header-cell *matHeaderCellDef>Loại CT</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ngaygiaingan }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ngaydenhan">
            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
            <td mat-cell *matCellDef="let element">{{ element.ngaydenhan }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
