<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->

        <ng-container ktPortletTitle>
            <span>Upload chứng từ</span>
        </ng-container>

        <ng-container ktPortletTools>
            <button mat-raised-button color="primary"  (click)="popupCreate()" type="button">
                <span><i class="fas fa-plus-circle mr-2 text-light"></i>Thêm mới</span>
            </button>
        </ng-container>
    </kt-portlet-header>
    <form class="form">
        <div class="row form-group justify-content-md-around  px-10">
            <div class="row col-md-4 col-sm-6 ">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label " for="input-error-code">Ngày giao</label>
                    <div class="col-md-8 d-flex justify-content-md-around " style="flex-wrap:wrap;">
                        <input class="form-control " style="width: 49%" type="date" />
                        <input class="form-control  " style="width: 49%" type="date" />
                    </div>
                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">Trạng.t duyệt</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nhận tên User">
                    </div>
                </div>
            </div>
            <div class="row col-md-4 col-sm-6">
                <div class="row w-100 mb-md-3">
                    <label class="col-md-4 col-form-label  " for="input-error-code">Ngày CT</label>
                    <div class="col-md-8 " >
                        <input class="form-control " type="date" />
                  

                    </div>
                </div>
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">User duyệt</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Nhận tên User">
                    </div>
                </div>
            </div>
            <div class="row col-md-4 col-sm-6">
                <div class="row w-100">
                    <label class="col-md-4 col-form-label " for="input-error-code">User giao</label>
                    <div class="col-md-8">
                        <input class="form-control" type="date" placeholder="Nhận tên User">
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-md-end pl-0 pr-8 mt-sm--4 align-items-center">
                    <button type="submit" mat-raised-button color="primary">
                        <i class="fas fa-search text-light mr-2"></i>Tìm kiếm
                    </button>
                </div>
            </div>

        </div>


    </form>
    <!-- end form search -->

    <!-- end::Header -->

    <kt-portlet-body>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell class="col-stt" *matCellDef="let element; let i = index">
                        {{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1"> Mã số CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.code }} </td>
                </ng-container>
                <ng-container matColumnDef="dateUpload">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ngày upload</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateUpload}} </td>
                </ng-container>
                <ng-container matColumnDef="userUpload">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">User upload</th>
                    <td mat-cell *matCellDef="let element"> {{element.userUpload}} </td>
                </ng-container>
                >
                <ng-container matColumnDef="totalPage">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Tổng số trang</th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPage}} </td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Từ ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Đến ngày CT</th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1">Ghi chú
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>
                <ng-container matColumnDef="watching">
                    <th mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnIndex]="1" >Xem CT</th>
                    <td mat-cell class="col-center" *matCellDef="let element">
                        <button type="button" mat-icon-button (click)="openPopup()" color="primary">
                            <mat-icon >description</mat-icon>
                        </button>                    
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table-message" *ngIf="loading">Loading....</div>
        </div>
        <div class="mat-table-bottom">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </kt-portlet-body>
    <!-- end::Body -->

</kt-portlet>
<router-outlet></router-outlet>