<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Thêm mới lưu kho</h3>
    </div>
    <i class="fas fa-times" [mat-dialog-close] style="margin: auto 0; cursor: pointer"></i>
  </div>
  <form class="form">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" >
              Mã LOS</label>
            <div class="col-lg-7">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Từ ngày</label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">  Ngày lưu kho</label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Địa điểm lưu kho</label>
            <div class="col-lg-7">
              <select class="form-control">
                <option>[Chọn địa điểm lưu kho]</option>
                <option value="1">Kho Sài Đồng</option>
                <option value="2">Kho Phố Huế </option>
                <option value="3">Kho Crown</option>
                <option value="4">Khác</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group row">
            <label class="col-lg-3 col-form-label" >Đến ngày</label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Mã thùng</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" placeholder="Nhập mã thùng">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Ngày kiểm tra</label>
            <div class="col-lg-7">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Cán bộ  quản lý</label>
            <div class="col-lg-7">
              <select class="form-control">
                <option>[Chọn ]</option>
                <option value="1">Đơn vị 1</option>
                <option value="2">Đơn vị 2 </option>
                <option value="3">Đơn vị 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-11">
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Lịch sử ghi chú</label>
            <div class="col-lg-10">
              <textarea  class="form-control" placeholder="Enter message"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="'close'" cdkFocusInitial>
            <i class="fas fa-times"></i> Đóng
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" >
            <i class="far fa-save"></i> Phê duyệt
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
